[2015-01-30 16:20] glasseyes42 commented on #676
Started seeing this periodically in our production system (which handles thousands of messages a minute so I don't think this is load related). Can take a few days and suddenly logs are full of this. Curiously its only recently started, no changes to code or versions (redis or client) in a good couple of months.

[2015-02-01 12:19] unlucio commented on #488
@JohnPostlethwait I'm having the same issue so I'm probably wrong as well: what were you doing wrong?

[2015-02-02 19:15] #700 closed

[2015-02-03 23:56] jadbox commented on #574
+1 for cluster support

[2015-02-05 08:09] givan commented on #676
We're having the same issue. In last 24 hours, we're getting 19,251 of these events. And it has been going like this for a while. We're able to recreate the connection after that, but I wonder why is that happening. I had our network operations look into tpcdumps to make sure it's not related to network packet loss, and they confirmed it's not hardware related. Also, as you can see from our logs,

[2015-02-05 15:07] nacholibre opened #712 "Group [member, score] when using WITHSCORES"
When trying to get members of sorted set with scores, the client returns them as `[member1, score1, member2, score2]` and making `[ [member1, score1], [member2, score2] ]` is almost always necessary. I think the client should do that for you. What do you think?

I know this will break the API and probably slow down the client, but this doesn't make it bad idea. In order to use the scores or the me

[2015-02-06 09:38] qubyte commented on #302
Sorry for the me-too... What's the progress on this? It looks like there's no active development on this module right now.

[2015-02-09 10:25] ayazpasha2434 opened #713 "Read ECONNRESET every 3 mins - NodeJS server crashes due to this. Using newrelic plugin for server monitoring."
Error: Redis connection to redis1.tfs.tfs:6379 failed - read ECONNRESET    at RedisClient.on_error (/var/www/a/b/c/node_modules/redis/index.js:196:24)    at Socket.<anonymous> (/var/www/a/b/c/node_modules/redis/index.js:106:14)
    at Socket.emit (events.js:95:17)
    at net.js:441:14
   at /var/www/a/b/c/node_modules/newrelic/node_modules/continuation-local-storage/node_modules/async-listener/glu

[2015-02-09 18:01] brycebaril commented on #713
To me, this sounds like a networking issue outside Node.js, this error "ECONNRESET" is when the remote connection to Node.js closes the socket unexpectedly.

Are you using a proxy between Node and Redis?

What version of Node/node_redis/Redis server?

I doubt the NewRelic agent is involved, but you could always try to reproduce without the agent and see if that fixes the issue. cc/ @wraithan

[2015-02-09 23:04] simonlast commented on #680
What's the status on this? I'm getting a similar issue using ElastiCache Redis.

[2015-02-10 01:55] wraithan commented on #713
Those lines are just CLS doing it's thing. With more of a repro I could fully rule out the New Relic agent. But I'm relatively confident this isn't being caused by us.

[2015-02-10 08:08] ayazpasha2434 commented on #713
I removed the NewRelic agent, the problem still occurs. Approx. every 3 mins I get this crash happening. Below are the logs for reference.

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: Redis connection to redis1.tfs.tfs:6379 failed - read ECONNRESET
    at RedisClient.on_error (/var/www/a/b/c/node_modules/redis/index.js:196:24)
    at Socket.<anonymous> (/var/ww

[2015-02-11 22:31] Mickael-van-der-Beek opened #714 "Difference between unref(), quit() and end()"
Like the title indicates, even after reading the documentation, it's unclear to me what the difference is between ```unref()```, ```quit()``` and ```end()```.

- Which one should I use and in which use case ?

```end()``` seems to close a connection without waiting for all the sockets to be closed.
```unref()``` seems to wait for all the commands to end.
```quit()``` seems to be similar to ```unre

[2015-02-12 03:37] brycebaril commented on #714
`end()` is designed for use where you're terminating the application NOW, e.g. an `uncaughtException` handler, and don't anticipate or want to wait for (if any) replies from commands you may have sent that have not come back from Redis yet.

`quit()` is designed for when you are done with this connection and want to close it, but allow the unfinished activity to complete. **In most cases if you ar

[2015-02-12 03:37] #714 closed

[2015-02-12 03:42] brycebaril commented on #714
Then `end` event only gets emit from when you call `quit()` apparently. Not sure exactly why without research.

[2015-02-12 21:16] sarathms commented on #713
I was facing this problem too, but just got resolved after I realized I was playing around with my `/etc/hosts` file yesterday for some other reason. It was missing:
[code]
@ayazpasha2434 the solution might not be the same for you, but like others are hinting, it is defintely outside node and in the env/shell/OS/VM. Step back a little and stare at it.

[2015-02-13 07:31] ayazpasha2434 commented on #713
@sarathms I have this mapping in my hosts file. However, the Redis machine in my case is a remote one. Just cross-checked, I have the said localhost mapping in Redis machine as well. Still the problem is not solved.

[2015-02-18 16:43] drwicked commented on #700
I'm having this issue too. What did you find you?

[2015-02-18 23:24] ianjuma commented on #618
@fabriziomoscon  same error, anything new on this? a version incompatibility issue?

[2015-02-19 17:25] ajones513 commented on #678
My results...

Using Hiredis | Size | Write (ms) | Read (ms)
---|---|---|---
No | 25 MB | 22 | 4114
No | 50 MB | 39 | 15128
Yes | 25 MB | 24 | 1026
Yes | 50 MB | 38 | 2007

Looks pretty linear with Hiredis.

[2015-02-23 06:51] enobufs opened #715 "SCRIPT LOAD with invalid lua script does not receive error"
I am loading lua script like below and noticed that the callback does not return error (in 1st arg) when an invalid lua script is passed.

When such compile error occurs, shouldn't it fail with the first arg of the callback (`err') being an Error object?

[code]

I am using redis (client) v0.12.1. The v0.10.0 and v0.11.0 behave the same way... fyi.

[2015-02-23 09:52] bgSosh commented on #587
Similar issues here.

[2015-02-25 06:08] mranney commented on #678
Thanks for digging into this. I have confirmed these results, and there is not an easy way to fix this with the JS parser. It's certainly not impossible to fix in the JS parser, but it'll be some delicate surgery to do without slowing down or breaking the common case. I guess this is a good reason to keep hiredis working, at least until we can fix it.

For the curious, here's a flame graph of the

[2015-02-25 06:19] brycebaril commented on #678
I've done a lot of benchmarking as well and have seen this is an issue with the parser. I've played with some things to try and fix it but it would be an api change for sure.

[2015-02-25 17:56] matthewhafner commented on #674
Hello All,

Has anyone found a cause/solution for this issue? I am having the same problems as the initial post.

Nodejs v0.10.31
redis server: 2.8.12
node_redis: v0.7.3

Thank you very much.

[2015-02-26 04:12] cynosureabu opened #717 "ERR wrong number of arguments for HMSET"
I keep randomly receive 	" ERR wrong number of arguments for HMSET" exception. But I have wrap all the hmset calls with try catch:
[code]
 but I still get uncaught exception as below:

[code]

Any idea?

[2015-02-26 07:36] brycebaril commented on #717
the `try/catch` construct does not work on asynchronous calls like this. This error is a protocol error from your HMSET use being incorrect, but what happens in your code snippet is

1. the first `logger.debug` call
2. the `try` block begins
3. the outgoing HMSET call to redis is made
4. the `logger.debug` call is made
5. the `try` block finishes with no exception
6. the `catch` block is skipped b

[2015-02-26 07:36] #717 closed

[2015-02-26 08:22] cynosureabu commented on #717
I am using this function:
client.hmset(hash, obj, [callback])
so the count is actually a json object. In order to figure out which field is actually missing, can I do something like:
client.hmset(cacheKey, count,function(err, reply){
 logger.error(err,cacheKey,count)
});

Thanks,

[2015-02-26 15:07] brycebaril commented on #717
That will likely help -- most likely your object is an empty object `{}` e.g.
[code]

[2015-03-02 22:37] MetaThis commented on #574
+1

[2015-03-04 11:05] kmyr commented on #684
You can avoid this problem by starting redis-server with --unixsocket /tmp/redis.sock --unixsocketperm 755. Hope that helps.

[2015-03-05 14:51] smartmouse commented on #684
Same machine -same user account --redis server
    If I start the redis server on a machine with the option you suggested on the same user  account,    then run the test on the same user  account, it worked now.

Same machine  - Different user account
However, if I use another user account (not the one that started redis server) and run the test,
it failed with some permission issue.
Is there anot

[2015-03-05 15:07] smartmouse commented on #684
I think we will need to do a unixsocketperm 777 to make it work.

[2015-03-05 15:20] smartmouse commented on #684
Thank you so much for your resolution and it worked now and we can close this.

[2015-03-05 15:20] #684 closed

[2015-03-06 07:46] vskarich commented on #390
Spent a few hours tonight scratching my head over this---almost it to production without realizing it what was happening. +1 to better documentation about this issue.

[2015-03-07 15:32] Muqito commented on #680
I get the same issue here :/ I want a status aswell or what I can do to make this go away.

Thanks in advance

[2015-03-08 14:49] Waterloo commented on #713
I am also facing the same problem and using the newrelic for monitoring. This is the  Console Output

events.js:72
        throw er; // Unhandled 'error' event
              ^
Error: Redis connection to pub-redis-10606.us-east-1-1.1.ec2.garantiadata.com:10606 failed - read ECONNRESET at RedisClient.on_error (C:\Users\Gigi\Desktop\eduknow_api_ver_1\auth\node_m
odules\redis\index.js:196:24)
    at S

[2015-03-08 16:39] Waterloo commented on #713
This line solved my error

client.on('error',function(err){ console.error(err)})

[2015-03-08 21:28] sebastian-nowak opened #722 "Horrible eval implementation"
I have no idea what was the reasoning behind overwriting generated eval function with another one, which has a terrible performance. Current implementation calculates sha1 of source code every time which is slow under heavy load, tries evalsha, waits for a reply and then sends actual eval to execute raw script. Seriously, guys? It should be written correctly or not written at all.

A correct, fast

[2015-03-11 14:20] rootslab commented on #722
I think a PR from you could be a solution ;)
You can give a look to my implementation for caching scripts in __[spade](https://github.com/rootslab/spade#lua-cache-and-script-methods)__

[2015-03-15 13:25] PrakashJetty opened #725 "Node redis giving Error: Ready check failed: Redis connection gone from close event"
Hi,

  The client started giving the error "Error: Ready check failed: Redis connection gone from close event"
, the same code is running from last june perfectly fine. Two days back due to networking issue redis server went down , then onward we got these messages.Then after sometime we got this message
"[Error: Ready check failed: ERR max number of clients reached]" continuously, when redis boxe

[2015-03-16 14:36] PrakashJetty commented on #725
Hey,

 Somebody , please respond.

Thanks,
Prakash

[2015-03-16 17:23] brycebaril commented on #725
Hi Prakash -- in terms of the cause of this error, it usually appears to be network related. See #247 and #601 for other people running into this.

We're still hoping someone finds a reliable reproduction case to help us troubleshoot how to handle this error when it does come up.

As for your conjecture about the client loading up Redis, I don't think that would be the case, as these clients shoul

[2015-03-17 07:53] PrakashJetty commented on #725
redis_version:2.8.18
Node_redis : 0.10.3

"As for your conjecture about the client loading up Redis, I don't think that would be the case, as these clients shouldn't be staying connected if they fail."

They are not stayed get connected , the issue is that once redis server comes back , with in few seconds we saw max connections reached.

Like i said we are using one connection per request. So the

[2015-03-20 06:07] PrakashJetty commented on #725
Here are the files we were using to simulate the error

<pre>

var redisLoad = function(styleId,cb) {
   var recoResponse = {};
               var redisService = require('./lib/recoservice/redis')();

    redisService.onConnect(function() {

    redisService.getStringValue("somekey" + styleId,
        function(err, results) {
            if (err) {
                console.error("Error while retrie

[2015-03-20 06:08] PrakashJetty commented on #725
</pre>
var i=0;
while(i<2000) {
    redisLoad(101617,function(err,results){
        console.log(results,err);
    });
    ++i;
}
</pre>

[2015-03-20 06:09] PrakashJetty commented on #725
<pre>
"use strict";

var redis = require('redis'),
    config = require('../recoconfig')['redis_connection_object'];

//redis.debug_mode=true;

/*
 * Wrapper object for redis core services
 * Defines functions
 * persistStringValue(), endConnection() & retrieveStringValue()
 *
 */
var Redis = function () {
    if (!(this instanceof Redis)) return new Redis();
    var client = this.client = redis.c

[2015-03-20 06:10] PrakashJetty commented on #725
By running the first file and retarting redis server in between .

Observed :

  The redis does not connect at all after restarting , it contniuosly throws errors.

[2015-03-20 15:46] brycebaril commented on #725
@PrakashJetty thank you for the test scripts, I'll try it out

[2015-03-22 21:14] czechboy0 opened #727 "Create first party TypeScript definitions"
Hey, it would be great if first party TypeScript definitions could be created. The ones out there are usually wrong or incomplete. This is where they'd go: https://github.com/borisyankov/DefinitelyTyped

[2015-03-22 23:33] sebs commented on #108
Sitting over this late night, I had the same problem.
I did not pass a string message, but a object. Changed to string, worked.

[2015-03-24 16:59] PrakashJetty commented on #725
@brycebaril , Did u get a chance to look into the scripts sahred

[2015-03-25 08:06] xytis opened #728 "It is not possible to handle net.createConnection errors"
There is no possible way to register `'error'` listener before `net.createConnection` is called.
This means that during initial connection appropriate code will never see errors like 'ECONNREFUSED' These errors will always get propagated to global scope, that means there is only one way to write a node.js app which can be started before redis server is to register global unhandled exception handle

[2015-03-26 11:44] poliveira89 commented on #690
I have some problems with this module, as well.(I didn't know if I should create a new issue or reuse this one, since my problem is similar).

I'm having trouble executing code based on README or any docs. I have created a new file `sample-redis.js`:

[code]

Executing this on a terminal, outputs this:
[code]
If you did not noticed, the `redis.print`did not executed and the methods on `client` ret

[2015-03-30 15:16] r3wt opened #731 "Undocumented return type if Key doesn't exist?"
So what does `response` contain if the key doesn't exist?

I'm trying to read in a PHP session from redis and unserialize it with PHPunserialize library, but if the session doesn't exist, unserializing it throws an exception. so what is the return type for a key that doesn't exist? `undefined`? `null` ? something else? ive had to temporarily wrap it in a try/catch block until i can figure it out

[2015-04-01 08:37] raydog opened #732 "Multiple bugs with multi/exec when detect_buffers is enabled."
I noticed several bugs in 0.12.1 with detect_buffers logic inside a multi/exec block. These bugs can be reproduced with the following code:

[code]

I'll attach a pull request to fix these bugs in a short bit. Thanks for the library!

Also: this is a duplicate of bug #263, but that issue hasn't been touched since mid-2013, so I elected to start fresh. Also, the PR I'll attach doesn't touch the par

[2015-04-01 12:23] m-reiniger commented on #731
It will return null.

You can easily check with:

[code]

Also note that your last line:
[code]
will always return false because redis.get is async and o will be null at the time you return it.

[2015-04-01 15:40] shaharmor commented on #574
Redis cluster is out now, any chance to implement support for it now?

[2015-04-01 16:35] r3wt commented on #731
So how can I return the session object

[2015-04-01 19:42] thelinuxlich commented on #574
+1

[2015-04-02 07:00] m-reiniger commented on #731
I don't mean to be rude, but that is actually basic javascript knowledge and here is not the place for a how to on javascript callbacks.

But for starters you should read into how javascript callbacks (the internet is full of it) work and while you are at it, take a look at promises too. :)

[2015-04-02 17:13] tciuro commented on #641
I just started seeing this as well. I have `maxmemory` set to 250MB (on a 4GB MacBook Air), working great until the reported error appears. I checked the following Redis' page: http://redis.io/topics/admin. Note the following statement:

    Make sure to setup some swap in your system (we suggest as much as swap as memory). If
    Linux does not have swap and your Redis instance accidentally consu

[2015-04-04 15:02] xpepermint commented on #442
+1

[2015-04-06 18:53] greim opened #735 "Retry dies if constructor was used."
[edit] The basic problem I'm having is that my process dies occasionally due to an un-handleable exception originating in this library. Below is the root cause of the error, as far as I can tell.

`createClient()` adds a `connectionOption` property to the client as a side effect ([index.js#L1272](https://github.com/mranney/node_redis/blob/master/index.js#L1272)), which is presumed by the `connecti

[2015-04-06 19:23] greim commented on #735
(0.12 on Linux)

[2015-04-06 19:35] lemonizer commented on #574
:+1:

[2015-04-12 04:38] zt9 opened #737 "redis fails to get string value in websocket ping() function"
I do a simple redis get string in the following code, but it does not seem to execute the print  function (or even if I replace it with a call back). The `redis.get` is used in other places and it works fine, so not sure what is special about this.. I am using the get when you get a websocket ping..

    var WebSocketServer = require('ws').Server
    var wss = new WebSocketServer({
        port: 8

[2015-04-12 05:52] brycebaril commented on #737
Hi @zt9 -- I'm a little puzzled for sure, I expect to see the reply in debug mode for sure, even though I think there's an error in your `redis.get` call it gets sent, but the server should reply.

`redis.get("session:7t2vnajty5y0mvdwc6ly10zcpp8fzyub", redis.print);`

The client instance (`redis`) in your code doesn't have a `print` property, the one you're looking on is on the exported object (`r

[2015-04-12 14:08] zt9 commented on #737
@brycebaril: thanks for the reply. That get command seems to work outside the web socket loop.
I ran the following:

    var redis = require("redis");
    var client = redis.createClient(6379, "localhost");
    redis.debug_mode = true;
    client.get("test", redis.print);
and I got the following results:

    Sending offline command: get
    send localhost:6379 id 1: *2
    $3
    get
    $4
    t

[2015-04-12 16:20] MarkHerhold commented on #579
One year later, what is the current state of SCAN? @brycebaril , is your [redis-scanstreams](https://www.npmjs.org/package/redis-scanstreams) project still active?

[2015-04-12 16:31] brycebaril commented on #579
@MarkHerhold the client has `client.scan` but I find https://www.npmjs.org/package/redis-scanstreams an easier abstraction for the SCAN command. Supported in both places.

[2015-04-12 16:31] #579 closed

[2015-04-12 16:40] MarkHerhold commented on #579
@brycebaril Thanks for the response! Would you be open to a pull request to update dependencies? I'll move the conversation to your repo if needed.

[2015-04-12 16:48] brycebaril commented on #579
Absolutely!

[2015-04-14 07:01] saltukalakus opened #738 "High availability support in node_redis"
I would like to use Redis in high available mode. Apparently node_redis does not support out of box.

There is one project (haredis)  https://github.com/carlos8f/haredis project . But looks like that project is dead with no commits since 2 years.

Another more promising is a small wrapper for Redis Sentinel. https://github.com/ortoo/node-redis-sentinel

Is there a plan for build in support for HA

[2015-04-14 08:31] sammy007 opened #739 "Sometimes hincrby results in 6x value (rare)"
DELETED.

[2015-04-14 08:38] sammy007 commented on #739
Update: I have another storage and aggregating <code>job.difficulty</code> value to another database along with redis, it results in correct value in this database, but as I said very rare only redis results in 6x value.

[2015-04-14 13:27] saltukalakus commented on #302
Native sentinel support in node_redis  +1

[2015-04-14 13:41] saltukalakus commented on #504
+1 for sentinel support

[2015-04-14 13:42] saltukalakus commented on #738
As there are open issues on sentinel I would like to close the issue.

[2015-04-14 13:42] #738 closed

[2015-04-14 15:45] imegory opened #740 "Redis command "pubsub numsub" replies with 1 even when there are more subscribers"
I am comparing two results: 1. By issuing "pubsub numsub channel_name" from redis-cli; and 2. using node_redis with the same command (e.g., redisCLient.pubsub('numsub', channel_name, function(){...})).

In a particular case I am testing: by using redis-cli I am getting 2, and via node_redis I am getting 1.

FYI: when the result is 0, I am getting 0 using either method.

[2015-04-15 12:53] tanzim commented on #676
We had some code that (under simulated network failure) would go into an infinite loop getting items from a redis queue, erroring and retrying the same operation and eventually redis reporting ```Redis connection gone from end event.``` The workaround was to break up the call stack when the error happened so that de-queueing doesn't happen in a tight loop. Fixed/masked the issue for us at least.

[2015-04-16 07:17] sebbo2002 commented on #574
+1

[2015-04-18 22:38] AVVS opened #741 "Modules with sentinel and cluster support"
I've seen a number of modules, which had been trying to do something in regards to this, but they are either incomplete and barely maintained, or use conventions I'm not very fond of.

https://github.com/thunks/thunk-redis - this looks like the only working cluster implementation

Sentinels:

https://github.com/gitterHQ/node-redis-sentinel-client, which is a fork of
https://github.com/DocuSignDev/

[2015-04-19 08:49] jesucarr commented on #442
+1. I don't think adding another option would be too much if it helps reduce the logic in a library that uses node_redis, where the redisClient can be configured by the user

[2015-04-19 16:08] luin commented on #741
I've built another redis client [ioredis](https://github.com/luin/ioredis) that is used in our company. It supports sentinel and cluster(experimental yet).

[2015-04-19 19:08] medric opened #742 "TTL command returns true instead of time"
Hi,

[code]
returns true, while it should return the time to expiration according to the redis documentation.

Is there a way to get the remaining time ?

Thanks.

[2015-04-19 19:43] #742 closed

[2015-04-20 07:33] dirkbonhomme commented on #742
All Redis commands in Node.js are asynchronous which means you'll have to catch the result in a callback:

[code]

[2015-04-20 08:42] medric commented on #742
Hi,

Yes, sorry, I just figured it out a few minutes after posting this issue. That is why I closed it immediately.

Thanks for your answer anyway.

[2015-04-20 15:12] chisleu commented on #741
* more and more people are using this as the default redis integration (330k downloads last week)
* the latest redis incorporated redis cluster changes (tighter sentinel integration)

I think an attempt should be made to integrate cluster/sentinel.

I have written this in other languages and I'm familiar with node. Coffee seems straight forward.

If no one else is on this already, and the maintain

[2015-04-21 14:54] smithandweb commented on #741
+1 Please implement

[2015-04-22 12:49] #739 closed

[2015-04-23 09:38] kadishmal commented on #741
@luin thanks for linking to **ioredis**. Didn't know about it. Will give it a try. I wonder if the `express-session` module works properly with `ioredis`?

[2015-04-23 10:03] luin commented on #741
@kadishmal The only differences between ioredis and redis in terms of API are constructor and transaction, so it's not hard to migrate your code from redis to ioredis. However if you are using a third-party library that replies on redis(e.g. express-session, connect-redis), I don't think it's necessary to migrate them since you can use ioredis and redis in a same app.

[2015-04-23 14:25] kadishmal commented on #741
I see. I will take a look. Thank you.

On Thu, Apr 23, 2015 at 7:03 PM, Zihua Li <notifications@github.com> wrote:

[2015-04-23 15:17] wavded commented on #741
Hi, I maintain `connect-redis` and there is an option to pass in a redis `client`, as long as the api supports `get` `set` `setex` and `del` it should work.  I haven't tried it yet but if it does I'll add `ioredis` as another client you can pass as people have been asking for sentinel and cluster support.

[2015-04-23 15:22] luin commented on #741
@wavded That's cool! I'll do some testing this weekend and will let you know if it works.

[2015-04-23 15:23] wavded commented on #741
Sweet!

[2015-04-24 09:02] b96705008 opened #743 "Error Error: ERR unknown command 'config'"
When I create a node redis client using elasticache with redis (aws), it trigger this problem.
Is there already any solution to this issue?

[2015-04-24 10:44] aphorise commented on #735
I'm experiancing similar symptoms. Can this also be related to the ```redis``` npm?

[2015-04-24 22:48] aphorise opened #744 "Unexpected Crash / Exit..."
I encountered this when trying to use redis-sentinel & realised its occurring after several failed retry attempts during which time I'm also attempting to make as many ```.set```'s & ```.get```'s.

The following: [redis-crash.js](https://github.com/aphorise/redis-sentinel-sim/blob/master/redis-crash.js) - trace is as follows:
[code]

The try{}catch{} blocks in this case do not seem to be having an

[2015-04-24 23:24] aphorise commented on #744
I found my issue which was bad toString in my own code. Sorry for the confussion - articulating the issue much a time helps resolve things  :-)

[2015-04-24 23:24] #744 closed

[2015-04-27 20:21] julien51 commented on #574
+1

[2015-04-29 05:06] genediazjr commented on #574
@mranney any comments sir?

[2015-04-29 11:19] henryoswald commented on #574
We (sharelatex.com) would be interested in sponsoring this feature if that helps. I am not sure how much work it would be to develop, potentially a few other companies would pitch in?

[2015-04-29 11:24] thelinuxlich commented on #574
There are already two alternative modules which support Redis 3.0 cluster and are better performant than node-redis:

https://github.com/thunks/thunk-redis
https://github.com/luin/ioredis

[2015-04-29 11:27] henryoswald commented on #574
Very interesting, thanks!

On Wed, Apr 29, 2015 at 12:24 PM, Alisson Cavalcante Agiani <
notifications@github.com> wrote:

--
Henry Oswald
shareLaTeX.com co-founder

[2015-04-30 04:04] komocode commented on #606
Do you have an example on how to use the multi as promises?

[2015-04-30 06:48] maxbrieiev commented on #606
For multi only `exec` should return a promise. This lib handles it for you: https://github.com/maxbrieiev/promise-redis

See the very last paragraph.

[2015-04-30 16:53] raviv commented on #587
+1

[2015-05-01 14:45] aphorise opened #745 "Crash / Exception in High Frequency Read & Write"
I'm doing a simulation to explore occurrences between Master / Slaves and involving a sentinel in worse case scenario's where any specific Redis may be unplugged.

I'm using a short interval based timer on `180ms` or less - in which a GET & SET operation is performed - however occasionally or every so often - particularly with intervals lower than `100ms` - I get the following:
[code]

I have call

[2015-05-02 00:23] brycebaril commented on #745
Hi @aphorise -- looking into this. In this line of the error: `ReferenceError: ommand_obj is not defined` -- is that a paste error or does the error text actually say `ommand_obj` instead of `command_obj`

What version of node_redis are you using for this test?

In terms of the try/catch blocks, you cannot catch an exception thrown in an asynchronous context.

[code]

then time passes and the asyn

[2015-05-02 00:28] brycebaril commented on #745
For what it's worth -- I ran your code for a number of minutes and never had any errors

[2015-05-03 16:18] #745 closed

[2015-05-03 16:26] aphorise commented on #745
@brycebaril Thanks very much for your response / input.

Indeed - you're correct with regards to ```ommand_obj```. In an attempt to better understand inner workings of this module I had corrupted the source. I started anew (```npm install```) - and can happily confirm that even with a 1ms timer / delay in consecutive ```set``` & ```get``` no issues were exerpainced and switch-over to slaves via (`

[2015-05-06 09:47] muratatak77 opened #747 "All Page Caghing. XML return using redis hmset() and hgetall()"
var full_url = req.protocol + '://' + req.get('host') + req.originalUrl;
        console.log("====== full_url : " , full_url);

        client.hgetall("full_url_hash", function (err, result_hash_object) {

                if ( result_hash_object != null
				&& result_hash_object[full_url] != null
				&& ( utils.undefined_check(result_hash_object ) != "" )
				&& ( utils.undefined_check( result_has

[2015-05-06 09:49] muratatak77 commented on #747
Are There Different methods that can be made for this job?

[2015-05-06 10:05] #747 closed

[2015-05-06 20:59] fickas opened #748 "bgsave and other write-to-file operations"
Did I miss documentation on persistent operators? I am trying to use bgsave to dump my database to file. The operation executes but with no effect that I can see.

Also, Redis docs claim that having a file dump.rdb will automatically cause this to be installed on server start-up. Did not work for me with node.

[2015-05-08 17:46] brycebaril commented on #748
Hi @fickas -- bgsave should work with node_redis just fine, and the dump.rdb file being loaded is entirely up to your redis configuration, outside of the scope of this library.

Your best bet is to check your Redis configuration

[2015-05-08 17:46] #748 closed

[2015-05-13 19:14] carlosascari commented on #725
I found this error while creating a mocha test for a project i'm working on.

**Heres the rundown:**

50,000 commands async executed at different times (between 0ms-500ms)
The commands are arrays, with the last element being the callback, and are fed into `redisClient.multi([command]).exec`

To complete execution, it would take about 11 seconds, before completion, I would close the redis-server. A

[2015-05-13 22:19] dionjwa commented on #715
+1

[2015-05-13 23:37] bpytlik commented on #512
This seems to fix my issue. Any chance this can be pulled in soon?

[2015-05-16 21:07] Janpot opened #750 "Multi doesn't abort on error?"
If I understand correctly, when `multi` encounters an error the whole transaction should be aborted and rolled back. Yet when I execute following code:

[code]

I get the output:

[code]

No error is reported in the callback and all commands seem to have executed. Am I missing something?

[2015-05-17 02:47] luin commented on #750
Redis does not support roll backs.

Reference:
http://redis.io/topics/transactions (Errors inside a transaction & Why Redis does not support roll backs?)

[2015-05-17 06:48] Janpot commented on #750
@luin Ah, missed that. Makes sense. I misunderstood "Either all of the commands or none are processed". Thanks.

[2015-05-17 06:48] #750 closed

[2015-05-18 06:49] #332 closed

[2015-05-20 13:35] StephaneC opened #753 "Psubscribe"
Looks like there is trouble using psubscribe in last version (0.12.1).
when I use this, i receive message
redisSub.subscribe('/checktoken');
When i use this, nothing happen:
redisSub.psubscribe('*');

Nothing change except that in my code.

(Project here: https://github.com/StephaneC/SocketIoToBus)

[2015-05-21 08:52] steelbrain opened #754 "Use Redis-Proto as the javascript parser"
https://github.com/mranney/node_redis/blob/master/lib/parser/javascript.js vs https://github.com/steelbrain/Redis-Proto/blob/master/Source/Main.js
Less code = faster, easier to maintain

[2015-05-22 14:17] mavrick opened #755 "node_redis: no callback to send error: ERR syntax error"
node_redis: no callback to send error: ERR syntax error
Fri, 22 May 2015 14:13:32 GMT uncaughtException: ERR syntax error
Error: ERR syntax error
    at ReplyParser.<anonymous> (C:\app\node_modules\redis\index.js:317:31)
    at ReplyParser.emit (events.js:95:17)
    at ReplyParser.send_error (C:\app\node_modules\redis\lib\parser\javascript.js:296:10)
    at ReplyParser.execute (C:\app\node_modules

[2015-05-25 07:14] Messilimeng opened #756 "How do I keep the (key) to change the time (value) additional value inside."
我如何 保持 (key)不变的时候 向 (value )里面 追加 值。

[2015-05-25 07:21] Messilimeng opened #757 "I how to (key) inside the (value) of the additional value of the original data unchanged, rather than read out the original data is then appended."
我如何向(key) 里面的(value )追加值 原来的数据不变,而不是 把原来的数据读出来再追加。

[2015-05-26 03:06] ben-page opened #759 "select() isn't queued"
[code]

I expected the select() command to be queued just like any other command. If there is reason for this behavior, I think it should at least be documented.

[2015-05-26 03:19] #759 closed

[2015-05-26 15:55] smiley-boy opened #760 "problem with String append"
var redis = require("redis"),
        client = redis.createClient();

         var c = "hello
          world";

         client.append("ssttring", c, redis.print);

dosen't work but if I change the line break with \n it works

[2015-05-28 19:24] chrisbaldauf commented on #587
+1

[2015-05-28 20:12] bgSosh commented on #587
Any news on this?

[2015-05-29 15:03] chrisbaldauf commented on #587
I wound up switching to [ioredis](https://github.com/luin/ioredis), which appears to handle the connection timeouts properly and aside from the client creation, be a drop in replacement for my use case.

[2015-05-29 20:07] bgSosh commented on #587
That looks interesting - I'll take a closer look, thanks.

[2015-05-30 03:51] kadishmal commented on #754
Less code doesn't mean faster. Can you point to any benchmark stating it's faster? Easier to maintain, perhaps.

[2015-06-01 03:51] jasoncheng opened #762 "pub/sub question"
Just curious, if i use pub/sub, when this data store in REDIS will be delete?
Or it will auto expire? If not, how to delete data when on('message')

Thanks

[2015-06-01 04:32] brycebaril commented on #762
pub/sub data is not stored in Redis, it is simply a communication medium for the pub/sub messages. They are 100% ephemeral.

[2015-06-01 04:32] #762 closed

[2015-06-02 18:48] ORESoftware opened #763 "does node_redis solve this problem?"
I am using the standard core Cluster NPM module

It works great for HTTP requests. But with Redis pub/sub over TCP, each and every slave process will respond to the request, which is bad - the issue is described here:

https://github.com/antirez/redis/issues/1137

does node_redis have a solution to this problem?

[2015-06-07 17:11] ganeshnaidu commented on #700
Check zadd statements. KEY,SCORE,VALUE.
You must have swapped score and value

[2015-06-10 13:12] #552 closed

[2015-06-11 21:14] strumwolf opened #765 "ECONNRESET after 2 hours"
Currently running an application in Docker, in an Ubuntu 12.04 container. Running docker 1.5 and node-redis 0.12.1. The redis connection receives the following error after 2 hours, every time.
[code]

[2015-06-15 09:37] oninea opened #766 "Issue publishing to channel with multiple clients"
When publishing to a channel with multiple clients subscribing from it, some of the clients inexplicably stop consuming from the channel. For those clients that get 'stuck', the connection remains established but no messages reach the client anymore. In fact, the output buffer for those connections keep growing until they eventually get dropped by the hard limit.

Multiple clients are subscribing

[2015-06-16 03:25] rain1017 opened #767 "multi.exec is slow"
multi.exec is slow even if I only call 1 set

set  32000/s
multi (with one set) 12000/s

[2015-06-16 12:10] pisceswin opened #768 "connect ECONNREFUSED"
[code]

+ redis-server
+ node test.js
+ redis-cli shutdown
[code]

### Why ‘on error’ is invalid?

[2015-06-16 12:43] #768 closed

[2015-06-16 12:49] strumwolf commented on #765
[code]

[2015-06-17 12:46] strumwolf commented on #765
I have tested other libraries and received the same issue. It does not seem like it is specific to node-redis.

[2015-06-17 12:46] #765 closed

[2015-06-17 13:34] mbfisher commented on #689
Found some useful [docs](http://redis.io/topics/transactions) on this which confirm it is expected behaviour, might help others:

M

[2015-06-17 19:58] knguyen2525 opened #769 "Eval failing on Redis failover"
Hello,

I am currently using redis-sentinel (https://www.npmjs.com/package/redis-sentinel) to cluster multiple redis-servers together; their Redis client is based on node_redis.

I am using the eval command to run lua scripts on the current master of my cluster. The problem is that when the redis master fails and failover occurs, the eval command isn't buffering and being replayed when the next ma

[2015-06-21 18:49] BenHall commented on #628
I've had a similar issue. I was able to reprodcue it using Docker and pausing a Redis container. Node_redis queues the callbacks until you unpause the container which in my case is not ideal.

[2015-06-21 19:09] BenHall commented on #587
To reproduce I paused a Redis Docker container but still seeing long timeouts

[2015-06-22 19:45] ORESoftware opened #770 "Requiring a callback for Redis sub.subscribe()"
Hi guys:

I put this question on SO and got a nice answer:
http://stackoverflow.com/questions/30946799/redis-pub-sub-same-process-listening-to-one-channel/

frankly, it is my firm belief that your library (and many many others) should require a callback for a subscribe call

that means this should throw an error:

[code]

again and again and again and AGAIN, there are libraries that deceive us by

[2015-06-22 19:54] ORESoftware commented on #770
Also, when I do put in a callback to the subscribe call:

[code]

the parameters that come back do not seem to follow the principal of least surprise, in other words, I have no idea what they are or which order they should be in etc.

[2015-06-23 15:18] b-long commented on #678
:+1:

[2015-06-23 20:03] dirkbonhomme commented on #770
The way in which callbacks are used and the order of arguments is very well documented in the readme (or the redis docs) and are pretty consistent throughout this project afaik. Once you know how to use one command, it's fairly easy to predict how other commands work.

Always assume that all IO operations in Node.js are async and thus either return a promise or expect a callback. In this case ther

[2015-06-23 21:32] ORESoftware commented on #770
it should require a callback. you are completely misunderestimating the amount of pain and suffering in the whole community due to async functions appearing synchronous. not everybody has time to look up the api for every library. nor is it always obvious what may be sync or async.

take a look at this question:

http://stackoverflow.com/questions/30946799/redis-pub-sub-same-process-listening-to-o

[2015-06-24 07:33] dirkbonhomme commented on #770
I consider myself to be "part of this community" for quite a while now and have never seen someone act so offensive about something that's considered a best practice in the Node.js/JS world. IO calls are by their very nature async and callbacks are more often than not optional.

This is especially true when we look at Redis: none of the commands that describe an action (subscribe, add, incr ..) re

[2015-06-24 08:36] loretoparisi opened #771 "Ubuntu 12.04.2 LTS createClient connect ECONNREFUSED"
In Ubuntu

[code]
connecting to a Redis instance (password protected)

[code]

I have a connection refused error like

[code]

before sending the password:

[code]

The redis node is up and running. It is a Redis Cache on Microsoft Azure. I'm able to connect via python redis module:

[code]

Also it properly connects via telnet

[code]

[2015-06-24 09:24] loretoparisi commented on #771
I finally realized that it was node. I had version 0.6.12
Upgrading node to the latest version the socket connection now it works.

[code]

[2015-06-24 23:51] ORESoftware commented on #770
apologies for being offensive. I get worked up about this. we are talking about hours of my life and others people's lives spent less productively than otherwise.

anyway back to the topic

that was my point here. not all I/O calls are fully async

let me give you an example:

[code]

I am sure you see the difference. IMO the latter cases MUST require a callback. I am not saying this is your fault

[2015-06-24 23:55] ORESoftware commented on #770
one thing the Node.js community could do is print warnings if no callback is passed. I just don't see a good reason why the subscriber.on is separate from the subscribe() function, why keep it separated?

[2015-06-25 06:07] dirkbonhomme commented on #770
One use case would be that 1 part of the code is responsible for the `subscriber.subscribe(..)` call while many different parts can listen on incoming data by using `subscriber.on('message', ...)` without having to worry about being subscribed or not.

If you require the callback, you are forced to use your own event emitter or some workaround.

[2015-06-26 08:28] ORESoftware commented on #770
a couple thoughts.

(1) there is no reason why you couldn't fire the call back and fire the event - I mean, what do you do if someone passes a callback into the subscribe function? do you not fire the event or do you? or does not even accept a callback...?
(2) I think it's better to stick to the callback format, and have people implement an event-emitter on their own, if they need one. usually eve

[2015-06-26 08:30] ORESoftware commented on #770
feel free to close this...maybe if you get another comment/complaint about it you can reconsider, but I don't really wish to be all that irritating.

[2015-07-03 10:05] ideayuye opened #773 "redis cluster"
Does node-redis support redis cluster?

[2015-07-03 13:11] klinquist commented on #773
I recommend ioredis for solid cluster support.

[2015-07-04 01:42] ideayuye commented on #773
thank you for your answer! @klinquist

[2015-07-08 11:14] aryehischechter commented on #586
+1
Will this not happen because of the reconnect restructuring?

[2015-07-09 10:32] jalava commented on #423
Isn't this just closure leak, where using

[code]

would fix it?

[2015-07-09 16:29] ecasilla commented on #657
+1

[2015-07-10 22:46] jamiis opened #774 "redis.createServer fails on CircleCI builds if you don't have {no_ready_check:true} options"
Sorry I don't have more info but this bug took me all day to find. I don't even know if it's a bug but it should probably be documented somewhere

[2015-07-12 02:43] mranney commented on #774
Yeah, this is a bummer. I don't know the details of this one, but some environments really do not like the ready check. I wish we didn't need that, but I'm not sure how else to know if a connection has a valid redis-server that's not loading the snapshot.

[2015-07-12 03:00] bcoe opened #778 "move test suite to mocha or tap"
we have fancy pants badges now \o/

<img width="531" alt="screen shot 2015-07-11 at 7 48 56 pm" src="https://cloud.githubusercontent.com/assets/194609/8636149/381b5f78-2807-11e5-8b9f-f7235e87d38a.png">

I moved tests around a bit and got them running on travis/coveralls (see #776), in the issue we discussed replacing the hand rolled artisanal test suite with a fancy new tool.

The main requirement

[2015-07-12 06:06] #732 closed

[2015-07-12 06:23] raydog commented on #778
I'm a big fan of mocha, so I'm a bit biased, but I do feel mocha would be closer to the original test suite. Each test runs, and the assert library is used for validation and to throw exceptions on failure. Node-tap, AFAICT mixes the runner with the assertion library, meaning that to correctly use that lib to it's maximum potential, each assertion would have to updated. With mocha, only the runner

[2015-07-12 06:23] #771 closed

[2015-07-12 15:51] erinspice commented on #778
I am also a big Mocha fan. I would also not be opposed to moving to a more flexible assertion library. I really, really like Chai's Expect.

[2015-07-12 18:33] erinspice commented on #778
[Here's a quick example](https://github.com/erinspice/node_redis/tree/mocha-test-suite) I put together that uses mocha. It starts redis-server before and stops it after the tests run.

[2015-07-12 20:15] bcoe commented on #778
@erinspice this is awesome, could we add this slight tweak:

[code]

This way we run the whole test suite on `hiredis` and `javascript`.

[2015-07-12 20:20] bcoe commented on #778
@erinspice we could probably also drop this line:

`redis.debug_mode = process.argv[2] ? JSON.parse(process.argv[2]) : false;`

And switch to `redis.debug_mode = process.env.DEBUG ? JSON.parse(process.env.DEBUG) : false;`

And then we don't need to play around with `process.argv` for anything, which I think runs afoul of Mocha.

I'm really happy with the approach you're taking (it's cool how you p

[2015-07-12 20:48] erinspice commented on #778
Agreed. I've added that to the mocha tests. I don't think I'll change that line in the old tests, since they don't run with mocha. Hopefully we'll be able to completely delete them soon.

I've added the DEBUG switch and made those two tests run on each combination of javascript, hiredis, ipv4, and ipv6.

[2015-07-12 20:51] erinspice commented on #778
@bcoe How do we add coverage reporting to the mocha tests?

[2015-07-12 20:53] bcoe commented on #778
@erinspice `nyc mocha`, rather than `nyc ./test/run.s`, once you've got everything moved over -- coverage should stay at `86%`, which is a good test that the port went well.

[2015-07-12 21:23] erinspice commented on #778
Whoa, nice, even `nyc grunt run-tests` works.

[2015-07-12 21:30] bcoe commented on #778
@erinspice Isaac built that part of nyc, it's amazingly clever -- looks for the node bin and replaces it with a new node-bin that adds coverage tracking.

As a representative from npm, can I vote for using package.json's scripts stanza rather than grunt for kicking off our mocha suite? once you delete the weird .sh file I added, I think you should be able to simply run `mocha` -- seems like the te

[2015-07-12 21:49] erinspice commented on #778
Sure, we can use scripts.

[2015-07-13 01:34] bcoe opened #780 "let's figure out NodeRedis' release process"
Redis is my favorite piece of technology for rapidly prototyping personal projects (e.g., the RSVP system for my wedding website), we also use Redis for a lot of behind the scenes critical infrastructure at npm, Inc:

* it caches user profiles for the npm website.
* it caches OAuth tokens for the npm CLI.
* it caches people's access rights for packages (what are you allowed to publish, what are yo

[2015-07-13 02:19] erinspice commented on #780
The home-grown test suite scares me. There are assumptions about how Redis is configured. At least one of the tests asserts passing before async operations could have finished. We've merged a few new things in recently, and I think we need to improve the tests enough to ensure against these new things before we make a new release. The public API is our contract with the users and its stability is

[2015-07-13 06:34] bcoe commented on #780
@erinspice I agree, I think the work you're doing with mocha make me more excited about pushing new releases to npm.

I feel similarly about coding style. Would anyone object to `standard` ... the main controversy being that it requires the codebase to stop using semicolons.

[2015-07-13 07:33] raydog commented on #780
I definitely agree with @erinspice about the test fixes being highest priority. I don't think we necessarily need a weekly release, but maybe just a weekly review of the backlog would suffice. A lot of the pull requests are outdated, or fix problems that no longer exist, and we should probably resolve that list back to zero at some point.

As for `standard`... I'll be honest, I like semicolons, so

[2015-07-13 12:24] stockholmux commented on #780
To add to the chorus, the number of PR's and the testing situation scares me, considering how many people and organizations depend on this module.

One of my primary concerns and (hopefully) areas of focus as a contributor is the documentation situation. Whatever the release process is, we have a duty to cover anything new or changed as part of the process. This also means perhaps having a more fo

[2015-07-13 13:10] simontabor commented on #574
I'd be happy to try and manage getting cluster support into node_redis. I think I've got a pretty good base at https://github.com/gosquared/redis-clustr (stable in production with many ops). If anyone has suggestions/would like to jump in then go ahead :)

[2015-07-13 14:14] erinspice commented on #780
`standard` makes me itchy. 😬

[2015-07-13 20:50] erinspice commented on #778
@bcoe I wrote a Node script to start Redis, run the tests and shut Redis down, and it broke nyc. Is there a trick to it? About to convert it to bash and see if that fixes it.

[2015-07-13 21:02] bcoe commented on #778
@erinspice I'd have to see, I can't see why it would cause an issue. However, my personal preference would be to avoid starting a Redis server as part of the tests, I think it's a reasonable expectation that a developer will have Redis on their machine -- and this could interfere with Travis which already provisions a Redis process.

[2015-07-13 21:04] bcoe commented on #778
@erinspice I could have my opinion swayed, some of my coworkers love bootstrapping a daemon at the start of tests -- I usually tend to like having something up and running on my machine already.

[2015-07-13 21:33] erinspice commented on #778
[Here's a version](https://github.com/NodeRedis/node_redis/compare/master...erinspice:mocha-test-suite-no-grunt) without Grunt, still bootstrapped. I really like that this doesn't interfere with any Redis processes a user may have had running previously.

[2015-07-13 21:45] erinspice commented on #780
Agree, let's defer changes to aesthetics.

[2015-07-13 22:03] bcoe commented on #780
I made a slack https://noderedis.slack.com/, send me an email to ben [at] npmjs.com, and I'll get you an invite:

CC: @raydog, @mranney, @devongovett, @danlash, @simontabor, @stockholmux, @jackquack, @luin

[2015-07-14 01:56] mranney commented on #780
My own personal style is not any kind of standard, so at some point you might as well adopt "standard". I've been doing a lot of Go lately, and I love that there's no arguing about style with Go. There is just one style, and eventually you get used to it.

The current test suite is an integration test, not a unit test. It requires a real, actual redis-server, and nothing is mocked. This is useful

[2015-07-14 02:35] bcoe commented on #780
@mranney strongly agree about stability, I think it would be good to be mindful and take time pulling patches in -- personally, I'd love to see test coverage a bit higher before too much else makes its way into master.

[2015-07-14 03:10] erinspice commented on #780
Unfortunately, the current test suite is riddled with errors as well. [This one](https://github.com/NodeRedis/node_redis/blob/master/test/test.js#L949) doesn't wait for the `get`s and their following assertions to complete before reporting the test as passed.  [This one](https://github.com/NodeRedis/node_redis/blob/master/test/test.js#L965) seems to indicate that you can have a single client for d

[2015-07-14 15:45] Downchuck opened #781 "createClient(options) example in README.md is incorrect"
https://github.com/NodeRedis/node_redis#overloading

This shows createClient(options) as an option, but the example does not reflect it, as it still shows host and port as arguments. Are those options?

[2015-07-15 03:24] Downchuck commented on #781
Would be nice to allow "port" and "host" as options in the connection object.

[2015-07-15 12:26] stockholmux commented on #781
I think that section (among many) of the `README.md` is a little unclear, but maybe not incorrect.

You can definitely use `redis.createClient({ ... options... })` and it will connect with the default redis connection (127.0.0.1 / 6379) and apply options.

As an example:
[code]

Will result in:
[code]

If you omit `{return_buffers : true}` then the the second object logged will not have `return_bu

[2015-07-15 14:53] Downchuck commented on #781
You're right, it's simply unclear -- it apears from the code that
supporting a host/port argument would be trivial task .

On Wed, Jul 15, 2015 at 5:27 AM, Kyle J. Davis <notifications@github.com>
wrote:

[2015-07-16 16:49] stockholmux commented on #781
@Downchuck We modified the README for clarity - hope it helps!

[2015-07-17 16:18] brycebaril commented on #780
@erinspice you are correct that you cannot have a single client for datastore and pubsub functions. In the Redis protocol once you `subscribe` (or `psubscribe`) that client is not allowed to do anything but be a subscriber.

@bcoe: I worked through converting most of the tests to `tape` on a refactor branch long ago. I had to work through a lot of issues with the existing tests and how they worked

[2015-07-17 16:21] brycebaril commented on #778
See https://github.com/NodeRedis/node_redis/tree/refactor242 for how I was converting tests to tape a while ago -- I had to fix a lot of the tests to get them working right.

While I'm not particularly a fan of Mocha, I'm definitely a fan of getting the tests fixed up and am very happy to see that torch picked up.

[2015-07-17 16:23] #773 closed

[2015-07-17 16:38] brycebaril commented on #770
Hi @ORESoftware -- sorry about your confusion, but generally it is not a great practice in Node to assume a callback in a function signature matches 1:1 with asynchronous behavior.

e.g.:
[code]

I understand what you're getting at about the potential for confusion between synchronous, asynchronous, and mixed sync/async being hard for developers, but I'm not convinced that requiring callbacks woul

[2015-07-17 16:38] #770 closed

[2015-07-17 16:40] brycebaril commented on #763
Nope, as of yet this library does not have built-in cluster support.

[2015-07-17 16:44] brycebaril commented on #760
As far as I can tell this just looks like an error with mishandled multi-line strings in JavaScript. Will need more information (what is the error/incorrect behavior) to diagnose further.

[2015-07-17 16:44] #760 closed

[2015-07-17 19:34] ORESoftware commented on #770
Ok, I agree. All I can ask is this: all you need to do is to have your examples using the callback. People need to know that the subscription is async. You don't need to require the callback, if it's returning an event emitter. However to your point of error handling being in the callback, I am not sure about this lib, but usually that's handled in an on('error') event handler right?

[2015-07-18 02:44] erinspice commented on #778
Thanks, @brycebaril! We've done even more work and [moved the branch over here to node_redis](https://github.com/NodeRedis/node_redis/compare/mocha-test-suite-no-grunt).

[2015-07-18 15:55] #781 closed

[2015-07-20 23:04] MrMMorris opened #784 "[Question] Redis Replication"
Pardon my sysadmin ignorance, but if I have a Redis master/slave setup, is it possible to point the node client to multiple instances like with mongo urls? or do you handle that some other way?

Thanks!

[2015-07-21 13:17] Leask commented on #676
Is there any progress for this issue?

[2015-07-22 15:27] BridgeAR commented on #778
I like that you want to implement mocha. While still being in the planing phase might I suggest using promises instead of async for the tests (they'll need less code and therefor should be better to read) and use [npm as the build tool] (http://blog.keithcirkel.co.uk/how-to-use-npm-as-a-build-tool/)?

[2015-07-22 15:47] #651 closed

[2015-07-22 20:15] MajorErection opened #787 "ECONNREFUSED (New to redis)"
So I decided to try out redis in node and I've been getting this error

Error: Redis connection to 127.0.0.1:6379 failed - connect ECONNREFUSED
    at RedisClient.on_error (C:\KeytoBtc\node_modules\redis\index.js:196:24)
    at Socket.<anonymous> (C:\KeytoBtc\node_modules\redis\index.js:106:14)
    at Socket.emit (events.js:107:17)
    at net.js:451:14
    at process._tickCallback (node.js:355:11)

[2015-07-22 20:17] erinspice commented on #787
Please provide your Redis config and your code at the very least. That error is the correct behavior if you don't currently have Redis running and bound to 127.0.0.1:6379.

[2015-07-22 20:46] MajorErection commented on #787
Nevermind, I didn't understand what redis was but now I do, all I needed to do was to get the server started. Thanks for the reply anyways

[2015-07-22 20:46] #787 closed

[2015-07-22 23:36] BridgeAR commented on #670
This has been fixed by #786

[2015-07-23 00:07] #670 closed

[2015-07-23 00:08] erinspice commented on #676
PRs accepted! We're all volunteers.

[2015-07-24 04:01] aer123456 commented on #262
你的某一个变量名或者函数的参数名与库发生冲突了，建议该参数名就好了。 我刚刚也遇到这个问题。

[2015-07-24 16:54] bberry6 commented on #545
So I have been toying with the WATCH functionality and have found that it isn't obvious when the transaction aborted (due to the watched key being modified) since the error parameter in the callback function returns "null" whether the transaction aborted or not...

Here's a little node script...
[code]

For testing, I begin by watching `foo` , then I wait for 3 seconds (explained below).  Then I r

[2015-07-24 17:48] raydog commented on #784
The client doesn't handle multiple connections automatically. What were you wanting to do with multiple connections? If you were wanting to send some queries to go to the master, and some to the slave, that can easily be done with 2 clients. However, if you were wanting this to behave more like mongo WRT failover behavior, you should look into [redis-sentinel](http://redis.io/topics/sentinel).

[2015-07-24 19:52] MrMMorris commented on #784
@raydog but would I be able to use sentinel with node_redis?

[2015-07-24 20:05] raydog commented on #784
You would be building node_redis clients using information from sentinel. There are several projects that would help you do that. My favorite is [simple-sentinel](https://github.com/Vungle/simple-sentinel), but do note: I am pretty biased source on that, since I wrote it. :P

[2015-07-25 05:21] raydog commented on #769
This seems like it is actually expected behavior. If there is a bug here, it would probably be in the other project. I glanced at node-redis-sentinel's code, and AFAICT, the only thing that they do is open a new connection to the newly selected master, which is reasonable. It would be nice if they transferred UNSENT commands to the new client, just so long as they don't transfer the PENDING comman

[2015-07-25 05:21] #769 closed

[2015-07-25 06:53] cekimy opened #789 "[Question]how to set redis get command timeout"
I've meet a problem several times. redis.get cost much time, more than 1s (even more than 1 minute)
This is a terrible online disaster, so i want to know how to set timeout of get command.
Or what could cause redis cost so much time?

[2015-07-25 12:08] stockholmux commented on #789
Could you tell me more about your setup and the code that is causing this delay? Is the server remote or local? Is this your first call to Redis in your script after a restart?

This is very unusual - Redis usually takes ~1ms to do a simple operation (like `get`). I would be surprised if this is actually a `node_redis` problem and more likely something to do with your environment and how Node is c

[2015-07-27 05:55] cekimy commented on #789
server is remote, but in the same IDC. Most of the time, it only takes ~1ms, but this >1s situation came about 1time/4-5months, and continue ~ 1 minute

[2015-07-27 06:20] cekimy commented on #789
server is remote, but in the same IDC. Most of the time, it only takes ~1ms, but this >1s situation came about 1time/4-5months, and continue several seconds.

i have 4 redis servers, each key will hash to one of them, and then redis.get(This caused delay).
Our service has about 500,000,000+ requests one day, and each redis server has 10000+ operation per second on the rush hour.
The server is usua

[2015-07-27 11:26] stockholmux commented on #789
It's hard to say, but I would venture it is actually not a `node_redis` issue from what you're telling me - I can't think of a thing in the project code that would cause a stable service to take that long. I'm guessing that it has to do with something busy on the server (redis or node).

As far as a timeout, I don't think there is anything in the project to set a specific timeout for a single comm

[2015-07-28 18:07] Dindaleon opened #790 "Error while building with webpack"
I am getting the following error when building with webpack:

    ERROR in ./~/redis/lib/parser/hiredis.js
    Module not found: Error: Cannot resolve module 'hiredis' in C:\NodeServer\AppInTheWild\node_modules\redis\lib\parser
     @ ./~/redis/lib/parser/hiredis.js 3:14-32

I do not want to install hiredis as a depency. What solution do I have?

[2015-07-29 11:00] sunnychow commented on #676
@erinspice : May I know which PR is accepted?  Thanks.

[2015-07-31 15:15] Hackuracy commented on #674
hi,
I had the same problem due to haproxy.
balancing with HTTP can't work

[2015-08-03 05:27] vivekkrbajpai commented on #574
:+1:

[2015-08-07 15:15] liujb commented on #676
Is there any progress for this issue?

[2015-08-09 14:24] Leask commented on #676
Use `ioredis` instead. It's awesome.

On Fri, Aug 7, 2015 at 11:15 PM liujb <notifications@github.com> wrote:

[2015-08-10 08:07] liujb commented on #676
hi, everybody.
I have solved this problem. when your createClient must add option no_ready_check. like
var client = redis.createClient(redisConf.port, redisConf.host, {no_ready_check: true});

[2015-08-10 20:55] gblock0 commented on #436
+1

[2015-08-11 02:44] erinspice commented on #790
Seems like webpack isn't detecting that hiredis is an optional dependency of node_redis.

[2015-08-11 02:53] erinspice commented on #676
Thanks, @liujb.

@sunnychow, I and some others have just recently gained access to the repo. We are still working out the process. However, I think we agree that we will accept any PR which is backward-compatible and consistent with how Redis works. Soon we will replace the test suite with a more standard Mocha suite that will be easier to extend, and at that time, it will be much easier for peopl

[2015-08-12 05:36] ralucas commented on #532
Seen this issue as well.  Any work around or fix, outside of nixing monitoring?

[2015-08-12 15:59] bminer opened #791 "Command callbacks no longer called once `client.closed` is set"
Consider the following code:

[code]

In this case, the `client` is trying to be used after the connection has ended.  This should cause the command's callback to be called with an Error.

Perhaps `enable_offline_queue` should be disabled whenever `client.quit()` or `client.end()` is called?  Thoughts?

[2015-08-14 02:47] blainsmith commented on #778
Nice work with the mocha tests and removing grunt. One less thing to deal with. I've been a big fan of using npm as a build tool.

[2015-08-14 02:54] blainsmith commented on #755
Are you still experiencing this error?

[2015-08-14 02:55] #756 closed

[2015-08-14 03:04] blainsmith opened #792 "Issues Cleanup"
@NodeRedis/contributors @NodeRedis/owners I started sifting through some of the open issues to clean them up. I wanted to get on everyone's radar about how we should start, especially with some of the really old ones that are still open.

Anything older than 6 months just delete? I wanted to make sure some of the issues are covered by recent releases, but it looks like the releases are a outdated

[2015-08-14 10:19] simontabor commented on #792
I think anything older than 6 months is a good idea - unless it should obviously still be open.

Otherwise, if the issue is still... an issue... the original reporter can re-open it, or it'll be reported again (hopefully).

[2015-08-14 10:45] stockholmux commented on #792
Sounds good to me.

Perhaps a boilerplate response about re-opening if it is still an issue? With so little activity for so long, some people have been patiently waiting and a random closing without explanation would be hard to swallow.

[2015-08-14 12:29] blainsmith commented on #792
Yes, a boilerplate would be good. Something like:

"In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly."

[2015-08-14 13:34] erinspice commented on #792
Sounds great to me.

[2015-08-14 15:26] stockholmux commented on #789
I got around to writing a gist on how to do a timeout for a redis command:

https://gist.github.com/stockholmux/3a4b2d1480f27df8be67#file-timelimitedredis-js

@cekimy Can we close this issue since it's seems more like a redis server stall issue and there is a non-library way of addressing the issue?

[2015-08-15 19:35] blainsmith commented on #708
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:35] #708 closed

[2015-08-15 19:36] blainsmith commented on #698
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:36] blainsmith commented on #691
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:37] blainsmith commented on #682
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:37] #682 closed

[2015-08-15 19:37] blainsmith commented on #321
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:37] #321 closed

[2015-08-15 19:38] blainsmith commented on #655
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:38] #655 closed

[2015-08-15 19:38] blainsmith commented on #646
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:38] #646 closed

[2015-08-15 19:38] blainsmith commented on #629
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:38] blainsmith commented on #627
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:38] #627 closed

[2015-08-15 19:38] blainsmith commented on #616
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] blainsmith commented on #600
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] #600 closed

[2015-08-15 19:39] blainsmith commented on #594
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] #594 closed

[2015-08-15 19:39] blainsmith commented on #576
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] blainsmith commented on #565
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] #565 closed

[2015-08-15 19:39] blainsmith commented on #555
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] #555 closed

[2015-08-15 19:39] blainsmith commented on #550
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:39] #550 closed

[2015-08-15 19:40] blainsmith commented on #542
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:40] #542 closed

[2015-08-15 19:42] #468 closed

[2015-08-15 19:42] #473 closed

[2015-08-15 19:42] #476 closed

[2015-08-15 19:42] #477 closed

[2015-08-15 19:42] #491 closed

[2015-08-15 19:42] #501 closed

[2015-08-15 19:42] #503 closed

[2015-08-15 19:42] #504 closed

[2015-08-15 19:42] #507 closed

[2015-08-15 19:42] #508 closed

[2015-08-15 19:42] #510 closed

[2015-08-15 19:42] #512 closed

[2015-08-15 19:42] #513 closed

[2015-08-15 19:42] #516 closed

[2015-08-15 19:42] #519 closed

[2015-08-15 19:42] #520 closed

[2015-08-15 19:42] #523 closed

[2015-08-15 19:42] #524 closed

[2015-08-15 19:42] #525 closed

[2015-08-15 19:42] #526 closed

[2015-08-15 19:42] #530 closed

[2015-08-15 19:42] #532 closed

[2015-08-15 19:42] #398 closed

[2015-08-15 19:42] #399 closed

[2015-08-15 19:42] #402 closed

[2015-08-15 19:42] #410 closed

[2015-08-15 19:42] #413 closed

[2015-08-15 19:42] #415 closed

[2015-08-15 19:42] #422 closed

[2015-08-15 19:42] #423 closed

[2015-08-15 19:42] #431 closed

[2015-08-15 19:42] #432 closed

[2015-08-15 19:42] #433 closed

[2015-08-15 19:42] #436 closed

[2015-08-15 19:42] #439 closed

[2015-08-15 19:42] #445 closed

[2015-08-15 19:42] #447 closed

[2015-08-15 19:42] #453 closed

[2015-08-15 19:42] #454 closed

[2015-08-15 19:42] #458 closed

[2015-08-15 19:42] #461 closed

[2015-08-15 19:42] #464 closed

[2015-08-15 19:42] #466 closed

[2015-08-15 19:42] #467 closed

[2015-08-15 19:42] #281 closed

[2015-08-15 19:42] #286 closed

[2015-08-15 19:42] #287 closed

[2015-08-15 19:42] #292 closed

[2015-08-15 19:42] #296 closed

[2015-08-15 19:42] #304 closed

[2015-08-15 19:42] #314 closed

[2015-08-15 19:42] #319 closed

[2015-08-15 19:42] #320 closed

[2015-08-15 19:42] #339 closed

[2015-08-15 19:42] #341 closed

[2015-08-15 19:42] #367 closed

[2015-08-15 19:42] #374 closed

[2015-08-15 19:42] #376 closed

[2015-08-15 19:42] #383 closed

[2015-08-15 19:42] #385 closed

[2015-08-15 19:42] #388 closed

[2015-08-15 19:42] #389 closed

[2015-08-15 19:42] #392 closed

[2015-08-15 19:42] #393 closed

[2015-08-15 19:42] #395 closed

[2015-08-15 19:42] #54 closed

[2015-08-15 19:42] #225 closed

[2015-08-15 19:42] #247 closed

[2015-08-15 19:42] #248 closed

[2015-08-15 19:42] #251 closed

[2015-08-15 19:42] #263 closed

[2015-08-15 19:42] #271 closed

[2015-08-15 19:42] #272 closed

[2015-08-15 19:43] blainsmith commented on #536
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:43] #536 closed

[2015-08-15 19:43] blainsmith commented on #537
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:43] blainsmith commented on #540
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:43] #540 closed

[2015-08-15 19:44] blainsmith commented on #543
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:44] #543 closed

[2015-08-15 19:44] #544 closed

[2015-08-15 19:45] blainsmith commented on #545
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:45] #545 closed

[2015-08-15 19:45] #547 closed

[2015-08-15 19:45] blainsmith commented on #554
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:45] #554 closed

[2015-08-15 19:45] blainsmith commented on #561
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:45] #561 closed

[2015-08-15 19:46] blainsmith commented on #562
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:46] blainsmith commented on #566
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:46] blainsmith commented on #569
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:46] blainsmith commented on #573
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:46] #573 closed

[2015-08-15 19:47] blainsmith commented on #574
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:47] blainsmith commented on #577
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:47] blainsmith commented on #585
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:47] #585 closed

[2015-08-15 19:47] blainsmith commented on #586
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:48] blainsmith commented on #592
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:48] #592 closed

[2015-08-15 19:48] blainsmith commented on #597
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:48] #597 closed

[2015-08-15 19:48] blainsmith commented on #598
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:48] #598 closed

[2015-08-15 19:48] blainsmith commented on #599
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:48] #599 closed

[2015-08-15 19:48] blainsmith commented on #601
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:48] #601 closed

[2015-08-15 19:49] blainsmith commented on #603
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:49] blainsmith commented on #605
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:49] blainsmith commented on #606
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:49] #606 closed

[2015-08-15 19:49] blainsmith commented on #607
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:49] #607 closed

[2015-08-15 19:49] blainsmith commented on #618
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:50] #621 closed

[2015-08-15 19:50] blainsmith commented on #624
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:50] #624 closed

[2015-08-15 19:50] blainsmith commented on #630
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:50] #630 closed

[2015-08-15 19:51] blainsmith commented on #632
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:51] #632 closed

[2015-08-15 19:51] blainsmith commented on #636
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:51] #636 closed

[2015-08-15 19:51] blainsmith commented on #641
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:51] #641 closed

[2015-08-15 19:51] blainsmith commented on #648
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:51] #648 closed

[2015-08-15 19:51] blainsmith commented on #657
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:51] #657 closed

[2015-08-15 19:52] blainsmith commented on #660
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:52] #660 closed

[2015-08-15 19:52] blainsmith commented on #667
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:52] #667 closed

[2015-08-15 19:52] blainsmith commented on #672
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:52] #673 closed

[2015-08-15 19:52] blainsmith commented on #674
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:52] #674 closed

[2015-08-15 19:53] blainsmith commented on #676
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:53] #676 closed

[2015-08-15 19:53] blainsmith commented on #678
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:53] blainsmith commented on #680
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:53] blainsmith commented on #683
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:53] #683 closed

[2015-08-15 19:53] #687 closed

[2015-08-15 19:54] blainsmith commented on #689
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:54] blainsmith commented on #690
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:54] #690 closed

[2015-08-15 19:54] blainsmith commented on #695
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:54] blainsmith commented on #703
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:54] #703 closed

[2015-08-15 19:54] blainsmith commented on #712
In order to better support this project and its new group of collaborators under a new org we are trying to clean up and close issues older than 6 months. Your issue may have been fixed since the issue was open, however, if you are still experiencing a problem **please** re-open this issue and we will label it accordingly.

[2015-08-15 19:54] #712 closed

[2015-08-15 19:56] blainsmith commented on #792
Ok, don't hate me if I spammed the crap out of anyone haha. I got us down to 28 open issues that have been created within the last 6 months. Hopefully this alleviates some of the issue anxiety! :stuck_out_tongue_winking_eye:

[2015-08-15 19:56] #792 closed

[2015-08-15 20:00] mhart commented on #302
@blainsmith wut?

[2015-08-15 20:15] jerel commented on #398
Was this fixed?
On Aug 15, 2015 2:42 PM, "Heisenbeard" <notifications@github.com> wrote:

[2015-08-15 20:28] bcoe opened #794 "make tests work with iojs-v3"
We need to upgrade the hiredis dependency once this is merged:

https://github.com/redis/hiredis-node/pull/96

[2015-08-15 20:34] blainsmith commented on #713
@ayazpasha2434 Did @Waterloo have the right answer for you?

[2015-08-15 21:01] blainsmith commented on #790
What is your webpack config like? I found an interesting article showing how you should only package your own code and leave anything in `node_modules` as is. This way you are not pulling in 3rd party modules and packaging them into your final build file. Unless, of course, you are trying to do this.

http://jlongster.com/Backend-Apps-with-Webpack--Part-I

[2015-08-15 21:06] blainsmith commented on #778
Should we close this since #793 was merged?

[2015-08-15 21:06] #757 closed

[2015-08-15 21:13] blainsmith commented on #731
@r3wt You have a async problem with your code. Your `getClientSession` function is returning faster than `redis.get()` is getting the value, hence this function will always return `false`.

Definitely look into javascript callbacks and promises and that will solve your issue.

[2015-08-15 21:13] #731 closed

[2015-08-15 21:50] blainsmith opened #795 "redis.js.org"
I got confirmation that redis.js.org was added and is now pulling the README for a documentation site. One downside I see is since its a [javascript file](http://ricostacruz.com/flatdoc/) pulling in the contents we won't get much SEO cred. There are some other options out there for generating sites so its Google-able. One option is https://github.com/millermedeiros/mdoc. Then we can trim down the

[2015-08-16 00:29] bcoe commented on #778
\o/

[2015-08-16 00:29] #778 closed

[2015-08-16 02:46] ralucas commented on #532
So, is no one else experiencing this issue?

[2015-08-16 05:46] bitinn commented on #689
@blainsmith It's a known issue of redis clients, please look into it when available. I would love to see how you handle this in general

[2015-08-16 11:00] blainsmith commented on #532
If your client is up to date I will reopen this issue and look into it. Were we trying to clean up stale issues. What version are you running?

[2015-08-16 11:21] simontabor commented on #689
@bitinn What would you say the client should do? Some thoughts:

- The multi hasn't failed, so handling a single command error by immediately giving an `err` to the exec callback would be misleading (all the other commands could have succeeded)
- Individual commands can still have their own error handlers.

In https://github.com/gosquared/redis-clustr, I handle this by keeping an array of errors a

[2015-08-16 13:43] bitinn commented on #689
I think I prefer introducing a new error type, say `TransactionError`, so that `err` in exec callback can be handled by `if(err) { ... }` AND can provide custom data for error handling.

I haven't looked into this since, so I am not sure whether this is possible with current node_redis parser.

[2015-08-17 01:05] bcoe commented on #795
@blainsmith this looks great to me :+1:

I've added it as the project's website -- if you're ever bored would love to get this setup for [yargs](https://github.com/bcoe/yargs) too.

[2015-08-17 01:08] bcoe commented on #753
Hey @StephaneC I think the problem is that you should be calling:

`client.on('pmessage')` rather than `client.on('message')`, if you're using `psubscribe`.

I've added a unit test for your specific use-case,

https://github.com/NodeRedis/node_redis/pull/796

let me know if you continue to run into problems and we can reopen this ticket.

[2015-08-17 01:08] #753 closed

[2015-08-17 01:19] blainsmith commented on #795
Not a prob @bcoe! Would be happy to. I'll make an issue of there for us to collaborate on it.

[2015-08-17 01:32] cekimy commented on #789
@stockholmux ok, thanks very much, I'll try this gist.

[2015-08-17 04:48] chakrit commented on #329
This is very unfortunate. All other Redis drivers on other platforms I have worked with have connection pooling mechanism built in. And this is never an issue on client-side code.

[2015-08-17 06:23] bcoe commented on #735
@greim it looks like this has been fixed upstream in redis-sentinel, do you think there's any work we should do on our end for this?

The problem is, if `net.Socket` was used externally and passed into node-redis:

[code]

It's actually fairly hard to introspect the options that were used to create the socket connection.

[2015-08-17 07:12] bgSosh commented on #597
This is still an issue.  Please re-open.

[2015-08-17 08:15] iclanzan commented on #304
What is the resolution for this?

[2015-08-17 11:43] blainsmith commented on #597
@brycebaril Since you were on this originally, can you comment on this?

[2015-08-17 14:32] #795 closed

[2015-08-17 14:43] qubyte commented on #302
@blainsmith Could you let us know what changed? I'd like to know if this a won't-fix or something, so some explanation would be appreciated.

[2015-08-17 14:45] blainsmith commented on #302
Oops. I forgot to paste in my canned response to this. I was going through and cleaning up really old issues. Sorry about that. I will reopen this and tag it accordingly!

[2015-08-17 14:46] qubyte commented on #302
@blainsmith Ah, I see. Thanks for the update. :)

[2015-08-17 16:46] brycebaril commented on #597
@blainsmith I believe this *shouldn't* be an issue anymore with https://github.com/NodeRedis/node_redis/commit/08a8eed111b0214b47bc8c3ca9ef7ca77e830b89

@bgSosh maybe elaborate with a repro case?

[2015-08-18 02:24] bpytlik commented on #512
This issue still exists, though it's now at line 372 (in master as I write this). Please reopen this issue. Also, please accept the pull request that fixes this issue and has been sitting there for 3 months.

[2015-08-18 02:26] bpytlik commented on #479
This issue still exists in the master branch, please reopen this issue or provide a reason for closing it.

[2015-08-18 02:28] bpytlik commented on #480
This problem still exists and is one of several reasons I monkey patch this library before using it. Please reopen this issue. A potential fix is included in the issue filed...

[2015-08-18 02:32] bpytlik commented on #695
This is still a useful RFE in my opinion as parsing the strings in error messages is a bad interface and an interface should provide a way to differentiate between classes of errors. When I look at the code I still only see new Error(<message>), no subclassing or codes attached so I do not think this has been fixed. Please reopen this issue.

[2015-08-18 04:57] bcoe commented on #780
an update:

* @erinspice and myself put a bunch of work into porting tests to mocha.
* @blainsmith has been putting a ton of work into closing old issues.
* I've started hassling people who've submitted pull request to rebase with master and add tests.

How do folks feel about starting to work on getting some of the long standing open pull-requests closed? what should the process look like, perhap

[2015-08-18 04:59] bcoe commented on #767
@rain1017 this sounds odd, could you share some sample code that's causing this issue for you?

[2015-08-18 05:15] bcoe commented on #689
Looping in @dohse, who has submitted a partial solution to this problem.

https://github.com/NodeRedis/node_redis/pull/751

I like the simplicity of this solution, but I agree with concerns that it's a bit strange that errors and good responses are intermixed.

This might be the best solution in the short term, however, since I think switching to returning an error in the errback would require a m

[2015-08-18 11:55] erinspice commented on #780
Sounds good to me.

[2015-08-18 13:43] blainsmith commented on #512
I haven't been able to reproduce this error. I am in the middle of writing a test for this command as well.

[2015-08-18 18:24] bpytlik commented on #512
The issue exists by inspection. Here is the line in question:
[code]
Here is the send_command function:
[code]

So in the call to send command, we pass a string and no arguments. In send_command, if the second argument does not exist, then we throw an error "send_command: second argument must be an array".

To reproduce this, stand up a redis server. Create two clients (in a single process) and ha

[2015-08-19 00:54] blainsmith commented on #512
I have requested that the author add tests to the PR since we recently updated the test suite.

Thanks for the details on the reproduction.

[2015-08-19 18:23] markthethomas commented on #676
Sad to have to re-open this so soon, but I've been experiencing the same error using latest stable node-redis (0.12.1) and redis 2.8.1. I seem to get the error every 10 minutes or so  when we're running our node app in a staging docker container (debian:jessie is base image).

Is this likely to be something related to the redis instance we use? It's regularity seems to indicate a timing-related is

[2015-08-19 18:24] erinspice commented on #676
@markthethomas Might you be able to write a failing test?

[2015-08-19 21:14] markthethomas commented on #676
I'll see what I can do. I've created a related [issue](https://github.com/Automattic/kue/issues/696) in Kue, the module that utilizes node-redis and seems to be throwing the error

[2015-08-21 01:12] ralucas commented on #532
Running 0.12.1, so that should be up-to-date.

[2015-08-23 12:27] LinusU commented on #794
`0.4.1` is released with iojs v3 support pushed \o/

[2015-08-24 09:01] kulicuu opened #797 "possbile to bundle redis client in the browser"
Hi, I've been doing R&D on web-apps, and wanted to look into what it would take to bundle this redis-client module into a webpack-built browser application.

I had some idea that maybe, given the pub/sub capabilities and the Lua capabilities, that a redis/disque system could serve in the place of a realtime/websockets-esque web-server.
(serving the static assets constituting the app would be handl

[2015-08-24 11:44] kulicuu commented on #797
https://github.com/luin/ioredis/issues/136

[2015-08-24 11:44] #797 closed

[2015-08-24 13:12] stockholmux commented on #797
Yep. I was going to suggest Webdis. Porting this module would be counter-productive but a syntax compatible front-end library would be cool (and I don't think exists).

[2015-08-25 04:39] Rukeith commented on #676
Is this issue be fixed?
Even though I use the no_ready_check: true, I still have this issue.

[2015-08-25 13:08] abhinav76 opened #798 "store json data in redis"
I am very new to redis. So what i want is store the data retrieved from database. Now do i have to use client.set() for every key-value pair returned by database or is there any other way i can save all the data with one command? Data is of the form:
<code>
{
"member_username": "nikhil567",
    "member_gender": "Male",
    "member_dob": 0,
    "member_country": "",
}
</code>

[2015-08-25 13:29] stockholmux commented on #798
You probably want to use a [hash](http://redis.io/topics/data-types-intro#redis-hashes) in Redis. With a hash you can use `client.hmset` ([more info](https://github.com/NodeRedis/node_redis#clienthmsethash-obj-callback)) to store your object.

One note, JS Objects can be nested, but Redis Hashes are only a single level. So, if your data looks something like this:
[code]
You'll need to use [flat](h

[2015-08-25 13:29] #798 closed

[2015-08-25 18:08] abhinav76 commented on #798
@stockholmux my data is stored in variable member. so how would i go about it?
<code>var member={member_name:'svf',address:'cvbjnk'}</code>

[2015-08-25 18:15] kulicuu commented on #798
The proper way is hashed as explained above, and flat, as also explained.  Although that library is new to me.
There is a shortcut, which is generally to be frowned upon (tldr will make it slower to crawl over data analytically later), but maybe sometimes appropriate:  JSON.stringify your object and store it in a normal key as a string.
[code]

[2015-08-25 18:23] stockholmux commented on #798
@abhinav76 It really depends on how you are accessing the data, but you'll likely want to access by your `member_name`, right? So, pull that into the key.

[code]

Later, if you want to get that hash and all the fields you'd do:
[code]

You may also want to look into some sort of secondary store to keep track of all your `member:*` hashes - something like a redis set or list

[2015-08-26 03:01] blainsmith commented on #532
Actually after re-reading this and referencing the docs you cannot send any commends on the same client connection after you set up monitoring. However, you can make another client connection to issue normal commands.

See https://github.com/NodeRedis/node_redis#monitor-mode

[2015-08-26 03:17] ralucas commented on #532
Oh, wow, totally glossed over that.  Thank you for pointing that out!  Best!

[2015-08-26 03:20] blainsmith commented on #532
No worries!

[2015-08-26 05:24] abhinav76 commented on #798
thanks @kulicuu and @stockholmux .

[2015-08-26 06:46] abhinav76 commented on #798
My redis data looks like below:
now how can i update any of the fields in the this data?

<code>
"{\"f_name\":\"\",\"profile\":{\"member_username\":\"nikhil371\",\"member_gender\":\"Male\",\"member_dob\":0,\"member_country\":\"\",\"state\":\"\",\"city\":\"\",\"hair_colour\":\"\",\"hairstyle\":\"\",\"eye_colour\":\"\",\"eyesight\":\"\",\"complexion\":\"\",\"height\":\"\",\"body_ENGINE\":\"\",\"exer

[2015-08-26 10:08] stockholmux commented on #798
@kulicuu If you used `JSON.stringify`, you'll need to use `JSON.parse` to de-serialize the data, update your field, then you'll need to re-write it to the same key with `JSON.stringify`. It's pretty wasteful both in terms of CPU and space-efficiency.

Using hashes, you can update a single field by doing something like this `client.hset('my:key:name','member_gender','female')`. If you used `flat` t

[2015-08-26 10:18] kulicuu commented on #798
I agree it's to be frowned upon-- and thanks @stockholmux  for elaborating on the discussion of why that is--, but it's worth mentioning it as a shortcut.

For context, here's something I wrote about 8 months ago.  I have had to defer the major refactor which would have moved most of the models into Redis' Lua scripts.
https://github.com/Terebinth/britvic/blob/deprecated_version/server/models/user

[2015-08-26 11:32] abhinav76 commented on #798
@stockholmux i used flat and it gives me error: MAximum call stack size exceeded ..

[2015-08-26 14:21] simontabor commented on #767
This *might* be quite a simple one...

Running a single command `SET key value`... sends just that to redis.

Wrapping it with a multi means that immediately increases to 3 commands. You're seeing a 2.6x reduction in speed by sending 3x the commands (a `MULTI` and an `EXEC` along with the `SET`).

To prevent this slowdown in the past, I've added a check to read the multi queue length, and if it's

[2015-08-26 14:29] stockholmux commented on #767
@simontabor Makes sense and cool solution. +1

If this was optimized my the module, I imagine the response would have to emulate a multi bulk response (e.g. wrapping it in an array), but otherwise this would be amazing for some of my use cases.

[2015-08-27 09:33] pawan269 commented on #773
thanks, ioredis works like a charm, and it do not require any changes in code developed using redis lib

[2015-08-30 00:01] bcoe commented on #794
see: https://github.com/NodeRedis/node_redis/pull/800

[2015-08-30 01:01] #794 closed

[2015-08-30 04:57] bcoe opened #803 "let's release version 1.0.0 of node_redis"
Given the recent hard work the community has put into node_redis, I think we're in a good position to push a release out the door.

How do people feel about labeling this `1.0.0` to help minimize disruption to existing node_redis users (we've moved a few bits around)?

The major client-facing features going out the door with this release are:

https://github.com/NodeRedis/node_redis/pull/658 thank

[2015-08-30 05:00] bcoe commented on #780
I feel like we're starting to figure things out with regards to releasing node_redis. Slack has been a good way to interact with people, and we're being careful not to move forward slowly and carefully:

[2015-08-30 05:00] #780 closed

[2015-08-30 15:53] brycebaril commented on #803
Sounds good to me

[2015-08-30 16:56] erinspice commented on #803
Great work, everybody!

[2015-08-30 19:24] bcoe commented on #803
How does this sound to everyone?

https://github.com/NodeRedis/node_redis/pull/804/files

If everyone is cool with it, I'll release this to a `next` tag on npm and test with some of my projects.

[2015-08-30 19:27] blainsmith commented on #803
:+1: and thanks for the commit mention haha.

I am excited to be apart of this. Good work everyone! High fives all around!

[2015-08-30 19:29] erinspice commented on #803
LGTM.

[2015-08-30 19:54] bcoe commented on #803
@erinspice @brycebaril @blainsmith give this a shot:

`npm install redis@next`

If it passes smoke tests, let's promote `next` to `latest` sometime early in the week.

[2015-08-30 20:52] raydog commented on #803
1.0.0 sounds good. There was also #733, which fixed multi/exec behavior with detect_buffers enabled. (Not to get too self-promotey... :P)

[2015-08-30 21:05] bcoe commented on #803
@raydog :+1: I'll amend the changelog.

[2015-08-31 21:57] bcoe commented on #803
`redis@1.0.0` is released: https://www.npmjs.com/package/redis

[2015-08-31 21:57] #803 closed

[2015-09-01 08:47] simontabor opened #806 "Batch commands functionality"
Related to discussions in https://github.com/NodeRedis/node_redis/pull/799

It's very common to want to run a batch of commands at the same time and have a single callback for when they are completed. A lot of the time, people use `MULTI` for this, which is okay but adds noticeable overhead when pushing Redis hard.

An example of this is at GoSquared, where we add a new visitor to our tracking. Th

[2015-09-01 10:12] stockholmux commented on #806
So, the above isn't atomic like running `multi`?

I'm interested in an optimized `multi`-like block that will efficiently run a single command if that is all that is needed. Here is my use case:

[code]

So the second `set` command is only called under certain condition(s) but I need both the first and second commands to run together if it is called.

We do something similar to this now but just t

[2015-09-01 10:26] simontabor commented on #806
Exactly - this will handle that for you

[2015-09-01 11:27] stockholmux commented on #806
@simontabor Gotcha - the first callback and the part about using `async` made me think you were going for a non-atomic series of commands. Also, the link to RedisBatch.js is 404'ing for me.

[2015-09-01 11:36] simontabor commented on #806
@stockholmux edited the link, for some reason it had a full stop at the end.

Think I've misunderstood slightly - you're looking for it to run a multi/exec block if it's more than one command but just run the single command if there's only one?

This will simply throw all the commands at redis when you call exec (non-atomic). I understand the use case for an atomic batch - that could quite easily

[2015-09-01 11:58] stockholmux commented on #806
@simontabor Right - more of an optimization for `multi` I suppose.
[code]
is optimized (internally) to something like
[code]

But, if the multi queue is greater than 1, then the multi is called as normal.

It could be shimmed at the application level, but it seems like a simple / smart optimization that could make a fair bit of difference at scale.

[2015-09-01 11:59] simontabor commented on #806
Definitely +1, that's what I did in https://github.com/NodeRedis/node_redis/pull/799.

I see value in both an atomic and a non-atomic version - WDYT @stockholmux?

[2015-09-01 12:19] stockholmux commented on #806
@simontabor If the syntax remains more-or-less the same for optimized multi, 'normal' multi and non-atomic batch, then the end-user of the module could decide what is best without changing much code. That could be a big win.

[2015-09-02 14:25] akshayjha28 opened #810 "redisClient.quit() silently breaks the application"
I am using then-redis.

The issue is on quiting a connection after all the tasks are done. The code breaks silently without any notification or logs.

It stops the application to run.

Please help

[2015-09-02 14:50] brycebaril commented on #810
To quit after all tasks are done what you want is `client.unref()` -- It will discount the client's connection from the refcounter and thus when it is the only continuation left, allow your application to exit.

[2015-09-02 16:11] akshayjha28 commented on #810
Using the unref() METHOD gives error - undefined is not a function.

I believe it is a version issue

I am using then-redis package.
version : 1.3.0

[2015-09-02 16:15] brycebaril commented on #810
You may want to ask here: https://github.com/mjackson/then-redis

[2015-09-03 04:41] EugeneKrimpson commented on #810
You need to upgrade your version of Redis to access the commands used by Redis to close connections.

[2015-09-03 17:21] BridgeAR commented on #480
@blainsmith I'll open this one as it has been reported as not fixed.

@bpytlik would you be so kind and open a pr for this?

[2015-09-03 17:25] BridgeAR commented on #695
@bpytlik I'll reopen this if you're willing to open a pr to tackle this.

[2015-09-04 08:50] BridgeAR commented on #537
I reopen the issue as there's still a referenced PR and the issue is not fixed yet.

[2015-09-04 08:54] BridgeAR commented on #537
This is actually a duplicate of #287

[2015-09-04 09:24] BridgeAR commented on #605
Reopened as the issue is still present but going to be fixed soon

[2015-09-04 09:25] BridgeAR commented on #566
I'm quite certain I ran into this myself just recently ago => reopend

[2015-09-04 09:37] BridgeAR commented on #427
Reopened as this is not fixed yet and seems to be a bug.

[2015-09-04 09:45] epoberezkin opened #821 "Handle enabling/changing redis password without application restart"
It seems to be not possible to enable or change redis password without application restart.

Even in case when I want to enable password and I supply password to the driver (it logs warning that the password is not required), when the password is enabled in redis, the driver returns error "not authenticated"; it doesn't try to authenticate using password that was passed in config.

For changing pa

[2015-09-04 09:48] BridgeAR commented on #449
@brycebaril we could introduce a flag to JSON.stringify/parse the input. That should be a good solution, don't you think so?

[2015-09-04 10:50] BridgeAR commented on #754
@steelbrain did you run some benchmarks on the implemented js parser and yours?

[2015-09-04 10:52] steelbrain commented on #754
@BridgeAR not yet, but I do have plans for that

[2015-09-04 13:11] BridgeAR commented on #743
The following should work without any issues:

[code]

If you still experience difficulties, please reopen the issue including your code, as it's difficult to tell what's wrong without your code.

[2015-09-04 13:11] #743 closed

[2015-09-04 16:06] BridgeAR commented on #755
@mavrick please post a test for this. I'm not able to reproduce this.

[2015-09-04 16:14] BridgeAR commented on #722
@sebastian-nowak are you up for a PR?

[2015-09-04 16:19] BridgeAR commented on #689
@bitinn does this apply to the the js parser and the hiredis parser or only to the js one?

[2015-09-04 16:24] #784 closed

[2015-09-04 16:25] BridgeAR commented on #790
Closing this as there was no further response and it's not an issue with node-redis

[2015-09-04 16:25] #790 closed

[2015-09-04 17:01] bitinn commented on #689
@BridgeAR I would say both, but I haven't been using the hiredis parser lately. This comment suggests hiredis is affected, but return slightly different results:

https://github.com/NodeRedis/node_redis/issues/624#issuecomment-59771179

[2015-09-04 19:40] BridgeAR commented on #735
No response => closing

[2015-09-04 19:40] #735 closed

[2015-09-04 19:41] BridgeAR commented on #740
@imegory it would be great if you'd provide a test case for this.

[2015-09-04 22:38] BridgeAR commented on #689
@bitinn the different behavior is already fixed on master.

As I played around with multi is seems like it's really behaving very inconsistent.

The error is going to land in either the result or the error value depending on what kind of error is thrown.
E.g. if you do not supply enough arguments the parser is going to throw "early" and the reply will be:
 `[ [Error: Error: EXECABORT Transaction d

[2015-09-04 23:42] BridgeAR commented on #791
Should get fixed by #572

[2015-09-05 11:24] BridgeAR commented on #810
Closing as it does not seem to be an issue with node-redis.

[2015-09-05 11:24] #810 closed

[2015-09-05 11:33] BridgeAR commented on #791
@bminer I can't reproduce this behavior would you mind writing a failing test for it?

[2015-09-05 15:27] bitinn commented on #689
Sounds good to me! I am happy as long as the `err` argument of `exec` callback always contains an Error object when the transaction failed. So I don't have to do hacks like this: https://github.com/bitinn/decent/blob/master/lib/decent.js#L114-L128

[2015-09-08 10:40] BridgeAR commented on #727
This is not likely to happen. It would be best if you could write them and open a PR.

[2015-09-08 19:26] objectiveSee opened #827 "Module for message passing and queueing via pop/push on Redis lists"
I wrote a module that blocks asynchronously until something is pushed into a Redis lists. This can be used as a messaging queue between servers or processes. You can "watch" Redis keys for something to pop. Here is an example usage of the module.

Let me know if this module is something you would like to see published on npm. Also let me know if something similar exists!

[code]

[2015-09-09 21:18] NikSmith opened #828 "Problem with module in NodeJS 4.0.0"
Hello. I have some problem with redis v1.0.0 and NodeJS 4.0.0
I use module in my app, but when I require redis in my code and this give me  process is terminate and return message:

Process finished with exit code 139

[2015-09-09 21:25] brycebaril commented on #828
Are you using the hiredis module? If so, make sure you are on version `v0.4.1` and have run `npm rebuild` after upgrading Node.

[2015-09-09 21:28] NikSmith commented on #828
Yes, problem was in hiredis module. Thank you.

[2015-09-09 21:28] #828 closed

[2015-09-10 17:45] robblovell opened #830 "Multiple connection strings for master-slave demotion/promotion."
On ElasticCache, a redis cluster has one primary master read/write node and several secondary slave read-only nodes.  The redis cluster periodically switches roles for nodes, exchanging master and slave nodes. The connection string to the ElasticCache is to the primary node when writes are needed. The createClient should be modified to take more than one connection port and host pair, and try each

[2015-09-11 16:13] kuwabarahiroshi commented on #803
Documentation for Heroku Redis and Redis Cloud was successfully updated :-)
https://devcenter.heroku.com/articles/heroku-redis#connecting-in-node-js
https://devcenter.heroku.com/articles/rediscloud#using-redis-from-node-js

but not yet RedisToGo
https://devcenter.heroku.com/articles/redistogo#using-with-node-js

[2015-09-11 17:38] born2net opened #832 "Redis does not work with new node v4"
broken :(

[code]

[2015-09-11 17:44] brycebaril commented on #832
please `npm rebuild` or make sure that you have a recent version of http://npm.im/hiredis

see #828

[2015-09-11 17:44] #832 closed

[2015-09-11 17:45] born2net commented on #832
looks like it

[code]

[2015-09-11 17:47] born2net commented on #832
and I am not using hiredis...

[2015-09-11 17:51] born2net commented on #832
nvm, works now... no idea what fixed it, may have been npm rebuild, even though it didn't output anything... but seems to work now, odd :/

[2015-09-11 21:31] silverbucket opened #833 "How to verify which database is in use"
The README very briefly (in an example comment) mentions that, in order to select which database to use, you can use the `client.select(dbnum, callback)` function. I've tried to do this, but still when I access client.server_info I don't see any properties which indicate I'm on anything but database `0`.

In fact the only thing that seems database related is the `db0` property:
`db0: 'keys=270,exp

[2015-09-11 21:57] simontabor commented on #833
have you tried using `client.selected_db`?

[2015-09-11 22:43] silverbucket commented on #833
Hi @simontabor, just tried `client.selected_db` and it's set to `null`

[2015-09-11 22:45] simontabor commented on #833
that'll mean the database in use is 0, so basically `var database = client.selected_db || 0;` should work fine

[2015-09-12 09:45] silverbucket commented on #833
@simontabor So you change the database by setting a property? You don't call the `client.select` method?

[2015-09-12 09:49] silverbucket commented on #833
I tried setting that property, with the same results. I'm unclear how setting a property would automatically select a different database though. This is one area of this module that has little to no documentation. Just this brief mention of a `client.select` method in the README:
[code]

Which I tried to use, the callback is called, but nothing in `server_info` indicates we're on anything other th

[2015-09-12 14:43] simontabor commented on #833
No, but the property is how to verify what database is in use. Use `client.select` to select the database still.

This should explain things...

[code]

by setting a key in each database, db1 will now show up in the `info` response (`redis-cli info`).

I'm not too sure why you need to get what database is selected, to ensure that db1 is selected your code can be as simple as...

[code]

[2015-09-12 17:23] #605 closed

[2015-09-13 01:55] BridgeAR commented on #767
Closing this as we can't do a lot to speed this up. I'll slightly optimize statements and check IRHydra2 if I find the time for it but this has no high priority right now. There is a feature request to handle a single multi operation as a normal set. This might be a good solution for you if it'll be implemented at some point @rain1017

[2015-09-13 01:55] #767 closed

[2015-09-13 02:30] BridgeAR commented on #603
Reopening this as it is not yet resolved and seems to be a major issue

[2015-09-13 02:35] BridgeAR commented on #695
This should get fixed by #538

[2015-09-13 02:43] BridgeAR commented on #398
@jerel this got fixed recently and is going to be included in the next version

[2015-09-13 02:46] BridgeAR commented on #680
This is very likely not fixed => reopening

[2015-09-13 02:49] BridgeAR commented on #678
Reopening as the js parser is still not handling big values well

[2015-09-13 02:58] BridgeAR commented on #674
@jamiter your issue is going to be fixed by #818. To prevent this from happening right now please don't return buffers
@janajri the second error you got seems to be a out of memory issue that can't be handled by hiredis yet

If any of the issues besides the mentioned ones persist, please mention that so I'll reopen this ticket.

[2015-09-13 03:01] BridgeAR commented on #672
Reopening this as there are still more errors with `return_buffers`

Reference #818

[2015-09-13 03:07] BridgeAR commented on #657
@chuntley wouldn't using the lpush directly without the multi statement be what you want?

[2015-09-13 03:10] BridgeAR commented on #624
This will be fixed by #826

[2015-09-13 03:16] BridgeAR commented on #586
This is going to be fixed by #829

[2015-09-13 03:21] BridgeAR commented on #574
Reopening this as it is not resolved. @simontabor would you still be up to try getting cluster support into node_redis?

[2015-09-13 03:25] BridgeAR commented on #562
@brycebaril did you finish your refactoring for this yet?

[2015-09-13 03:43] BridgeAR commented on #390
Not fixed => reopening

[2015-09-13 03:48] BridgeAR commented on #374
@strk this should have been fixed on master (only the js parser still had this error) and will be fixed in the next release.

[2015-09-14 14:40] BridgeAR commented on #97
Not fixed => reopening

[2015-09-14 16:25] silverbucket commented on #833
Whenever I create a connection, and it doesn't seem to depend on whether I use `client.select` or not, the value of `client.selected_db` is never anything other than `null`.

[code]

[2015-09-14 16:32] silverbucket commented on #833
Ah, nevermind I spoke too soon. I just reviewed what I'd written and noticed a typo in the tests versus what I wrote here. It seems to work now (at least, `selected_db` is no longer null) Thanks!

[2015-09-14 16:32] #833 closed

[2015-09-14 21:14] #755 closed

[2015-09-14 21:15] BridgeAR commented on #591
This was fixed on master by #816

[2015-09-14 21:15] #591 closed

[2015-09-14 21:16] BridgeAR commented on #522
This was just fixed on master by #816

[2015-09-14 21:16] #522 closed

[2015-09-15 01:15] BridgeAR commented on #763
If node_redis is going to implement cluster support this is going to be published in the changelog. Since this is not likely to happen soon I'll close this issue.

[2015-09-15 01:15] #763 closed

[2015-09-15 01:57] #427 closed

[2015-09-15 02:03] ORESoftware commented on #763
ok sure np thanks

[2015-09-15 13:47] bminer commented on #791
@BridgeAR - This behavior can be reproduced in node redis 1.0.0.

Here's some code:

[code]

[2015-09-15 23:19] BridgeAR commented on #791
@bminer thx a lot! I should have read your original message more closely :)

Fix is incoming.

[2015-09-16 03:17] #686 closed

[2015-09-16 03:18] BridgeAR commented on #369
This got closed by #838

[2015-09-16 03:18] #369 closed

[2015-09-16 03:18] BridgeAR commented on #390
This got closed by #838

[2015-09-16 03:18] #390 closed

[2015-09-16 03:21] #629 closed

[2015-09-16 03:35] #280 closed

[2015-09-16 03:35] #566 closed

[2015-09-16 03:35] #569 closed

[2015-09-16 03:35] #586 closed

[2015-09-16 03:35] #587 closed

[2015-09-16 03:43] #791 closed

[2015-09-16 06:37] danielbprice commented on #479
I agree, why is this closed?

[2015-09-16 07:10] BridgeAR commented on #479
@bpytlik @danielbprice could either of you open a pull request to fix this or add a test case? :)

[2015-09-16 13:16] epoberezkin commented on #830
Can be related to #821 - essentially multiple connection settings to support any kind of switching in redis

[2015-09-17 21:15] BridgeAR commented on #689
@bitinn I gave this another thought and decided not to break node style err / reply behavior. So the new behavior will be like this:

1. If an EXECABORT error is thrown (any command could not be queued), the error will be in the error parameter (it includes the concrete error occurring). If there's a callback to the specific call, it'll also return the specific error happening. There won't be an a

[2015-09-17 22:16] BridgeAR commented on #722
@sebastian-nowak I'll remove the eval implementation as it is right now but it would be nice if you would implement a new way to handle this properly.

[2015-09-17 22:52] #689 closed

[2015-09-18 00:44] #691 closed

[2015-09-18 00:53] BridgeAR commented on #323
@mesrob-axs would you still be up for a pull request? :) That would be really great

[2015-09-18 01:21] BridgeAR commented on #439
This should have been fixed on master :)

[2015-09-18 04:26] bitinn commented on #689
@BridgeAR Thx for your work and yes it's a major improvement over what we had.

[2015-09-18 05:24] BridgeAR commented on #766
@oninea I can't reproduce this. Could you write a small test for it? :)

[2015-09-18 05:27] BridgeAR commented on #680
@bgSosh @Muqito @simonlast could any of you write a test for this?

[2015-09-18 08:25] McFarts opened #859 "error handling inside the callback?"
[code]

I have `try` and `catch` blocks outside of the `hgetall`, but the throw is not being caught, and giving a fatal error.

Any idea how the functions inside the redis can have error catching?

I really don't want to use try/catch on every single hgetall function.

[2015-09-18 13:02] StephaneC opened #860 "setex"
Is there any way calling setex command?
Looks like not in library for now.

[2015-09-18 14:11] brycebaril commented on #860
Here is an example of using setex:

[code]

[2015-09-18 14:11] #860 closed

[2015-09-18 16:16] simontabor commented on #722
there are modules that handle efficient `eval` / `evalsha` abstraction -  https://github.com/thedeveloper/scripty being one that we've built.

[2015-09-18 16:35] BridgeAR commented on #859
@McFarts the redis call is async so you can't catch something from inside of the callback by wrapping the call into a try catch block.

You'll have to handle the error individually per callback that you create. But you might reuse the same callback to you only have to write that function once as in:

[code]

And don't throw if you do not have to. Just call the next function or stop going on from t

[2015-09-18 16:35] #859 closed

[2015-09-18 16:36] McFarts commented on #859
Oh wow, that is a good idea.

Ha, thank you so much.

[2015-09-18 18:01] BridgeAR commented on #722
Yeah... I'm thinking about if #371 would actually not have been a good idea... especially, since the work seems to be very promising @simontabor what do you think? When I stated that it should not go into core I first wanted to make sure that all the current features are actually working properly without adding other things. But I guess we are on a good way and the code is way cleaner now and it i

[2015-09-19 01:10] simontabor commented on #722
#371 has *very* similar code/usage to what I've just updated scripty to do... it's now 0 dependency and if you check out the README you'll see usage examples...

https://github.com/simontabor/scripty/tree/run

I don't think I agree with adding the script name as a prototype command like #371 does, but otherwise it's pretty much exactly the same but with a few extra failsafes

[2015-09-19 16:35] BridgeAR commented on #695
Redis error codes got added.

[2015-09-19 16:36] BridgeAR commented on #603
@bmcustodio @rootslab could you have a look at #857 ? :)

[2015-09-19 16:37] BridgeAR commented on #577
@josephg @wbotelhos could you have a look at #857 ? :)

[2015-09-20 09:26] McFarts opened #863 "scan is not working"
for example, from the examples:
[code]

it returns just 'iteration complete'

But if I use:
[code]

It will successfully show my object, like so:
![](https://i.gyazo.com/1c0abd949e60cb5d76abfe29daecf03e.png)

Any idea?

[2015-09-20 09:27] McFarts commented on #863
I'm trying to grab all the hashes matching `GAMES:`

[2015-09-20 16:56] #695 closed

[2015-09-20 17:26] brycebaril commented on #863
@McFarts Seems to work for me:

[code]

Looks like what's most likely happening here is you have <= 10 `GAMES:*` keys and they are all coming back in the first iteration, so `cursor = 0` in the reply.

FYI A while ago i wrote a SCAN helper wrapper library for this client that makes things easier:
https://www.npmjs.com/package/redis-scanstreams

[code]

[code]

[2015-09-20 17:26] #863 closed

[2015-09-21 13:07] hh9527 opened #864 "Support Promise"
Will this project support Promise (which has already supported in Node 4.x)?

[2015-09-21 13:44] stockholmux commented on #864
I don't believe that is on the roadmap. You can, however, promisify the library with [bluebird](https://github.com/petkaantonov/bluebird/).

There is even a [specific example](https://github.com/petkaantonov/bluebird/blob/master/API.md#promisification) for this library.

[2015-09-21 14:10] BridgeAR commented on #864
I do like to add a way to promisify the library if a certain parameter is passed. This won't be in the next release though.

[2015-09-21 14:15] stockholmux commented on #864
@BridgeAR Interesting. If the option parameter is passed will it essentially just use bluebird? Or will it be implemented in a different way?

[2015-09-21 14:18] BridgeAR commented on #864
Yes, I'd use bluebird internal.

[2015-09-21 14:33] moretti commented on #864
Related project:
https://github.com/mjackson/then-redis

[2015-09-21 14:36] wbotelhos commented on #577
I'm sorry @BridgeAR , I can't.
I'm currently in another company. :disappointed:

[2015-09-21 15:36] bminer commented on #791
@BridgeAR - Thank you!  I'm excited for the next release.

[2015-09-21 21:43] BridgeAR commented on #754
Ping @steelbrain

[2015-09-21 21:45] steelbrain commented on #754
@BridgeAR I am sorry but I haven't been able to gather enough time to benchmark them both. I'll make this top priority for tomorrow :)

[2015-09-21 23:49] steelbrain commented on #754
@BridgeAR I have done some performance related tweaks to `redis-proto` and have also released it's 1.0. I am not much experienced with these benchmark libraries for node.js, I have this code in which `node_redis`'s parser doesn't seem to be working. I presume you have experience in these, would you like to fix it and post the results?

[code]

[2015-09-22 07:37] BridgeAR commented on #672
The buffer issues should have been fixed by 55e4a9b847b15f535d1538241c98554de7c14af8. @aleksraiden please check if your issue persists and reopen if.

[2015-09-22 07:37] #672 closed

[2015-09-22 08:55] pangguoming opened #865 "Does this model support GEO operation ?"
when i run the function like:
 client.geoadd("mycity:21:0:location", "13.361389","38.115556","COR", redis.print);

i get the error: TypeError: undefined is not a function

Does this model support  GEO  operation ?

[2015-09-22 09:15] BridgeAR commented on #865
node_redis supports .geoadd from version 2 on. Do you still use an older version?

[2015-09-22 09:30] #865 closed

[2015-09-23 11:23] luin commented on #864
As for me, it would be convenient to return a Promise if the last argument isn't a callback function. I implemented it in my redis client. Refer to https://github.com/luin/ioredis for more details.

Here's an example:
[code]

[2015-09-23 18:50] Azmisov commented on #449
Maybe there can be an option in the createClient constructor. Something like...
*parse_bool*: converts "true" to true, "false" to false
*parse_null*: converts "null" to null

[2015-09-23 18:56] palamccc opened #866 "argument mutation - breaking old code"
v2.0.0 is mutating arguments, i think its anti-pattern, can you avoid it ?

    var fields = ["a","b","c"];
    hmget("key", fields, function(err,ret){
      console.log(fields); //prints ["key","a","b","c"]
    })

[2015-09-23 19:04] BridgeAR commented on #866
I can't reproduce that.

[2015-09-23 19:05] BridgeAR commented on #864
That might be an option. I'll think about it when I have the time to tackle this.

[2015-09-23 19:12] BridgeAR commented on #866
Hm, you are actually right. This is something I did not think about earlier. I'll fix it tomorrow. Can't find the time today.

[2015-09-23 22:33] #866 closed

[2015-09-23 22:54] BridgeAR commented on #754
@steelbrain I'm sorry I do not have the time to do this. If you managed to write a benchmark and the numbers are looking good feel free to open a new issue.

[2015-09-23 22:54] #754 closed

[2015-09-23 23:00] BridgeAR commented on #725
@PrakashJetty @carlosascari could you check if the error persists in v.2? That would be really nice :)

[2015-09-23 23:03] BridgeAR commented on #737
@zt9 would you be so kind and check if this error persists in v.2? That would be a lot of help! :)

[2015-09-23 23:06] BridgeAR commented on #741
@chisleu would you still be up to implement either or both features? :) I'd highly appreciate that

[2015-09-23 23:07] BridgeAR commented on #741
Duplicate of #574  and #302

[2015-09-23 23:07] #741 closed

[2015-09-23 23:07] chisleu commented on #741
@BridgeAR I moved to ioredis, which seems to support these already.

[2015-09-23 23:15] BridgeAR commented on #713
There seemed to be an issue with your network connection and it does not seem to be an issue with node redis. Adding the error handler should be sufficient so the app does not crash anymore (and it should always be attached).

[2015-09-23 23:15] #713 closed

[2015-09-23 23:16] simontabor commented on #574
Yeah. Will need to find some time - hopefully soon!

[2015-09-23 23:17] BridgeAR commented on #827
@objectiveSee I'm not aware of something like that existing, but I did not check either.

If you already wrote that module, why not publish it? If someone thinks it's useful, that great, if not, that should not be an issue as you already did most of the work.

[2015-09-23 23:17] #827 closed

[2015-09-23 23:22] BridgeAR commented on #715
That is intended behavior. The error did not occur while queuing the command but while executing it. Since the transaction is not rolled back the error is returned in the result handler. Otherwise there could be errors and results being returned at the same time. For further infos check [transactions](http://redis.io/topics/transactions).

[2015-09-23 23:22] #715 closed

[2015-09-23 23:23] BridgeAR commented on #574
@simontabor Sounds good :+1:

[2015-09-23 23:50] simontabor opened #867 "Multi.hmset doesn't convert key to string"
https://github.com/NodeRedis/node_redis/blob/master/index.js#L994 runs after tmp_args is defined, so the code is useless.

https://github.com/NodeRedis/node_redis/blob/master/index.js#L967 is probably how it should be.

I think the statement just needs to be moved above tmp_args... correct?

[2015-09-24 01:34] erinspice commented on #867
Looks like it.

[2015-09-24 02:21] zt9 commented on #737
@BridgeAR Hi Ruben, I have moved on from this project and will not be able to check on this anytime soon unfortunately. Wanted to reply back and just not ignore your message. If something changes, I'll update the thread.

[2015-09-24 07:39] dirkbonhomme commented on #449
But then how would you deal with the actual string value of "true" and "null"? There's no way to detect what the original input type was.

[2015-09-24 10:09] BridgeAR commented on #867
I dislike that behavior as you can see in [line 965](https://github.com/NodeRedis/node_redis/blob/master/index.js#L965) but it's fixed for now.

[2015-09-24 10:09] #867 closed

[2015-09-24 11:24] BridgeAR commented on #510
Duplicate of #577. The reason that this crashes is that if you're subscribed to more than one channel the response is going to be not a single response but one for each channel. Right now the behavior is 1 command => 1 response. That is not true in this case so it breaks while unsubscribing all.

[2015-09-24 17:14] markthethomas commented on #676
I haven't seen this recently and had trouble writing a failing test -- may have been related to my connection?

[2015-09-24 19:11] BridgeAR commented on #676
The error was not really descriptive earlier. From version 2. on that error should not occur if you did not close the redis client by yourself. Earlier it was also thrown to often, as it could occur while reconnecting and that flushed the offline queue and returned that error.

This won't happen anymore and is resolved in v.2. I really recommend using v.2 as it fixed a lot of issues that people co

[2015-09-24 19:29] BridgeAR commented on #753
@bcoe we might consider consolidating the event handler, don't you think so?

[2015-09-24 19:35] BridgeAR commented on #738
Sentinel is going to build in at some point.

[2015-09-24 19:40] BridgeAR commented on #712
@nacholibre could you write an example for me to look at?

[2015-09-24 19:44] BridgeAR commented on #708
@gagle Could you check if this is still an issue with v.2.0? I guess that is already fixed but it would be great to be sure about it.

[2015-09-24 20:37] BridgeAR commented on #698
I can't reproduce any queue state errors with 2.0 but there's a protocol error returned if I use another command after using sync. The js parser does not throw the error without returning buffers though => reopening.

@danorton is that correct behavior?

[2015-09-24 20:39] BridgeAR commented on #700
@twappworld did the comment from @ganeshnaidu help you?

[2015-09-24 20:42] BridgeAR commented on #704
@silentroach please try version 2.0. That should likely fix your issue or at least print a better error message then before.

[2015-09-24 20:52] BridgeAR commented on #690
@edufelipe @Guuz @asilvas that issue is resolved with v.2.0 and I highly recommend updating to that version as it fixed most issues people were running into.

@poliveira89 you do not wait until the async operation is done, so you can't expect any reply.

[2015-09-24 20:57] BridgeAR commented on #682
This got fixed in v.2.0 and I highly recommend updating to that version as it fixed most issues people ran into.

[2015-09-24 21:00] BridgeAR commented on #561
The js parser is still very slow at parsing big values and hiredis does support windows. It should be up to the user what parser to use.

@crzidea while creating a new redis client you can pass the "parser" option to specify what parser to use.

[2015-09-24 21:09] BridgeAR commented on #668
This should already be resolved. If not, please reopen.

[2015-09-24 21:14] BridgeAR commented on #661
Pipelines will be included in a future release.

[2015-09-24 21:24] BridgeAR commented on #657
As multi is there for transactions this is not possible in the way you want it.

[2015-09-25 01:22] BridgeAR commented on #646
@NodeRedis/contributors do you think this is a neat feature to implement? I do not really care either way.

[2015-09-25 01:29] BridgeAR commented on #632
If this is still an issue, please reply again. But this should likely be fixed.

[2015-09-25 01:34] BridgeAR commented on #628
@BenHall @weull @BobDickinson are you still experiencing this? We have Windows support now and if you still experience any difficulties @bcoe might look further into it.

[2015-09-25 01:36] BridgeAR commented on #627
@jefflage is this still an issue with node-redis 2.0? There were some major fixes to the error handling.

[2015-09-25 01:39] BridgeAR commented on #621
We support the redis url since v.1.0 and we might implement more environment variables to use directly.

[2015-09-25 01:49] BridgeAR commented on #618
@fabriziomoscon @kbjr @ianjuma what did you do that this error occurred? The error itself is thrown by redis, so node_redis is only parsing what is returned by redis itself.

[2015-09-25 01:52] BridgeAR commented on #608
This is implemented in the new test suite

[2015-09-25 01:55] BridgeAR commented on #606
Reference #864

[2015-09-25 01:59] BridgeAR commented on #597
This has been resolved in v.2.0

[2015-09-25 02:00] BridgeAR commented on #594
You can use hmset like that. This is not on the roadmap soon though for other commands.

[2015-09-25 02:05] BridgeAR commented on #600
Part of #574

[2015-09-25 06:05] ile opened #869 "Error: node_redis command queue state error."
I'm getting this error:

[code]

How to reproduce:

- Clone this https://github.com/derbyjs/derby-examples
- `npm install`
- make sure there is only `redis@2` installed in the tree root (remove others or use `npm@3` which may do this for you)
- `cd directory`
- `node server.js`
- Click the menu items on top - this should produce the error

In other words, the error happens in a [DerbyJS](http://de

[2015-09-25 09:32] stockholmux commented on #646
I've never really thought about it before but it is a bit weird that `hgetall` returns `null` when the key is not found, but other array commands return arrays if the key doesn't exist.

Looking at a few different commands:
[code]

It's an inconsistency for sure, but from the app perspective it might be easier to check for `null` than to check for `{}`. So, I'm mixed.

[2015-09-25 10:05] BridgeAR commented on #869
The dependencies used seem to be really old. Hiredis 0.2.0 tried to compile while I ran `npm install` and the supported node_redis dependency from derby-starter is 0.12. So Switching to a new version won't help but all those outdated dependencies down the line have to be updated first (and there will very likely be breaking changes while doing so).

[2015-09-25 11:25] nacholibre commented on #712
var args = [ 'myzset', 0, 99, 'WITHSCORES';
    client.zrevrange(args, function (err, response) {
        if (err) throw err;
        console.log(response);
    });

The returned response is in format:
`[member1, score1, member2, score2]` and I think it's better to return `[[member1, score1], [member2, score2]]`

[2015-09-25 11:27] ile commented on #869
I'm running hiredis 0.4.1 in another app and the same thing happens there.

I can make an updated example though.

[2015-09-25 11:43] BridgeAR commented on #869
If you could write a standalone example, that would be great.

[2015-09-25 11:50] BridgeAR commented on #646
The default return value is set by redis and not by node_redis. We manipulate the return value from hgetall though, so it returns an object instead of an array and return null if nothing was found. I personally think it's more intuitive to to have null as reply, as you'd otherwise have to check for the object keys, if you want to know if there were any replies.
And that's also what most people see

[2015-09-25 12:02] BridgeAR commented on #712
Duplicate of #97 (it would be returned as an object instead of a two dimensional array).

If it would not be a BC I'd add it in soon, but that way it'll have to wait until 3.0.

[2015-09-25 12:10] BridgeAR commented on #449
@Azmisov as @dirkbonhomme pointed out this would not be a good solution. Therefor only using JSON.stringify/parse might be a option.

[2015-09-25 12:38] silentroach commented on #704
Will try in a few days, thank you

[2015-09-25 13:43] aj0strow commented on #621
@BridgeAR thank you, it's a nice improvement!!

[2015-09-25 17:24] BridgeAR commented on #725
I tried your test code and it reconnected fine with v.2.0. If this is not fixed by v.2 feel free to reopen the issue.

[2015-09-25 17:24] #725 closed

[2015-09-25 17:28] BridgeAR commented on #601
@metellica version 2 should have fixed all reconnection issues. If you still encounter any of these, please give me a short reply. And it would be great to be on the safe side that everything works as it should.

[2015-09-25 18:23] BridgeAR commented on #616
@balupton It is easy to implement this by your own in the way you want it to. That is likely the best to do here, as we'd also have to bind multi statements and batch commands that will be added at some point. And the later two would have a new instance each time you call them, so it'd be a performance overhead to bind the functions in that case.

So instead of adding this to the core, you can jus

[2015-09-25 18:23] #616 closed

[2015-09-25 23:54] metellica commented on #601
Ruben, thanks for your notification, we will test with version 2. Any questions will let you know.

—
通过 Mailbox 发送

On Sat, Sep 26, 2015 at 1:28 AM, Ruben Bridgewater
<notifications@github.com> wrote:

[2015-09-26 09:37] prohalexey opened #870 "Why so much memory using by node"
var redis = require("redis"),
     client = redis.createClient();

for(var i =0 ; i < 1000000; i++){
     client.publish('channel_1', 'hello!');
}

after code is executed, node.js process allocate 1,2GB of memory; nothing happen; GC does not reduce allocated memory. if it will be 2 million messages or 4x500000, node crashes with memory error.

Node: 0.8.* ,  after this i trying 4.1.1 , but nothing

[2015-09-28 04:45] mattador1 opened #871 "hgetall returns buffers?"
I have using this library for redis for solid amount of time I didn't change the node redis library version.
But when I go hgetall I get an object with fields which I can access, but the problem is that values of this fields are buffers? And in Redis values are strings, and in past I was getting strings and now I'm getting buffers. Only thing I changed is that redis isn't on same machine as app, s

[2015-09-28 05:41] brycebaril commented on #870
This code synchronously creates a large number of strings `channel_1`, `"hello!"`, and functions and appends all of those to an array that grows to be 1e6 elements long.

If you select a number high enough, Node will be allocating too much JS heap and pass the V8 1.5gb limit.

Garbage collection can't run until these things aren't referenced anymore, which won't be until after the callbacks have f

[2015-09-28 16:03] nelsonic opened #872 "ZSCORE is not a function"
before I "upgraded" to v2 of this module `zscore` used to work as [*expected*](http://redis.io/commands/ZSCORE). has it been removed?

[2015-09-29 11:35] abhaygarg opened #873 "Delete array of keys in redis using node-redis"
I have arrays of keys like ["aaa","bbb","ccc"] so I want to delete all these keys from redis using one command . I donot want to iterate using loop . I read about redis command DEL and on terminal redis-client it works but using nodejs it does not work

Redisclient.del(tokenKeys,function(err,count){
                    Logger.info("count is ",count)
                    Logger.error("err is ",err)

[2015-09-29 12:06] stockholmux commented on #873
`client.del` can take a variable number of arguments. You can use `apply` to convert your array into arguments (but you'll need to also push on your callback). It would look something like this:
[code]

It's a bit weird, but it will get the job without iterating.

[2015-09-29 12:29] BridgeAR commented on #873
@abhaygarg This should work out of the box just as you wrote it. Could you provide more of your code? I guess the error is somewhere in your code. And what version do you use?

@stockholmux this is not the solution to the issue. Actually it is better to use the array notation right away instead of using arguments (they will be rewritten to an array internal).

[2015-09-29 12:30] #873 closed

[2015-09-29 12:30] BridgeAR commented on #872
I just checked it and I can't reproduce any issues. The function is still present and the [redis example](redis.io/commands/ZSCORE) is working properly.
Could you please provide me with some of your code?

[2015-09-29 12:30] #872 closed

[2015-09-29 12:31] BridgeAR commented on #871
@mattador1 please provide me with some detail of your code. I tested this and everything works as it should in version 2.0. do you provide the values as buffers? If so, the return value will also be a buffer if you detect buffers.

[2015-09-29 12:31] #871 closed

[2015-09-29 12:33] BridgeAR commented on #869
Ping @ile

[2015-09-29 12:51] mattador1 commented on #871
All ok i set return buffers flag..and I forgot about that small detail :)

Sorry
On Sep 29, 2015 7:31 AM, "Ruben Bridgewater" <notifications@github.com>
wrote:

[2015-09-29 13:48] nelsonic commented on #872
Hi @BridgeAR thanks for investigating.
Please See: https://travis-ci.org/nelsonic/arana/builds/82587176#L678-L681
Which refers to: https://github.com/nelsonic/arana/blob/8c239cf3a0b2c50e22b5213f66b8a4c70c741b21/lib/work_queue.js#L27
which calls `redisClient.zscore` which apparently is not a function anymore!!

[2015-09-29 15:01] abhaygarg commented on #873
yeah its working you can directly pass array in Redisclient.del(tokenKeys,function(err,count){
Logger.info("count is ",count)
Logger.error("err is ",err)
})
it delete fine you can pass array in Redisclient.del() it works fine

[2015-09-29 15:48] BridgeAR commented on #872
@nelsonic redisClient is not the connected client in your case, since you forgot to call the returned function from [redis-connection](https://github.com/nelsonic/arana/blob/8c239cf3a0b2c50e22b5213f66b8a4c70c741b21/lib/work_queue.js#L2).

[2015-09-29 18:45] ile commented on #869
Sorry I totally forgot this, I will try to do it soon, maybe tomorrow.

[2015-09-29 20:34] nelsonic commented on #872
Thanks again @BridgeAR I owe you one for spotting that bug! :+1:

[2015-09-29 23:50] BridgeAR commented on #576
This will take a while as it'll be a bc change but I'd like to rewrite zrange to return as a object. In that case I'd also rewrite the inf to a JS Infinity

[2015-09-30 00:20] BridgeAR commented on #704
Ping @silentroach

[2015-09-30 08:11] akshayjha28 commented on #810
HI
I have changed my package from then-redis to node_redis.

As per the documentation it says end() and quit() methods are available but I am not able to find them in any file of the package

Please can you help

[2015-09-30 13:04] BridgeAR commented on #810
The .end function is in the index.js file and.quit is a redis command. Those are added to the redisClient by default.

[2015-10-01 11:37] BridgeAR commented on #774
@jamiis this should be fixed by 025c65c614929a26ab90033c4c7a5ecd312487c4. Would you be so kind and verify that? Besides: could you give me some insight into your setup? I'd like to have a test for this and without any further info it's difficult to go on.

[2015-10-01 11:37] #774 closed

[2015-10-01 14:42] salboaie opened #874 "Surprise error when the third argument of publish is "undefined""
With the newest versions the redis client (doesn't happen with 0.12.1) , a surprise  error is generated when the third argument is explicitly undefined. Check the code:

var redis = require("redis");
var client = redis.createClient();
client.publish("channel", "test"); //is fine
client.publish("channel", "test", function(){}); //is fine again

client.publish("channel", "test", undefined); //not fi

[2015-10-01 15:18] BridgeAR commented on #874
A *fix* for this is easy, the question though is, if this should be supported at all. I thought about this before changing the behavior in that direction.
Because if you pass a explicit undefined, I'd say something is likely not working in your code as you expect it too. And since you passed the undefined, it's handled as any other value. But if you have such a use case you can handle this in your

[2015-10-01 15:31] salboaie commented on #874
Ok, but it could break legacy code that may be someone can't even touch. It really surprised me.. one day was working another day is mysteriously crushing for no reason... Please don't be evil with your fans :)     It could steal hours from other people lives for no reason... It is justified to have cases where we are  interested to know the results and cases where they are in the same program.

v

[2015-10-01 15:47] BridgeAR commented on #874
Well version 2.0 had a couple of breaking changes. That's also why it's called 2.0, as we use [Semver](http://semver.org/). I'll add another note about that change to the Breaking change part of the 2.0 release.
It's not that I want to be evil with you or anyone. But the behavior as it is right now is the one that I personally would expect and wish how my program should behave. It prevents people

[2015-10-01 21:45] torra opened #875 "usage with node cluster causes intermittent latency issues"
We run ec2 instances using node cluster, with ~5 workers per instance. We were using an old version (0.10.3), and when we tried to upgrade we started seeing timeouts on the load balancer. Here is what I noticed:
- disabling cluster fixes the issue
- leaving cluster enabled, but only using one worker fixes the issue
- reverting back to 0.10.3 fixes the issue (update: 0.12.1 and 1.0.0 also seem to w

[2015-10-02 07:16] salboaie commented on #874
One thing to have in mind is that the stack of the error you throw is only from your code. Not very helpful...  Somebody receiving that error should check all the publish usages in all the libraries that  potentially are using your module.

[2015-10-02 09:25] grimborg commented on #728
Any news on this? Crashing when redis is unavailable is excessive. For now I'm switching to [ioredis](https://github.com/luin/ioredis), which doesn't have this problem.

[2015-10-02 14:30] BridgeAR commented on #874
@salboaie the stack traces could be improved while in debug_mode, that's true. But that is an individual feature in my opinion.

I'll revert to the old behavior, since it seems to be an issue for more people.

[2015-10-02 18:31] BridgeAR commented on #874
Fixed by 2ca42417bfd1b0221e98289459bf6799ad6913f4. I'll release 2.1.0 later tonight.

[2015-10-02 18:31] #874 closed

[2015-10-02 18:36] BridgeAR commented on #875
@torra would you be so kind and also test 0.12.1? And could you give me some insights into your code?

[2015-10-02 20:07] torra commented on #875
0.12.1 and 1.0.0 both work fine

Our code does mostly `get`, `hmget`, and `hgetall` operations, along with some `zrange` and `zrevrange`. See update above for more details

[2015-10-02 20:13] BridgeAR commented on #875
@torra did you check the breaking changes and the difference how reconnecting is handled now? And could you test v.2.1 too? I just released it about an hour ago.

[2015-10-02 20:34] torra commented on #875
@BridgeAR which difference in reconnecting specifically are you referring to? I did review the breaking changes, and while testing everything seems(ed) fine. We log all errors, disconnects, etc. anyways, and I haven't seen a sign of anything like that.

This only occurs when using node cluster, so it seems like something specific to that. I have also not been able to even reproduce the problem out

[2015-10-04 12:14] psirenny commented on #869
@ile I ran into this as well in a derby app, were you able to create a standalone example?

[2015-10-05 08:55] BridgeAR commented on #554
@givan the low water mark is there to signal from what queue length on you may/should continue sending new commands.
So if you set the low water mark above zero and the stream is buffering, so that there are still some commands not yet processed the drain event is fired anyway as soon as there are a maximum number of commands in the queue left that are lower than the low water mark. So you ignore

[2015-10-06 10:32] silentroach commented on #704
[code]

[2015-10-07 04:34] zaggino commented on #875
Hi guys, just my two bits in, I have been running into this even without using cluster. Seems like throwing multiple parallel requests at redis is causing this. I've reverted to `1.0.0` to see if it fixes my problem. I don't have an exact scenario to reproduce but I'll try to get back to this if I find something out.

[2015-10-07 06:55] bcoe commented on #875
@zaggino anything in particular requests that are causing the issue, can you produce this problem with something simple like a sequence of `get`/`set` operations?

[2015-10-07 10:52] BridgeAR commented on #875
@torra @zaggino what parser do you use? @zaggino could you show the code that failed in your case? It might be good to look at that even if it's not reproducible with just that code.

[2015-10-07 11:10] zaggino commented on #875
Not sure what you mean by `parser` but in the project the single most used function is definitely this:
[code]
and its reverse `getJsonAsync`. We use `Bluebird.promisifyAll(redis.RedisClient.prototype);` as above suggests.

We don't really use any advanced operations in the project, listing them all: `get` `set` `setex` `exists` `del`.

After reverting to `1.0.0` the incident didn't seem to happen

[2015-10-07 11:16] BridgeAR commented on #875
@zaggino do you use the hiredis or the javascript parser? Hiredis is a native module that you have to install separately to node_redis and the javascript parser is built in and will be choosen if hiredis is not present.

[2015-10-07 11:17] zaggino commented on #875
Right, we don't use `hiredis`, might be a good thing to try that out if it solves the problem with `2.x` then.

[2015-10-07 11:19] BridgeAR commented on #875
That would be great

[2015-10-08 11:09] BridgeAR commented on #875
@torra @zaggino would you be so kind and both test the hiredis parser? My best guess is, that it might have something to do with the js parser.
And what node version do you use?

[2015-10-08 11:25] zaggino commented on #875
I won't be able to test before next week on our servers, but the node is `4.1.0`

[2015-10-08 15:19] elyas-bhy opened #879 "Subscribe, unsubscribe then subscribe again using the same client produces an unexpected behaviour"
#### Use case:
I have a redis client subscribed to a channel which listens for incoming messages. I need to be able to toggle on/off the listener, so I implemented this using a combination of `subscribe` / `unsubscribe`.

#### Problem
However, when performing a series of `subscribe -> unsubscribe -> subscribe` using the same client, it seems that a second client is created, and I receive messages

[2015-10-08 16:10] bcoe opened #880 "fix intermitent failures in Windows CI tests"
We are observing intermittent failures in our Windows CI tests, It's likely that this demonstrates actual race conditions in the node_redis client:

[code]

[code]

[code]

[code]

We should put some time into squashing these bugs, since they are likely demonstrating real issues with the client that appear more easily in a Windows environment.

CC: @brycebaril @BridgeAR @mranney @erinspice @blains

[2015-10-08 16:27] bcoe opened #881 "[P0] temporary feature freeze and spring cleaning"
We've done a lot of amazing work on node_redis recently. I'm particularly amazed by all the hard work that @BridgeAR has put in! I think we all owe him a round of applause :clap: :clap: :clap:

Looking at the current state of our Windows tests, and #875 which appears to be a rather nasty regression, I think we should take a temporary break from landing any _new feature tickets_ and do a bit of spr

[2015-10-08 17:56] torra commented on #875
@BridgeAR :

With 2.1 I see the same issue.

I have been testing a bit with both node 0.10.40 and node 4.1.1. Currently I am focusing on testing with only 4.1.1. (added to original issue).

We actually switched from using the hiredis parser to the built in javascript parser a few months back, and I just tested with hiredis again and it does seem to fix the problem (node 4.1.1, redis@2.1.0).

[2015-10-09 00:45] BridgeAR commented on #875
That's what I thought. Seems like our tests do not cover all possible outcomes and I was to eager while refactoring the js parser. I'll fix that in 2.2.1.

@torra could you provide me with a short code part that fails? That way you'd do me a big favor, since writing a test on that code part is going to be easier than having to come up with something on my own.

[2015-10-09 00:45] BridgeAR commented on #880
@bcoe the failures are very unlikely a race condition, as node_redis does not work async. The logic itself is always executed sync and only the return values are returned in the next tick (sync though) - reconnection is of course async.

The failures are (at least partly) very likely the result of a regression in the js parser. My best guess is that I introduced that bug here: 5a2b54fd2f83825f3f4d

[2015-10-09 00:45] BridgeAR commented on #881
Thanks for the praise. I'll do my best to earn it.

I wrote about #875 in #880. I personally also think that stability should always be first priority. Then (depending on the use case) speed and or features.

But I disagree that we should stop landing new features right now. Every feature that I add is fully tested and I actually add new tests and increase the coverage constantly. I also do not th

[2015-10-09 01:14] BridgeAR commented on #879
Thx for pointing this out. Pub sub still has some flaws and fixing those is very high on my node_redis priority list.

[2015-10-09 05:06] bcoe commented on #875
@zaggino is there anything else interesting you're doing? how many redis clients do you instantiate just the one?

What's the failure state that you're seeing, an attempt to set JSON hanging for a long period of time?

[2015-10-09 10:28] amarkumargarg opened #882 "No response/callback from funtion "hmset""
I'm running into an intermittent error where the hmset function does not provide any response (i.e the callback is never called). I also do not get any ERROR event (client object).

Here's the code snippet:
[code]

For every failure (intermittent), I see the following behavior.
* There always a log for "Calling Redis hmset to set data on Redis."
* There's no subsequent log for either "No error whi

[2015-10-09 10:43] BridgeAR commented on #882
What node_redis version and what parser do you use? I could not reproduce the issue on 2.1 with your code. What function is logger info?

Internal logging can be activated by using the debug_mode. You can pass the NODE_DEBUG=redis env to activate it or use:

[code]

[2015-10-09 13:32] amarkumargarg commented on #882
Hi Ruben,

Thanks for the reply.
This issue happens under high load conditions only.

Here are some additional details:
1. Node_redis version is 2.0.1
2. Redis server is Redis Labs (https://redislabs.com/). Our redis labs plan supports surplus memory and client connections.
3. Logger is a bunyan object. Yes, we are sure the function is present. Under normal conditions the callback is called withou

[2015-10-09 13:38] BridgeAR commented on #882
Please use the hiredis parser. This should solve your issue. The js parser has a regression that will be fixed soon.

[2015-10-09 13:44] BridgeAR commented on #882
@amarkumargarg please let me know if the issue persists with the hiredis parser.

I'll also give you a ping when the issue is resolved with the js parser :)

[2015-10-09 13:44] #882 closed

[2015-10-09 13:45] BridgeAR commented on #882
Duplicate of #875

[2015-10-09 14:03] amarkumargarg commented on #882
Thanks for the direction and feedback!

I will work on the following and get back to you with results:
1. Ensure (double check) that i am using redis_node version 2.1
2. Switch to hire parer (hiredis parser)
3. Repeat the load test

[2015-10-09 15:31] baao opened #883 "spop gives wrong number of arguments"
I'm trying to use spop command to get multiple set members at once, similar to

        let chain =  redis.multi();
        chain.spop('myset')
        .spop('myset')
        .spop('myset')
        .spop('myset')
        .spop('myset');
        chain.execAsync();

I think the quantity to pop addition to the command is pretty new (supported since redis > 3.0), can we expect to see support for this

[2015-10-09 17:54] diegoaguilar opened #884 "Use of zrevrangebyscore command"
I'm trying to use the command this way:

[code]

But I'm getting the following error:

`[Error: ERR syntax error]`

How should I use this command?

[2015-10-09 18:05] barisusakli commented on #884
Try

[code]

[2015-10-09 18:23] diegoaguilar commented on #884
That did the trick, thanks!

[2015-10-09 18:23] #884 closed

[2015-10-09 19:07] KyleAMathews opened #885 "lrange is slow for large ranges"
Fetching ~25,000 items takes around ~23 seconds or almost one second / 1000 items. Which seems incredibly slow. Looking at `top`, node.js is pegged at 100% cpu the entire time. I'm on node 0.10.40.

[2015-10-09 19:09] KyleAMathews commented on #885
Hmmm... and I just tried only loading 1000 items and fetching that took 177ms... so there's a 5x slowdown somewhere between loading 1000 and 25,000 items.

[2015-10-09 19:15] KyleAMathews commented on #885
Fetch time increases linearly until around 3000 items then turns exponential.

[2015-10-09 19:32] torra commented on #875
@BridgeAR I don't think I'm going to have a chance today, but I'll try to do that either this weekend or early next week. We use redis pretty heavily, and since I haven't been able to reproduce the problem outside of production it's hard for me to narrow it down to a small piece of code at the moment.

[2015-10-09 20:32] BridgeAR commented on #884
Thx @barisusakli

[2015-10-09 20:37] BridgeAR commented on #883
@baao this is already supported. As soon as you use a redis version that supports that command it'll also work in node_redis.

[2015-10-09 20:37] #883 closed

[2015-10-09 20:39] BridgeAR commented on #885
@KyleAMathews I guess you use the js parser? If so, please try the hiredis parser as this should be a duplicate of #875.

[2015-10-09 21:18] KyleAMathews commented on #885
Woah, that is tons faster. Dropped to 312ms for loading the ~25k items.

I guess I've always just used node-redis for simple gets/sets so hadn't run into situation where I really needed hiredis so forgot about it.

Thanks @BridgeAR!

[2015-10-09 21:18] #885 closed

[2015-10-10 01:39] #880 closed

[2015-10-10 01:39] #881 closed

[2015-10-10 01:53] BridgeAR commented on #875
@torra @zaggino the issue should be fixed on latest master. Please try that :)

[2015-10-10 01:54] BridgeAR commented on #882
@amarkumargarg the issue should be fixed on the latest master.

[2015-10-10 01:58] BridgeAR commented on #767
@rain1017 .exec is going to be very fast from v.2.2.0 on if you use it for multiple commands. If you do not need any transactions you can also use .batch from v.2.2.0 on (it'll be released in the next 24h).

[2015-10-12 09:47] BridgeAR commented on #806
This is implemented by #878 and will be released in v.2.2.0.

[2015-10-12 09:47] #806 closed

[2015-10-12 15:26] diegoaguilar commented on #481
How does it manage when to *stop* pipelining?

[2015-10-12 15:36] brycebaril commented on #481
@diegoaguilar if you send all of the commands in the same JS tick (synchronously) they will all be pipelined. Once you're out of that JS tick and the socket is able to flush, those commands will be sent.

Beyond that there is not currently manual control of pipelining.

[2015-10-12 15:39] BridgeAR commented on #481
@diegoaguilar what @brycebaril said. Plus from version 2.2.0 on both .multi and .batch are going to auto pipeline all commands until .exec is called.

[2015-10-12 15:47] diegoaguilar commented on #481
So, apart from promisifying, is there any way to receive responses all in one?

[2015-10-12 15:51] BridgeAR commented on #481
I'm not sure I understand what you mean with receive all in one? If you use .multi or .batch you'll collect all commands until you use .exec. All commands will be released in that moment and you'll receive your return value in .exec after all commands returned successful all in one result array.

[2015-10-12 15:54] diegoaguilar commented on #481
Yeah, that's what I meant somehow, I wanted a way to perform bulk operations and with out having to use promises, manage whole responses in one.

[2015-10-12 23:49] BridgeAR commented on #618
If anyone still runs into this issue, please let me know. I checked the commits between 0.10.1 and 0.10.2 and could not find anything that would result in such a behavior. This is likely coming from another source than that version bump.

[2015-10-12 23:49] #618 closed

[2015-10-13 13:23] amarkumargarg commented on #882
Hello Ruben,

I tried running a load test with Node_Redis v2.2.1 and hiredis parser.
This time I didn't face the issue (for 2 load tests). It seems above changes fix the issue.

I shall run few more load tests to verify the same and shall report back.

Thanks for the help.

[2015-10-13 13:30] BridgeAR commented on #882
@amarkumargarg would you be so kind and also try a load test against the javascript parser? :)

[2015-10-13 13:35] amarkumargarg commented on #882
Sure @BridgeAR, I shall also run the load test with Javascript parser as well and shall let you know the results.

[2015-10-13 14:09] BridgeAR commented on #882
@amarkumargarg thx a lot!

[2015-10-13 20:17] diegoaguilar opened #888 "Deleting list contents not working"
I'm trying to delete a list keys by:

	redisClient.del('users:top:data:', function(err,result) {
		console.log(err,result);
	});

However it's returning 0 as result, the list exists, I also tried by `.lrem('users:top:data', 0, -1)` but got not results. None of these made the list get deleted or its elements dropped off.

[2015-10-13 20:23] BridgeAR commented on #888
Redis does not support this. You have to provide a list of keys that you want to delete.

[2015-10-13 20:23] #888 closed

[2015-10-13 20:26] BridgeAR commented on #888
However, if you really want to use this in production (I do not recommend it as it has likely side effects on heavy load) you can use EVAL and run del on wildcards.

This might work:
EVAL "return redis.call('del', unpack(redis.call('keys', ARGV[1])))" 0 prefix:*

[2015-10-13 21:24] simontabor commented on #888
In production you should recursively SCAN the keys and delete them.

Both scan and del are blocking commands, but scan allows us to set a count so the server isn't blocked for too long at a time - tweak this value to optimise the block time vs round-trips

So...
[code]

[2015-10-13 21:29] diegoaguilar commented on #888
@simontabor you're telling me that `SCAN` is better than a simple `DEL` in order of performance? Btw this list is really small, around 100 elements.

[2015-10-13 21:31] simontabor commented on #888
You aren't able to run a simple `DEL` when you don't know the individual keys.

The EVAL example from @BridgeAR is using `redis.call('keys', ARGV[1])`- `keys` isn't a command that should be used in production.

[2015-10-13 21:38] barn3y opened #889 "Possible regression: simultaneous multis will not call back"
With 2.1.0, you could run two multis simultaneously and still have multi.exec call back.

In 2.2.0, multi.exec will not call back if two multis are in progress on the same connection at the same time.

Test case: https://gist.github.com/barn3y/b838cbed93042da24ca0

Sample results under 2.1.0:

    $ node simultaneous_multi.js
    exec multi 1
    exec multi 2
    multi 1 complete
    multi 2 compl

[2015-10-13 21:57] BridgeAR commented on #889
Hm, I see. I thought about something like that just yesterday after releasing 2.2 and I have to check a couple of things. I'm uncertain if this was fully supported earlier, as the results might get mixed up under some conditions.

[2015-10-13 22:12] BridgeAR commented on #889
@barn3y I just tried your gist and a couple of different similar actions and all worked for me. What node version do you use?

[2015-10-13 22:14] barn3y commented on #889
Interesting! Admittedly I'm still on v0.10.38

[2015-10-13 22:20] barn3y commented on #889
That's it - I tried under 0.12.2 and it worked

[2015-10-13 22:21] BridgeAR commented on #889
I'll have a closer look at it.

[2015-10-13 23:41] barn3y commented on #889
I tried my test case again under node 0.10.38 on Mac OS 10.10.5, still no callbacks. Here's the output with NODE_DEBUG=redis on:

    $ NODE_DEBUG=redis node simultaneous_multi.js
    Hiredis parser not installed.
    exec multi 1
    Queueing multi for next server connection.
    Queueing set for next server connection.
    Queueing exec for next server connection.
    exec multi 2
    Queueing m

[2015-10-13 23:57] BridgeAR commented on #889
True, that's even another issue than the one that I just fixed. The issue is only occuring because you're not yet ready :) Fix is incoming in a few minutes.

[2015-10-14 00:00] barn3y commented on #889
Amazing! Thank you very much!

[2015-10-14 00:25] #889 closed

[2015-10-14 00:27] BridgeAR commented on #889
@barn3y The issue should be fixed now. Would you be so kind and test the master right quick?

[2015-10-14 00:48] barn3y commented on #889
$ node simultaneous_multi.js
    exec multi 1
    exec multi 2
    multi 1 complete
    multi 2 complete

Yep working!

[2015-10-14 00:51] BridgeAR commented on #889
:) Thx

[2015-10-14 04:55] wjjboy opened #890 "reconnect doesn't work"
when i use connect-redis 2.5.1 and node-redis 1.0.0 my app can reconnect redis server.
but when i update  connect-redis 3.0.0 and node-redis 2.2.3,the reconnect doesn't work.
is there some option change?

[2015-10-15 08:12] BridgeAR commented on #890
This is an issue with connect-redis and the attempts option. I'll open a merge request there to fix that issue.

[2015-10-15 08:12] #890 closed

[2015-10-15 14:24] BridgeAR commented on #890
@wjjboy connect-redis 3.0.1 was just released with the change and fixes your issue :)

[2015-10-15 15:20] BridgeAR commented on #539
@Vizwind @saritasa both .multi and .batch use pipelining as thought about from version 2.2 on.

[2015-10-15 15:21] BridgeAR commented on #542
This is fixed in later versions

[2015-10-15 15:31] BridgeAR commented on #545
@bberry6 is this still reproducable on >= v.2.0?

[2015-10-15 15:34] BridgeAR commented on #550
This is fixed from v.2.0 on.

[2015-10-15 15:43] BridgeAR commented on #536
The engine will be added in the next version.

[2015-10-15 15:46] BridgeAR commented on #532
@ralucas I guess this could be implemented as feature. Would you be up to add a command that creates a new redis instance, fires the monitor command and returns the instance afterwards? That way this would not be an issue anymore.

[2015-10-15 16:00] BridgeAR commented on #526
The high water mark is documented from now on and can be used to circumvent this issue.

[2015-10-15 16:07] BridgeAR commented on #519
The client is going to retry to connect to redis until either a hard timeout is reached or redis is back online. The errors just tell you that redis is not reachable yet.

[2015-10-15 16:15] BridgeAR commented on #512
@bpytlik send_command will also accept undefined args from v.2 on :)

[2015-10-15 16:28] BridgeAR commented on #493
@EugenyPavlenko both .multi and .batch are from now on pipelining the commands better and work faster that way.

[2015-10-15 16:29] BridgeAR commented on #492
From v.2.2 on both .multi and .batch are pipelining better than before and reduce RTT further.

[2015-10-15 16:35] BridgeAR commented on #488
@unlucio hmset will accept objects that do not have any nested objects and arrays.

[2015-10-15 16:38] BridgeAR commented on #491
Prefixing is on the ToDo-List and will be in one of the upcoming versions.

[2015-10-15 16:39] bberry6 commented on #545
@BridgeAR  yep, I just repeated the steps that I described in my previous post and receive the same output.  I'm on redis@2.2.3

[code]

[2015-10-15 16:53] BridgeAR commented on #545
@bberry6 would you be so kind and also run this with the hiredis parser?

[2015-10-15 17:06] BridgeAR commented on #552
@MikeBazhenov did you find the reason for the failure?

[2015-10-15 17:14] BridgeAR commented on #555
@aaaidan this is indeed something that should be handled. Would you be so kind and try the hiredis parser and see if the result differs?

I know this is long ago but I try to go through all the tickets and check if there are still some open issues that I could fix.

[2015-10-15 17:35] BridgeAR commented on #555
At least newer redis versions return an error on not yet supported commands in multi. I'm uncertain what 2.2 returned.

[2015-10-15 17:50] BridgeAR commented on #477
@feca1997 a sync version is not possible, as node_redis has to talk to redis async.

The auth should work though. The error is returned by redis itself, so you'd have to check that. But as this is an ancient ticket I guess you already fixed that.

[2015-10-15 17:50] BridgeAR commented on #476
This is fixed in node_redis > v.2.0

[2015-10-15 17:59] BridgeAR commented on #468
This is fixed in newer versions

[2015-10-15 18:09] BridgeAR commented on #454
This should be fixed in newer versions. This ticket is ancient but it would still be nice if you could verify that @christiangenco

[2015-10-15 18:17] BridgeAR commented on #466
I would be open for a pull request for this.

[2015-10-15 21:55] aaaidan commented on #555
@BridgeAR Throwing an error makes a lot more sense to me than silently mangling the replies array. ;) I'm happy for this issue to stay closed.

[2015-10-16 02:15] wjjboy commented on #890
3q

[2015-10-16 12:55] BridgeAR commented on #443
Improved pipelining was implemented in v.2.2 and .multi and .batch will always use it by default.

[2015-10-16 13:08] BridgeAR commented on #422
This is fixed since v.2.0

[2015-10-16 19:13] BridgeAR commented on #562
@AaronSikes would you still be up for a pull request? I guess using .batch will already process everything quite fast but there likely still room for more.

[2015-10-17 13:46] AaronSikes commented on #562
Sorry, haven't been using redis for a while, or even node that much. Don't have the attention available to pick this up right now

[2015-10-17 15:37] BridgeAR commented on #562
@AaronSikes too bad. Thx for the reply though.

I personally do not have the time to implement this right now without the help of others. Therefor I'm closing this until someone brings the issue up again. Maybe we'll include the scanstream library from @brycebaril in the NodeRedis org and improve that to also handle other commands.

[2015-10-17 15:37] #562 closed

[2015-10-17 23:44] eli-zehavi opened #892 "Redis keeps fire 'reconnecting' events"
Hi,

I have node servers that connect to a Redis cluster on AWS (Elasticache).
There are times in the day which there is a huge latency from these servers.

- The only type of commands these instances do (but do a lot) is sismember of some sets (some sets have ~50K items).
- On each instance, there are two workers (2 CPU's) under the cluster module.
- At peaks, there are ~40K sismember commands pe

[2015-10-18 01:06] tfemiani opened #893 "Options defaulting to empty was removed"
In the most recent closed PR, defaulting of `options` to `{}` was removed. (see https://github.com/NodeRedis/node_redis/pull/891/files#diff-168726dbe96b3ce427e7fedce31bb0bcL36)

This causes the following line to fail when options is not supplied:
`JSON.parse(JSON.stringify(options))`

The error looks like..
[code]

[2015-10-18 01:06] tfemiani commented on #893
@BridgeAR - FYI

[2015-10-18 07:52] elizehavi commented on #875
@torra, I'm having similar problems with my ec2 instances that connect to the elasticache redis.

Does the last update fix your latency problems?

[2015-10-18 07:54] eli-zehavi commented on #875
@torra, I'm having similar problems with my ec2 instances that connect to the elasticache redis.

Does the last update fix your latency problems?

[2015-10-18 13:49] BridgeAR commented on #893
True, I did not take into account that someone might not use the redis own .createClient function. Thanks for pointing that out. I'll release a new version in a few minutes.

[2015-10-18 14:52] BridgeAR commented on #892
The reconnecting event should only fire if node_redis is not connected to the redis server (e.g. connection lost). As soon as the client is able to reconnect the reconnection attempts should stop. Are you sure you use the old clients instead of creating new ones if a connection is lost?

If you could show me some code I might be able you help you better.

[2015-10-18 14:59] #893 closed

[2015-10-18 15:07] eli-zehavi commented on #892
Hi @BridgeAR,

I have only one js file that creates the connections, it connect only at startup and then all other places in code that need Redis require this module:

<code>
api.master = redis.createClient(config.redis.master.port, config.redis.master.host);
</code>

Simple as that!

Is there any reason that the client will keep reconnecting constantly beside a problem in the Redis server?

[2015-10-18 15:24] BridgeAR commented on #892
So you export the `api.master` and only use that connection?

And no, there should not be any reason besides a problem with the redis server to reconnect.

[2015-10-18 15:47] eli-zehavi commented on #892
Yes, only one connection.

Of course, as I said I'm using the cluster module, 2 workers per instance, which open 2 separate connections. Do you know about any problems when using Redis client with the cluster module?

Or.... Any other ideas?

Thanks,

[2015-10-18 17:11] BridgeAR commented on #892
I'm not aware of any issues but I never tried it. Did everything work with node_redis 1.0.0? There was a change in the way how we handle reconnections in v.2.
Besides that: What cluster module do you use? I can imagine that the cluster module has issues with node_redis v.2. I want to implement native cluster support in near future but still will still take a bit until that's done.

[2015-10-18 17:16] eli-zehavi commented on #892
Hi, I jumped from node_redis v0.x directly to v2.x. There were problems with v0.x, too, so I don't think that changing the version to v1.x will help :/

[2015-10-18 17:19] BridgeAR commented on #892
I also recommend using the newest version, I just wanted to find out what the issue might be and therefor if it would have worked with a older version I could have checked what changed.

I guess the main issue is the cluster module not working as expected.

[2015-10-19 14:35] torra commented on #875
@BridgeAR I apologize for the slow feedback. I just tested with 2.2.5 and I have the same issue.

[2015-10-19 15:06] BridgeAR commented on #875
@torra did you test the hiredis parser too?

[2015-10-19 15:23] torra commented on #875
Just tried it, using the hiredis parser solves the problem still. We are also on node 4.2.1 now

[2015-10-19 15:25] elizehavi commented on #875
@torra, solves or doesn't solve?

[2015-10-19 15:26] torra commented on #875
Clarified the comment :)

[2015-10-19 15:27] BridgeAR commented on #875
@torra I'm going to push a commit later on and it would be great if could test that fix before I release a new version :)

[2015-10-19 15:27] torra commented on #875
Sure @BridgeAR - I'll keep an eye out for the commit

[2015-10-20 08:52] BridgeAR commented on #875
@torra please try https://github.com/NodeRedis/node_redis/tree/parser

While further analysing the parser I found what I missed in my last fix and it should work now.

[2015-10-20 09:03] BridgeAR commented on #678
I analyzed the parser in depth and the cause of the problems seems to be the following:

If we have data bigger than 2^16 we'll have n chunks and the parser is going to concat n times creating a new buffer each time that increases in size and it's also parsing the whole buffer each time a new chunk is incoming (=> both leading to an increase in time per additional chunk, so it's exponential).
Also

[2015-10-20 13:42] torra commented on #875
@BridgeAR This also does not fix the problem.

I'm not sure if this is the best approach to narrowing down the issue. I'll try to spend some time this week isolating the issue for others to reproduce, but please understand this is not a high priority for me. I appreciate the responsiveness and effort in trying to fix it.

[2015-10-20 13:54] BridgeAR commented on #875
I can't see any changes in the parser since v.1.0 that might break anything besides the ones I reverted. I could rewrite the parser in a way that it's working just the same as the one used in v.1.0 but that it works on v.2.

The js parser has the issue that it can't handle big files right now (the parser time is exponantial to the chunks for n chunks with size > 2^16) but other than that everythin

[2015-10-21 21:59] eli-zehavi commented on #875
@BridgeAR, to use the hiredis parser should I only need to install it as package on the project and then node_redis will use it, or should it require it in my code before require node_redis?

[2015-10-21 22:47] BridgeAR commented on #875
@eli-zehavi Hiredis is the default parser if it's present. If you install the parser it'll automatical be used.

[2015-10-21 22:58] eli-zehavi commented on #875
Ok, I've installed hiredis about 1.5 hours ago and, unfortunately, the latency problems didn't disappear. I'll try to run it with only 1 worker in the cluster module to verify this is the problem.

[2015-10-22 00:26] eli-zehavi commented on #892
Hi @BridgeAR, I've configured the cluster code to run only 1 worker, but the latency issues still occur. I also use hiredis as suggested in another issue page. Do you have another idea for these latencies?

Thanks,

[2015-10-22 00:49] eli-zehavi commented on #892
@BridgeAR, when there are latencies there are huge TLSWrap objects in the node heap snapshot. Could it be because of node_redis, or it definitely something else?

[2015-10-22 07:06] eli-zehavi commented on #892
I have a newrelic monitoring on my app, I pulled out some slow requests from their logs, we can see here there is a huge latency when talking to redis:

![redis-latency](https://cloud.githubusercontent.com/assets/10067209/10658938/5592b0c2-78a4-11e5-8faf-4f4b6725bff9.png)

[2015-10-22 10:04] BridgeAR commented on #892
@eli-zehavi node_redis does not have inbuilt TLS support yet (2.3 is going to have it built in). So those objects are likely not coming from node_redis. And if the issue is that there's no connection between redis and node_redis you can't rely on the latency provided. All commands will be pushed into a offline queue and fired when the connection has been reestablished. That's why you likely see su

[2015-10-22 15:36] eli-zehavi commented on #892
@BridgeAR, thank you for your response. After reading that you're pretty sure the TLSWrap objects have nothing to do with node_redis, to eliminate redis-server side problem I've created a script to check my redis server connection timing from some instances during the latencies, and the log files showed that the problem is not with the redis server.

After some load testing on qa, today we've figu

[2015-10-22 15:36] #892 closed

[2015-10-22 16:20] BridgeAR commented on #892
@eli-zehavi you're welcome. I'm glad I was able to help.

[2015-10-22 21:56] ralucas commented on #532
@BridgeAR Yes, that sounds like a great project.  I'll take a look and see what I can do.  Cheers!

[2015-10-23 11:43] vabnirvana opened #896 "Zscan command gives issue"
Hi,

I want to use 'ZSCAN' command but it throws the following.

Error:
Redis Error { [Error: ERR syntax error] command: 'ZSCAN', code: 'ERR' }

Code:
 connection.zscan(key , 0 , {match : value + "*"} , function(err,data){
                        if(err){
                            console.log("Redis Error",err);
                            return err;
                        }else

[2015-10-23 11:49] BridgeAR commented on #896
@vabnirvana The following should work:
[code]
The object notation is only supported for HGETALL.

[2015-10-23 11:49] #896 closed

[2015-10-23 11:51] mrvisser opened #897 "TypeError: Object #<Socket> has no method 'uncork'"
We're currently seeing this error in a production server:

[code]

The invocation that leads to this enters the Redis module [here](https://github.com/oaeproject/Hilary/blob/12.1.1/node_modules/oae-activity/lib/internal/dao.js#L502).

Our RedisClient initialization logic happens [here](https://github.com/oaeproject/Hilary/blob/12.1.1/node_modules/oae-util/lib/redis.js#L47).

Node 0.10.17
node_redi

[2015-10-23 12:09] BridgeAR commented on #897
Using Node 0.12.x would solve the issue for now. I'll have a closer look at it later on why the fallback mode does not work properly in your case. I guess I already know why it's not working for you and if that's the case I'll release 2.2.6 later on today.

[2015-10-23 12:10] mrvisser commented on #897
Thanks @BridgeAR , much appreciated!

[2015-10-23 12:43] vabnirvana commented on #896
The result is ["0" , []] always empty array in all cases.

[2015-10-23 13:11] BridgeAR commented on #896
I just wrote a test for it and it works as it should for me. Please check your key or pattern to really match your entries.

[2015-10-23 13:24] BridgeAR commented on #532
:+1:

[2015-10-23 22:09] cody-greene opened #898 "BRPOP receives INFO response on disconnect/reconnect"
[code]

It looks like BRPOP is still in the `command_queue` when performing the ready check after reconnecting. When the response to INFO comes back: BRPOP is shifted off `command_queue` and that callback gets the response instead. See [here](https://github.com/NodeRedis/node_redis/blob/v.2.2.5/index.js#L585)

[2015-10-23 22:47] BridgeAR commented on #897
@mrvisser I'm sorry I did not find the time to fix it today.

[2015-10-24 05:32] luin commented on #879
Hi @elyas-bhy.
It's not a bug of node_redis as for me. You received same message twice is because the events (`"message"`, `"subscribe"` and `"unsubscribe"`) are subscribed twice. This gist should fix the problem: https://gist.github.com/luin/978d6e95aa2160718f9b.

BTW, actually you don't need to listen to the "message" event every time subscribing a channel.You just need to listen to it once:

[c

[2015-10-24 09:07] BridgeAR commented on #879
@luin thx for pointing that out!

When I had a look at it, I did not realize that.

[2015-10-24 09:07] #879 closed

[2015-10-25 11:45] BridgeAR commented on #898
@cody-greene the issue here is with the blocking statement. The command was already fired, but the request was not yet answered. That way the command is still in the command_queue while reconnecting.

While analyzing the issue further I realized that you can't rely on the result of any fired command that has not yet returned before the connection got lost. We just can't tell if the command was pro

[2015-10-25 22:05] qzb commented on #678
I think [rvagg/bl](https://github.com/rvagg/bl) module could be a solution for this problem.

[2015-10-26 03:14] amit777 commented on #898
is this a recently introduced issue?

[2015-10-26 12:06] mrvisser commented on #897
@BridgeAR no worries. If you like, I can diagnose and try and get a PR in. If you could share what your hunch is on the issue then that might help. Let me know.

[2015-10-26 13:41] stockholmux commented on #898
@BridgeAR I couldn't recreate the issue. From the descriptions, it only has to do with server connection loss while the command queue is not empty - is that right?

I can see where it could cause a mess any way it is cut - if the user has non-idempotent commands in the queue and the connection is lost - if we err out then the problem is just deferred to the program.

[2015-10-26 14:22] BridgeAR commented on #898
@amit777 yes, this is a regression introduced in v.2.0.0. It slipped through while refactoring the reconnect logic including the offline queue. I have a fix local and the next version is going to reject any command that is not yet answered when the connection is lost.

@stockholmux I think this is not really deferred to the program. In my opinion it is the only place where someone might be able to

[2015-10-26 14:22] BridgeAR commented on #897
@mrvisser I had another look at it and I can't reproduce the issue on 0.10.27 but I guess the stream module might somehow got altered by something else. Nevertheless I changed and improved the way how the fallback mode works and that should also fix your issue.

I got the fix local and I'm going to push that and some other things later on today. It would be great if you could test the fix before r

[2015-10-26 14:26] mrvisser commented on #897
Thanks, I'll try and reproduce today with a unit test as part of our issue that references this one and verify it resolves it.

Cheers!

[2015-10-26 15:30] amit777 commented on #898
@BridgeAR thanks. That default behavior sounds good.. We can then process the reject how we want to.

[2015-10-26 16:24] KeKs0r opened #899 "Multi Callback not triggered"
I am using Kue and trying to figure out, why one of its functions is not callling the callback.

It turns out, that they are utilizing multi within that function:
[code]
I debugged it, and the only thing I see is that within the exec implementation, that this also never triggers the callback:

[code]

[2015-10-26 16:37] BridgeAR commented on #678
@qzb thx for the suggestion but this can't be used in our case. The stream is kept open all the time and we have no "end" besides closing the connection explicitly or losing the connection.

[2015-10-26 16:42] BridgeAR commented on #899
@KeKs0r kue uses a old version of node_redis and this part was refactored quite a bit in newer versions.

Do you have a standalone example that does not work? I can't promise to look into it soon as I'm really busy these days but if, I'll check and try to fix it in kue.

[2015-10-26 17:02] KeKs0r commented on #899
@BridgeAR Thanks for the note. I just issued the exact same commands with my the current node_redis client and it works. So it seems to be fixed, but just not in the version kue is using. I am gonna open an issue there.

[2015-10-26 17:02] #899 closed

[2015-10-26 18:36] qzb commented on #678
Maybe I'm missing something but I think I just fixed this bug using bl module: #900

[2015-10-26 20:56] BridgeAR commented on #897
@mrvisser would you be so kind and give my fix a try?

[2015-10-26 21:49] mrvisser commented on #897
@BridgeAR today I've tried to write a unit test in my application that reproduces this issue, however I can't seem to trigger it. I've tried restricting bandwidth and increasing the size of the multi commands to produce back-pressure, but it doesn't seem to trigger the issue.

I think I'll just have to upgrade the client version and deploy it, which would have to be a bit later this week. I'll get

[2015-10-26 21:59] BridgeAR commented on #897
@mrvisser the issue occurs after a connection loss. It is indeed a bug and I fixed it in #901

[2015-10-26 23:06] lambertsteven opened #902 "client.get hangs and never calls callback"
I'm currently experiencing some odd behavior where every so often, some of the calls to `client.get` hang and the callback function is never called. I've turned on `NODE_DEBUG=redis`, but the logs aren't showing me anything more helpful, just that a call to `client.get` was made

[code]

I have a ton of debug logs that would fire if the callback comes back, but instead nothing happens and Heroku l

[2015-10-26 23:45] BridgeAR commented on #902
@lambertsteven what parser do you use? I guess this might be a duplicate of #875

If the hiredis parser fixes your issue: do you have a reproducible test case? That would be really helpful! I was not able to reproduce that issue yet.

[2015-10-27 01:39] lambertsteven commented on #902
Unfortunately, being able to reproduce the problem is one of our biggest problems. It doesn't happen consistently, and it seems to happen after about an hour or so after restarting the app. Restarting the app seems to clear the issues, but they always come back. It doesn't matter if the request rate is low or high at the time, its about the same amount of chance that the call will hang.

I don't t