[2022-09-15 07:43] hesxenon commented on #2258
apologies if the previous comment sounded too harsh, what I meant by "expect" is that any other behaviour would be surprising and while technically possible I'd think this library would also exist to tackle and alleviate such problems.

[2022-09-15 08:27] ziyaaktas opened #2264 "Unexpected token E in JSON at position 0 error with json.get function"
I have a code like this,
[code]

When there is non existent id, I get an error as Unexpected token E in JSON at position 0, and the whole multi function fails.  In the redis terminal though I could do something like this,
`json.get key  $..id1 $..id2`  and I get empty array for non existing values.  Is there a way to replicate this value in this package?

**Environment:**
 - **Node.js Version**: 1

[2022-09-15 10:51] hesxenon commented on #1889
it's not about resolving or rejecting the promise though, it's about closing all sockets when `client.quit()` is called which is not the case.

I assume the abort signal is in this example only to demonstrate that node does indeed not quit because of the open socket and not because of the blocking command.

[2022-09-15 11:17] hesxenon commented on #1889
@qubyte I don't know if you've solved this by now, I was just able to work around this by using `client.executeIsolated` and closing the isolated client explicitly (along with the "original" client)

[2022-09-15 13:16] asmdhabibullah commented on #2262
Node.js Version: 16.x
Redis Server Version:
Node Redis Version: 4.0.2
Platform: Heroku Cloud OS

[2022-09-15 13:59] leibale commented on #2262
@asmdhabibullah by "stack trace" I mean the extra info after the error message it self:

[code]

[2022-09-15 16:09] kylefarris opened #2265 "SDIFF not returning correct response"
If I add values to 2 different sets via `SADD` and then try to diff them using the `SDIFF` method, the wrong result is returned. But, if I run `sendCommand(['SDIFF', 'key1', 'key2'])` it returns the correct result.

**For Example:**
[code]

It doesn't make a lot of sense why this would be happening but its easily verifiable.

**Environment:**
 - **Node.js Version**: 18.7.0
 - **Redis Server Versio

[2022-09-15 18:46] trentm commented on #2248
Sorry for taking so long to respond. I guess I walked into being asked to open the PR for it. ;)
I am happy to try a PR adding `diagnostics_channel` support. I'm not sure if I'll get there soon, so if someone else comes along and wants to try as well, definitely go ahead.

Another option (which would be equivalent to the state of things in earlier major versions of this library) would be if `#send

[2022-09-16 14:52] PIYatGitHub commented on #2119
Our team had this issue with a serverless based application. It turned out to be that it used node 12 as runtime, as opposed to at least node 14. We changed the runtime property to `runtime: nodejs14.x` and we are back to smooth running mode again.

[2022-09-16 15:30] PierreMasson opened #2266 "ts.mRangeWithLabels FILTER as an array of string not apply"
ts.mRangeWithLabels no longer takes the FILTER parameter into account as an array.

**ERR TSDB: missing labels for filter argument**

Downgrading to redis 4.1.0 in my package.json do the job.

Maybe this commit #5dd7d3149a633b762ece0ce8006ecbb4311a547f is to blame?

**Environment:**
 - **Node.js Version**: 14.18.1
 - **Redis Server Version**: 6.2.7
 - **Node Redis Version**: 4.3.1
 - **Platform**:

[2022-09-17 08:18] Rc85 opened #2267 "del not working"
Trying to delete a single key and array of keys. It shows delete count as 1, but when going into `redis-cli` and executing `keys *`, the key is still there.

**Environment:**
 - **Node.js Version**:  16.15.0
 - **Redis Server Version**: 3.0.504
 - **Node Redis Version**: 4.3.1
 - **Platform**: Windows 10
![image](https://user-images.githubusercontent.com/22307591/190847451-8e879ff6-65e4-40e0-828b-

[2022-09-17 14:34] dqtkien commented on #2243
@leibale  tks for your response, pls take a look at my PR.

[2022-09-17 17:57] leibale commented on #2267
Are you sure that `SESSION_DB` is `0`?

[2022-09-17 18:43] Rc85 commented on #2267
Yes. Just tested again by hard coding 0 to `database`. Still shows `1` in `console.log` and record in redis is still there.

[2022-09-17 19:10] leibale commented on #2267
Can you please try this one:
[code]

[2022-09-17 19:57] Rc85 commented on #2267
That works. I went ahead and did a `SET` in `redis-cli` and then deleting from my code, it works. So I finally narrowed down as to why only keys set by `express-session` is not being deleted. It turns out it was because I had the `resave` option set to `true` and as per the documentation says, it creates a race condition where the session is resaved back to the database. I guess it got deleted and

[2022-09-17 19:57] #2267 closed

[2022-09-18 14:44] asmdhabibullah commented on #2262
2022-09-14T14:59:46.099027+00:00 app[web.1]: /app/dist/controller/contact/index.js:212
2022-09-14T14:59:46.099044+00:00 app[web.1]:                         return _redisClient.redisClient.SETEX(key, _config.REDIS_DEF_EXP_TIME, JSON.stringify(contacts));
2022-09-14T14:59:46.099045+00:00 app[web.1]:                                                         ^
2022-09-14T14:59:46.099045+00:00 app[web.1]

[2022-09-18 15:48] olejorgenb commented on #1700
Would been nice if there was some sort of error message when supplying `count` to `lPop`. Easy 5-30min save for every person trying this. (AFAICS `lPop("my-list", 10)` currently behaves as if 10 was not there, popping one element)

[2022-09-18 19:12] leibale commented on #2262
Are you trying to use it on the client?

[2022-09-19 18:01] leibale commented on #2258
"because the messages sent over the socket arrive at the redis instance out of order."
with `isolated: true`, you are actually using two sockets, so they might arrive at the server out-of-order..

"because the messages are not sent synchronously when the XREAD/XADD commands are called"
Any command is being sent asynchronously.
If two commands are executed in the same socket (without `isolated`) -

[2022-09-19 18:39] hesxenon commented on #2258
The commands are async, but dispatching them should be sync, right?

And while the commands might arrive out of order when using two sockets
that's exactly what I'd use a driver for - to ensure that the commands
still arrive in order. How many sockets are being used should imho not be
the concern of the user, that's the drivers job.

On Mon, Sep 19, 2022, 20:02 Leibale Eidelman ***@***.***>
wrote:

[2022-09-19 19:06] leibale commented on #2258
It's not something the client can do, because the server is not replying with "entering block mode" event, so the client cannot know if the command is "on the way" to the server or if it was processed by the server and the client is in blocking mode

[2022-09-20 21:05] nguemechieu commented on #2131
I had the same issue and run
sudo npm cache clean -f
sudo npm install -g n
sudo n stable
This worked for me .Thanks

[2022-09-21 08:23] muscleman opened #2270 "HGETALL Fails"
Simple call to get a hash from redis

`let replies = await this.redisClient.multi().HGETALL('key')`

Response
`[
[Object: null prototype] {
    lastBlockFoundsolo: '1663633916648',
    lastBlockFoundprop: '1663536743055'
  }
]`

**Environment:**
 - **Node.js Version**: 14.15.4
 - **Redis Server Version**: 6.2.7
 - **Node Redis Version**: 4.3.1
 - **Platform**: Ubuntu 18.04

[2022-09-21 15:04] leibale commented on #2270
Where is the error/problem? `replies` is an array with all the replies, and `replies[0]` is an the reply from `HGETALL`

[2022-09-21 20:40] muscleman commented on #2270
let me surround a console.log(replies[0]) so you understand my issue

[2022-09-21 20:51] burtontanner commented on #1446
@stockholmux im seeing the same issue but I am able to ping with redis-cli. What did you do to fix this?

[2022-09-21 21:07] burtontanner commented on #1446
I don't think host is supported anymore. I can pass anything and it will still connect to localhost.
[code]

[2022-09-21 21:08] leibale commented on #1446
legacyMode does not support v3 config, try this instead:

[code]

[2022-09-21 22:33] #2270 closed

[2022-09-21 23:04] burtontanner commented on #1446
This ended up working for me
[code]

[2022-09-21 23:07] mbystedt commented on #2140
I found this as I too was curious how to properly type the return from createClient(). It looks like RedisClientType can be used.

`import { RedisClientType } from 'redis';`

[2022-09-22 03:31] #2243 closed

[2022-09-22 05:02] abhinavtiwari18 commented on #1593
@nicklvsa can you please let me know what work-around fix you have implemented, as i am also facing similar issue

[2022-09-22 05:26] xtianus79 opened #2271 "Kubernetes LoadBalancer doesn't work with clustering on Bitnami adaptation in Azure AKS - Redirection doesn't seem to occur"
The way Bitnami does it's Kubernetes helm setup is a little odd I have to admit. The "odd" part is the LoadBalancer cluster option.

In short, the way you connect to the cluster is through the load balancer. Because Kubernetes in general is a box blacker than the blackest black... I surmise, that what is happening is that you connect to a "single" cluster host name and then it will a join all of t

[2022-09-22 07:28] simplyatul opened #2272 "lPop not working"
I have wrote a simple NodeJS application which is trying to pop leftmost item. However, I see an element is removed from redis, but I do not receive the poped element in my code.

This is pretty much a trivial ask and I am sure I am doing something wrong. I am completely new to NodeJS.

Here is the complete code -
[code]

Assuming 'u1' key has 2 items, if I run the code, it logs

[code]

So the lP

[2022-09-22 07:34] mayuehit commented on #2120
I meet the same problem, when some error happened , the time that i set for reconnectStrategy dont work

[2022-09-22 15:31] leibale commented on #2272
v4 works with promises, not callbacks, try this instead:

[code]

[2022-09-22 18:09] gmerciel commented on #2065
Same thing, "subscribe" method is not available for RedisCluster. At least this could be put as a warning on the docs... so we take it into consideration when we select which library to use...

[2022-09-22 20:40] astorm opened #2273 "New SocketClosedUnexpectedlyError Error When Upgrading from 3 to 4 via Legacy Mode"
Hey all -- I'm not sure if this is a bug or just some "how do I redis" questions -- if there's a better place for this please let me know.

We have some old redis code that uses the callback APIs that we want to keep running by using legacy mode.  However, when we run our code (that's shaped a bit like this simplified example)

    var redis = require('redis')
    var client = redis.createClient({

[2022-09-22 21:41] bmiller59 commented on #2032
For anyone still having this issue, I can confirm that adding this code resolved the issue for us.
[code]
But I also had to make sure that I had removed any other client error listeners that were re-throwing the error (or any other error).

[2022-09-22 22:04] #1690 closed

[2022-09-22 23:48] xtianus79 commented on #2271
@leibale You have to think in terms of Kubernetes. Docker even. Imagine having pods in nodes. [ [] [] ] [ [] [] ] [ [] [] ]... And so on. You don't directly connect to pods per se. You you have to service in from the outside world. Each node can have 10's or 100's of pods. So to communicate amongst them you need a service or Loadbalancer. Even it's 1 node with several pods. The load balancer sits

[2022-09-23 02:26] mayuehit opened #2274 "reconnectStrategy Not in effect"
**Environment:**
 - **Node.js Version**:  v16.15.1
 - **Redis Server Version**: unknown
 - **Node Redis Version**:  redis@4.3.1
 - **Platform**:   Ubuntu 20.04.3

[code]

***First***  when I run the code above, when happened error ENOENT,ECONNREFUSED, reconnectStrategy takes effect.It reconnect every ten seconds .But when happened ECONNRESET, the reconnectStrategy not in effect. Errors all over th

[2022-09-23 02:32] mayuehit commented on #2120
#2274 maybe It could solve your question

[2022-09-24 16:23] dextertanyj commented on #2273
I also ran into this issue and solved it by using `client.v4.quit()` instead.

[2022-09-26 11:48] devel0perx commented on #2116
@a-koka i am using redis 7 and node 16 having same problem but it work sometime and give above error What to do ?

[2022-09-26 13:39] simplyatul commented on #2272
I afraid @leibale , but this is not working too. Attaching here a slightly modified code. I do not see "Received Response" log print on the console.

[code]

[2022-09-26 17:17] leibale commented on #2272
you should `await len()`:

[code]

[2022-09-26 19:39] leibale commented on #2116
Make sure to convert the channel and message into strings or buffers

[2022-09-27 05:01] simplyatul commented on #2272
This is working now. Thank you @leibale

[2022-09-27 05:01] #2272 closed

[2022-09-27 07:46] matteomattei commented on #2265
The SDIFF syntax is changed... it accepts array instead of single parameters.
So you should use this:

[code]

[2022-09-27 14:30] kylefarris commented on #2265
I can confirm that works, thanks!

Why is this one method different than most others? Is this change documented anywhere? If not, I can probably add that to some docs somewhere.

[2022-09-27 19:08] leibale commented on #2265
its documented [here](https://redis.js.org/documentation/client/functions/lib_commands_SDIFF.transformArguments.html) (and I know we should do better work at "exposing" this, please share any ideas you have... :) ).
The reason "spread" is not supported is to allow optional arguments in the future.

[2022-09-27 19:09] #2265 closed

[2022-09-27 23:48] xtianus79 commented on #2271
Any help with this?

[2022-09-28 00:37] leibale commented on #2271
Wanna debug it together in an hour?

[2022-09-28 09:37] graned commented on #2205
An alternative is to inject the redis client, HOWEVER, you need to use the redis version 3.x.x, if you use version 4.x.x the library never resolves the promises because the callbacks are never called. I must admit this is very annonying

[2022-09-28 15:13] marco-meini commented on #1652
I still have this error with version 4.3.1

I used promises how described in the migration guide but I have to set legacyMode=true to avoid the error.

this is the stack:

(node:54620) UnhandledPromiseRejectionWarning: Error: Cannot send commands in PubSub mode
    at RedisCommandsQueue.addCommand (/developer/__github__/YouNeed/yn-ws/node_modules/@redis/client/dist/lib/client/commands-queue.js:72:

[2022-09-28 18:00] kylefarris commented on #2265
Is there a specific type of command that qualifies it to take arguments like this? Like all commands that take multiple "input" arguments (not quite sure how to describe it). Just trying to think of some verbiage that would make sense and be clear to users in the docs...

I was thinking of explaining which kinds of commands need this syntax, list a few of the commands that follow this format, and

[2022-09-29 07:26] richardsun2021 opened #2276 "Socket closed unexpectedly"
[code]

between my app service and redis service, there is an aws NLB-network load balancer.
I have four redis client created, and every 2 minutes will get this error:
"error: Socket closed unexpectedly"

**Environment:**
 - **Node.js Version**:  "16.16"
 - **Redis Server Version**:  "6.2"
 - **Node Redis Version**: "4.3.1"
 - **Platform**:  aws Ecs

[2022-09-29 08:07] tengwang0318 commented on #262
别说中文（don't speak Chinese in Github

[2022-10-02 15:03] abhi12299 commented on #2276
Same issue here.. running Azure Redis Cache with TLS results in random "Socket closed unexpectedly" errors every 5-10mins after starting my application (on AKS). This error also occurs when running the app locally on my machine (no proxies/load balancers).

[2022-10-02 19:57] akelmj commented on #2259
Thanks

[2022-10-02 19:57] #2259 closed

[2022-10-03 04:38] xtianus79 commented on #2271
sure. @leibale how do I reach you. I am on discord. Also, I can't get the cluster to connect in anyway. Xtianus#7827

[2022-10-03 19:31] roschler opened #2277 "What is the correct syntax for a Redis JSON SET call with the 'nx' flag in a Node.JS app?"
I have a `Node.JS` app that uses the `Redis` NPM module.  I am trying to set a JSON key to a specific value but ***only if it does not exist***.  The Redis JSON docs for the non-JSON `SET` call say:

https://redis.io/commands/json.set/
[code]

So I tried the following syntax in my Redis JSON SET call:
[code]
But that does not work.  Every time I make that call it *always* sets the object instead o

[2022-10-03 19:50] simonprickett commented on #2277
Hi there,

Try:

[code]

I agree that this could be better documented, and am currently writing issues for Node Redis for our Hacktoberfest project.  Adding something like this to the `examples` folder will probably be one of those now!

Here's where I found the example for the above: https://github.com/redis/node-redis/blob/master/packages/json/lib/commands/SET.spec.ts

[2022-10-04 00:50] roschler commented on #2277
Hi Simon,

Thanks! That worked _great_.

Some follow-up items for you and probably some more text that might go into the docs?

1) I get back `null` from the `await self.redisClient.json.set()` call.  The call works fine, but what is the significance of the `null` value?  In other words, what other values might I get back if that call does not `throw`?

2) A doc note on the return of `JSON.numIncr

[2022-10-04 12:56] zelucena commented on #2116
I found the same issue while trying to upgrade [Node ACL2](https://github.com/flash-oss/node_acl) to Redis 4.3.0.
`sAdd` stopped working with integers as well.
Stack trace:
[code]

[2022-10-04 13:10] moisesbites commented on #2116
Convert to string before send to redis client, reconvert to datatype after get from redis. It's the solution, for while.

[2022-10-04 13:54] schmod commented on #2276
Try setting `connectTimeout: false`

I think this library is mis-using Node's `Socket.setTimeout()` method, and is tearing the connection down after _any_ idle period of 60 seconds or more.

[2022-10-04 13:57] schmod commented on #2205
@leibale Try again with the `timeout` and `connectTimeout` settings as described in the original issue.  I have a suspicion that's part of the condition necessary to trigger this bug...

[2022-10-04 17:50] xtianus79 commented on #2271
hi @leibale do you have time today/tonight to help with issue? I can't seem to connect the cluster at all in any format.

[2022-10-04 20:17] simonprickett opened #2280 "Add example script showing how to watch a key, run multiple commands as a transaction and catch any WatchError that occurs."
Add an example script that shows how to watch a key and perform multiple commands on it in a transaction, catching any `WatchError` that occurs if the key changes.

Your example can be based on the code example here: https://github.com/redis/node-redis/blob/master/docs/isolated-execution.md, the best example to implement would be a check and set operation as described here https://redis.io/docs/ma

[2022-10-04 20:27] simonprickett opened #2281 "Add example script showing how to connect to a Redis open source cluster."
Add an example script that shows how to connect to a Redis open source cluster.  Your example can be based on the "Basic Example" code here:  https://github.com/redis/node-redis/blob/master/docs/clustering.md

Name your file `connect-to-cluster.js`.  Pay attention to the [guidelines for adding an example](https://github.com/redis/node-redis/tree/master/examples#coding-guidelines-for-examples) to e

[2022-10-04 20:38] con-mark commented on #2281
@simonprickett  @SuzeShardlow  I would be interested in doing this but might not get it done till the weekend not sure if you want to assign it elsewhere

[2022-10-05 06:19] Ducharme opened #2282 "ft.aggregate does not return expected values"
ft.aggregate does not return the tag for the aggregated count in the results

This is the index
`FT.CREATE topic-h3-idx ON HASH PREFIX 1 DEVLOC: SCHEMA topic TEXT h3r0 TAG`

This is the data
`client.hSet(key, { 'deviceId': 'test001', 'topic': 'mytopic', 'h3r0': "802bfffffffffff"});`

With CLI results include both the property tag and the aggregated count
`FT.AGGREGATE topic-h3-idx "@topic:mytopic

[2022-10-05 07:05] Shamik1836 commented on #2281
@simonprickett @SuzeShardlow I can work on this and get this issue resolved today only if you assign this to me

[2022-10-05 07:29] kirrg001 opened #2283 "4.x should be compatible with Node v12, but client@1.1.0 dropped support in a feature release"
https://github.com/redis/node-redis/blob/master/CHANGELOG.md#v400---24-nov-2021
https://github.com/redis/node-redis/releases/tag/client%401.1.0

Node v12

[2022-10-05 08:32] SuzeShardlow commented on #2281
@con-mark, thanks for your message. We will assign this elsewhere as you suggest, but please keep your eyes peeled because we will be adding more issues in the coming days and weeks.

You can view our latest open issues at https://redis.io/community/hacktoberfest 😀

[2022-10-05 14:11] xtianus79 commented on #2115
@firattaskin & @cattermo Hi everyone. I have tried implementing @firattaskin strategy but when I get an error a retry never occurs. it just errors and then I can't ever have anything happening to get it re-connected. Perhaps it is another issue but I am wondering what I am doing wrong or what else I need to do to get this working.

[2022-10-05 15:01] xtianus79 opened #2284 "ErrorReply: MOVED with single client and Can't connect to node-redis cluster connection with password and host[port]."
I am running this because there is nothing I can do to connect to my cluster with all of the nodes. I don't know if I am doing something wrong but I need to connect to a cluster instead of the client option. Everything else I connect to with my cluster works. My broker. Redis insight works with cluster and moves correctly/redirect.

Specifically when I use cluster it gives me an error that usernam

[2022-10-05 15:40] simonprickett opened #2285 "Add example script showing use of Hyperloglog commands."
Add an example script that shows the use of the `PFADD` and `PFCOUNT` and optionally `PFMERGE` commands (see [Redis Hyperloglog Commands](https://redis.io/commands/?group=hyperloglog).

Make sure to use a real world example of the need to approximately count something, for example cars passing by a traffic monitoring camera perhaps.  Check out our [Hyperloglog video](https://www.youtube.com/watch?

[2022-10-05 19:22] xtianus79 opened #2286 "Cluster connection error [ErrorReply: ERR Protocol error: unauthenticated multibulk length]"
I am getting an error with these connection settings. Related to the previous error but different, this one is connected directly with the node-redis cluster connection:
`[ErrorReply: ERR Protocol error: unauthenticated multibulk length]`

The error I keep getting is this.

[code]

**Environment:**
 - **Node.js Version**: 16
 - **Redis Server Version**: 7.0.4
 - **Node Redis Version**: 4.+ latest

[2022-10-05 20:02] simonprickett opened #2287 "Add example scripts showing pub/sub usage."
Add two new scripts to the `examples` folder to demonstrate pub/sub usage.  Call them `pubsub-publisher.js` and `pubsub-subscriber.js`.

Have the publisher publish a large number of message on a variety of channel names, and the subscriber use the `PSUBSCRIBE` command to subscribe to them.

Use the existing Redis Streams example scripts `stream-producer.js` and `stream-consumer.js` as guidelines,

[2022-10-05 20:13] con-mark commented on #2287
Hi @simonprickett  if you assign this I can start looking at it

[2022-10-05 20:16] simonprickett commented on #2287
@con-mark I've assigned this to you, looking forward to seeing your PR in the next couple of days. Have fun and please check out our guidelines:

https://redis.io/community/hacktoberfest/

[2022-10-05 20:24] xtianus79 commented on #2274
I think I have this same issue

[2022-10-05 20:24] mayuehit commented on #2274
您好，您的邮件已收到，我会尽快给您回复，谢谢。

[2022-10-06 12:37] yaroslavputria commented on #2276
@schmod, do you mean `connectTimeout: 0`? - `socket.connectTimeout` is number.

[2022-10-06 17:21] Mephalich commented on #2285
Hi. I could work on this task.

[2022-10-06 17:32] simonprickett commented on #2285
@Mephalich thanks - we're aiming for a wide range of new contributors for Hacktoberfest, if this is still available in a week please check back but we'd like to ensure everyone gets a go at a first issue before assigning subsequent issues to folks who have already successfully completed one.

[2022-10-06 17:42] ade1705 commented on #2285
Hi @simonprickett , I would like to work on this.

[2022-10-06 17:47] SuzeShardlow commented on #2285
This issue is still open and up for grabs :) please reply and tag me and @simonprickett if you'd like to work on it.

[2022-10-06 17:48] ade1705 commented on #2285
Hi @simonprickett @SuzeShardlow I would like to work on this

[2022-10-06 17:51] SuzeShardlow commented on #2285
Hi @ade1705, I've assigned this one to you, look forward to seeing your PR in a couple of days.  Please check out our guidelines at the below link and have fun!

https://redis.io/community/hacktoberfest/

[2022-10-06 18:32] victusfate commented on #2252
Friendly suggestion -> @v-flashpoint you may want to collect all your promises and then exec a Promise.all(allYourPromises). If you await individual queries it'll run serially / block which can definitely slow you down

[2022-10-07 05:27] Shamik1836 commented on #2281
Hi, can you please help me in finding some information about open source cluster, since this is my first open source contribution, I don't know where to get information about this but I really want to contribute to this issue.

[2022-10-07 15:28] rowantrollope commented on #2280
I would like to work on this.  @simonprickett @SuzeShardlow can you assign it to me?

[2022-10-07 16:19] simonprickett commented on #2280
@rowantrollope I've assigned this to you, looking forward to seeing your PR in the next couple of days. Have fun and please check out our guidelines:

https://redis.io/community/hacktoberfest/

[2022-10-08 02:02] mayuehit commented on #2274
you could solve this problem like this

[2022-10-08 11:45] Elvis1221 commented on #1599
Hi. Could you tell me please.
How i can unit test it in jest?
![image](https://user-images.githubusercontent.com/68077916/194705740-ccf87e5d-dae6-4d6c-a901-6bb38c1af9a3.png)

[2022-10-10 08:15] ivanvaccari commented on #2286
Getting this on a brand new setup on local ubuntu vm. My environment does not involve a cluster, just a local single instance setup for development with a couple of node apps as clients (same vm, connection via localhost)

- Node 16.17.1
- Ubuntu 20.04
- node-redis 4.3.1
- Redis server 7.0.5

[2022-10-10 08:38] richardsun2021 commented on #2276
it works fine for me locally, pre-production test found this issue.

[2022-10-10 14:40] SuzeShardlow commented on #2280
Hi @rowantrollope, how are you doing with this?  :)

[2022-10-10 14:41] SuzeShardlow commented on #2285
Hi @ade1705, how are you doing with this?  :)

[2022-10-10 14:56] SuzeShardlow commented on #2281
This issue is available and up for grabs.  Please tag me and @simonprickett if you would like to work on it.

[2022-10-10 16:41] simonprickett commented on #2280
This issue is available to work on.

[2022-10-10 18:29] ade1705 commented on #2285
@SuzeShardlow almost done. Apologies for the delay

[2022-10-10 20:01] ade1705 commented on #2285
@SuzeShardlow I have created a PR for it. Please have a look [here](https://github.com/redis/node-redis/pull/2289)

[2022-10-10 20:51] SuzeShardlow commented on #2285
Thanks @ade1705! We will take a look in our daytime 😀

[2022-10-11 12:01] sailingwithsandeep commented on #2280
Hello, I would love to work on this. @SuzeShardlow @simonprickett

[2022-10-11 12:19] vajid2113 commented on #2281
Hello, I would like to work on this issue @SuzeShardlow @simonprickett

[2022-10-11 13:04] SuzeShardlow commented on #2280
Hi @sailingwithsandeep, I've assigned this to you :) we look forward to receiving your PR in the next couple of days.  Please check out our guidelines and have fun!

https://redis.io/community/hacktoberfest

[2022-10-11 13:20] SuzeShardlow commented on #2281
Hi @vajid2113, I have assigned this to you :) we look forward to receiving your PR in a couple of days.  Please check out our guidelines and have fun!

https://redis.io/community/hacktoberfest

[2022-10-12 16:47] tim-kos opened #2290 "Advice for multi.exec() promise not resolving after some time"
We run a multi.exec() to BLPOP from a lot of different lists. We do this several times per second. After some (random) time, the multi.exec() promise stops resolving or throwing. It likely got something to do with the redis command queue, but we are unable to reproduce the error in a test environment. It happens regularly in production, though.

Code:

[code]

Some example log output:

![2022-10-1

[2022-10-12 21:28] jatinkumarg opened #2291 "How to use lua scripts in v4?"
Noticed the support for `script()` has been removed in v4. Wondering how lua scripts can be loaded in v4?

I'm trying to update the `node-redis` to v4 in `bee-queue` but getting issue with loading lua scripts [here](https://github.com/bee-queue/bee-queue/blob/master/lib/lua/index.js#L41).

[2022-10-13 06:52] abhi12299 commented on #2276
Switched to ioredis for now.. this library is not suitable for production use until the issue is fixed.

[2022-10-14 04:28] pas256 commented on #2173
While it is true that `ZREVRANGEBYSCORE` has been deprecated, when using this library to connect to and older Redis 5 node, using

    const items = await client.zRange(myKey, '+inf', 0, { BY: 'SCORE', REV: true })

will error with

    [ErrorReply: ERR value is not an integer or out of range]

I can see two approaches:
1) Modify the implementation of `ZRANGE` in this library to automatically send

[2022-10-14 12:36] SuzeShardlow commented on #2281
Hi @vajid2113, how are you doing with this? :)

[2022-10-14 15:42] dabroek commented on #2290
@tim-kos Do you think #2293 would (help) resolve your issue?

[2022-10-14 18:32] #2277 closed

[2022-10-14 18:38] roschler opened #2294 "Can I update multiple heterogeneous paths with the the SET command?"
I know I can update multiple keys using a JsonPath pattern like the Redis JSON docs show:
[code]
But that only works if you are updating keys with a common name, and the path pattern ("$..a") matches multiple keys.  Is there a way to update multiple keys with the same SET command but using a list of independent paths?  For example something akin to:
[code]
Where the value "valueToAssign" would be

[2022-10-14 19:39] SuzeShardlow commented on #2285
Closed by #2289.  Thanks @ade1705!

[2022-10-14 19:39] #2285 closed

[2022-10-14 21:53] thatcort commented on #1865
Just came here to say that all of this seems far too hard and worthy of a breaking change to the type definitions. After struggling with this for far too long I just put `const client = redis.createClient(redisClientOptions) as RedisClientType<any, any, any>` in my factory function.

[2022-10-16 06:55] varadkarpe commented on #2281
@SuzeShardlow
If there are no updates regarding this issue from others I would like to contribute to this, I can get it done within 2 calendar days.

[2022-10-16 09:32] SuzeShardlow commented on #2281
@varadkarpe I've assigned this to you, looking forward to seeing your PR in the next couple of days. Have fun and please check out our guidelines:

https://redis.io/community/hacktoberfest/

[2022-10-17 02:14] richardsun2021 commented on #2276
while 3.* is stable, but no bloom module, for me would like to switch to 3.* and implement bloom by other lib.

[2022-10-17 10:15] tim-kos commented on #2290
It should help, but I am not sure if that would be exhaustive. Please notice how in the logs I also logged .isReady and .isOpen and they are both true, which is kind of unexpected with #2293 ?

[2022-10-17 15:47] Mumeii opened #2296 "strange behavior of the reconnectStrategy callback"
Hi

I've noticed that when using the reconnectStrategy feature , there is always a first call to the given callback with a 0 passed as the first callback parameter

If I understand the documentation right, this parameter stand for the number of retrial, so always been called with a 0 value at startup is a bit puzzling, if not awkward, especially because we `log.warn` the retrial count in this call

[2022-10-17 15:52] Mumeii commented on #2296
Sorry, made a wrong analysis of our logs. Don't care about this issue

[2022-10-18 05:15] varadkarpe commented on #2281
Hey @SuzeShardlow
I am trying to push my code but I am facing an error, it says :
`Permission to redis/node-redis.git denied to varadkarpe.
fatal: unable to access 'https://github.com/redis/node-redis.git/': The requested URL returned error: 403`

Can you please help me out?

[2022-10-18 05:21] varadkarpe commented on #2145
Hello @chayim
Can you explain this issue in detail?

[2022-10-18 12:08] SuzeShardlow commented on #2281
Hi @varadkarpe, you can't push to our repo (as you've discovered) - you will have to fork the repo and make your changes there.  Then push to your fork and open a PR against our repo.

Have a look at these instructions:

https://docs.github.com/en/get-started/quickstart/fork-a-repo

[2022-10-18 12:39] varadkarpe commented on #2281
#2298
I have made the PR, kindly review it.

[2022-10-18 12:50] varadkarpe commented on #2233
Hey @leibale
I think I can get this done by the weekend, can I work on this?

[2022-10-18 15:46] philpicton commented on #1855
I also have a use case for this - using node-redis in a Lambda, I need a solid way to check that the connection is ready, as on new deployments I get 502s until the cluster has connected

[2022-10-19 04:24] jsSword opened #2299 "In eval function how can i get Uint8Array return value instead of string"
in redis lua script
`
return redis.call('HMGET', ARGV[4], unpack(rank_list))
`
The stored data format is protobuf，but the return value is string array, protobuff decode need Uint8Array value.this is my
decode code:
[code]
It works, but I get wrong results, the decoded result is wrong.what should I do? Thanks
**Environment:**
 - **Node.js Version**: v16.17.0
 - **Redis Server Version**: 5.0.10
 - *

[2022-10-19 04:40] jsSword commented on #2299
sorry, I accidentally hit the close button

[2022-10-19 12:02] #2281 closed

[2022-10-20 15:13] leibale commented on #2233
@varadkarpe sorry about the long dealy, I was on vacation

sure! thanks for contributing! :)

[2022-10-20 15:41] polearnik commented on #2032
also  you need to add listeners to publishers and subscribers

[2022-10-20 19:01] eliliam opened #2301 "CHANGELOG.md is missing all versions after 4.0.2"
I'm working on upgrading Redis and was following the changelog, but noticed that the latest version in the CHANGELOG.md is 4.0.2, whereas the actual latest version is 4.3.1. Is this something that can be updated to contain the changes from versions between 4.0.2 and 4.3.1?

[2022-10-20 19:20] leibale commented on #2271
@xtianus79 sorry about that, I was on vacation.. I'll contact you next week

[2022-10-20 19:24] leibale commented on #1599
@Elvis1221 just pass an empty listener to make sure an error won't crash the process

[code]

[2022-10-20 19:26] leibale commented on #2291
you can define lua scripts on the client and then use them like any other command.
checkout the ["scripts" section in the main readme](https://github.com/redis/node-redis#lua-scripts) and [this example file](https://github.com/redis/node-redis/blob/master/examples/lua-multi-incr.js)

[2022-10-21 07:18] jsSword commented on #2299
sorry, there are some bugs elsewhere.

[2022-10-21 07:18] #2299 closed

[2022-10-21 12:28] ivanpepelko opened #2302 "Reconnect doesn't work without on('error') listener"
Node processes containing redis clients would crash with SocketClosedUnexpectedlyError.
The reason is well known - `timeout` in redis.conf (in our case it's set to 1h, and our node processes would crash within same interval).

The problem is that without on('error') listener the error is seemingly considered 'uncaught' and crashes the process.
After adding the listener (it simply logs the error),

[2022-10-21 14:10] leibale commented on #2302
this is how Node `EventEmitter` is designed (see https://nodejs.org/api/events.html#events_error_events), but because this question/issue comes up a lot, we should address it in the main README

[2022-10-21 14:12] leibale commented on #2301
for now you can use [github releases page](https://github.com/redis/node-redis/releases) (I'll update this file next week)

[2022-10-21 14:28] leibale commented on #2283
Node 12 is "dead" https://github.com/nodejs/release#release-schedule

[2022-10-21 14:28] #2283 closed

[2022-10-24 06:51] FatNerdPeng opened #2303 "ERR AUTH <password> called without any password configured for the default user"
Hello,team!
I ran a Redis service in Docker,the redis server no user but password,its parameters following:
![61807a6376708c7f4b76d06246a9c7f](https://user-images.githubusercontent.com/33616855/197463961-fb291e43-2b94-489a-aa46-347a5c52dde5.jpg)
the tool is Chinese,it roughly means:
host:192.168.0.131
port:6379
password:123456
I connect successfully by tool.And then I tried to connect by node-redi

[2022-10-24 20:50] eliliam commented on #2301
Thank you! The github release page is great, but my biggest issue with it is that it's super bloated, showing releases for all packages, and a significant amount of screen real estate is taken up by assets and contributers. Having just the changes in the CHANGELOG.md would make upgrading significantly easier.

[2022-10-25 10:17] RichardWright opened #2304 "streaming interface for get"
Hi

Would it be possible to add support for a nodejs streaming interface? (https://nodejs.org/api/stream.html)

Thanks

[2022-10-25 11:20] #2232 closed

[2022-10-25 19:13] shawnlknight commented on #2276
I am also seeing this issue and will not upgrade to v4 until it is resolved. Any word on this?!?

[2022-10-25 19:37] leibale commented on #2304
This is impossible with RESP2, and will be possible only when Redis implements RESP3 ["Streamed String"](https://github.com/redis/redis-specifications/blob/master/protocol/RESP3.md#streamed-strings)

[2022-10-25 19:39] leibale commented on #2276
Hi everyone, sorry for the dealy, I was on vacation..

I wasn't able to reproduce the error with "docker run redis/redis-stack-server", can you please help me reproduce the issue so I'll be able to fix it?

[2022-10-25 19:42] schmod commented on #2276
I'll reiterate my previous comment about `connectTimeout` – the [current implementation](https://github.com/redis/node-redis/blob/942de1f0b4868f0f6464b2e0702b621a3373c4ee/packages/client/lib/client/socket.ts#L151-L153) calls:

[code]

However, `socket.setTimeout` isn't a connection timeout – it's a timeout for _any_ activity on the socket.  Let it sit idle for too long, and it'll self-destruct.

F

[2022-10-25 20:15] leibale commented on #2276
@schmod the timeout is reset to 0 after the connect event, [see this line](https://github.com/redis/node-redis/blob/942de1f0b4868f0f6464b2e0702b621a3373c4ee/packages/client/lib/client/socket.ts#L164)

[2022-10-26 05:37] abhi12299 commented on #2276
@schmod for some context, I tried to ping the redis server in my health check endpoint, so that there's no inactivity (the health check endpoint is called every 5s). But the connection still terminates after a few minutes (~5-10mins).
This only happened when I connected to Azure Redis Cache and not when connecting to local redis instance.

[2022-10-26 14:31] emilsivervik commented on #2237
@idaamit If you're running Docker https://www.npmjs.com/package/testcontainers might be worth a try since then you could also use a proper `watch` implementation

[2022-10-26 18:05] #2230 closed

[2022-10-26 20:42] #2134 closed

[2022-10-26 22:21] hypo-thesis opened #2308 "MGET returns an array wrapped around every returned object."
**Environment:**
 - **Node.js Version**:  18.9.0
 - **Redis Server Version**: Redis server v=7.0.5 sha=00000000:0 malloc=jemalloc-5.2.1 bits=64 build=68bf11aad5b039df
 - **Platform**:  Ubuntu 20.04.3,

Redis `MGET `returns multiple objects in arrays of an array.

I have on my DB :

`A:1` as key with content `{a:1}` and `B:2` as key with `{b:2}` content. However `Redis.json.MGET(["A:1" , "B:2" , '$

[2022-10-27 12:23] akelmj opened #2309 "Execute LUA script with node-redis"
Hi,

I use this lua script to delete all keys of index (using Redis Stack Database):

`EVAL "for i, name in ipairs(redis.call('KEYS', ARGV[1])) do redis.call('DEL', name); end" 0  mydb:products:*`

How to run this script with redis node client where : mydb is first parameter and products is the second parameter.

thanks.

[2022-10-27 13:46] hansott commented on #1623
@leibale This will have a tremendous impact on a lot of applications. Currently, there's no easy way to do avoid server lookups if the data is already available in the running Node.js process. It's really easy to make mistakes when trying to achieve static caching. The only safe way is using a per request static cache but even this is hard to implement. In languages like PHP it's relatively easy t

[2022-10-27 15:10] #2309 closed

[2022-10-27 17:06] #2266 closed

[2022-10-27 18:30] leibale commented on #2276
see #1598

[2022-10-27 18:47] leibale commented on #2282
it's `properties`, not `property`... this should work:

[code]

[2022-10-27 18:47] #2282 closed

[2022-10-27 19:23] abhi12299 commented on #2276
@leibale I had already tried the ping approach, but this still doesn't work.. I guess there's some issue with the library because I've migrated to ioredis and it works perfectly fine. No drops whatsoever.

[2022-10-28 08:45] varadkarpe commented on #2233
No issues, @leibale , I hope it was a good one.
I will contribute to this issue over the ongoing weekend, sorry for the delay in response and not updating you regarding the progress.

[2022-10-28 10:17] GiboMac opened #2310 "TypeError: stream.pause is not a function"
**Environment:**
 - **Node.js Version**: 16.18.0
 - **Redis Server Version**: 6.0.0
 - **Node Redis Version**: 4.3.1
 - **Platform**: Debian 10

We have a Redis managed instance in the IBM Cloud, version 6

I've created in this way the connection:
[code]

When i try to any simple operation this error occurs -> **TypeError: stream.pause is not a function**

This is the stacktrace
[code]

What's wro

[2022-10-28 14:03] simonprickett opened #2311 "Add an example script showing how to mix regular and arbitrary command invocations in a transaction."
It's not obvious that when chaining with `multi` you need to use `addCommand` not `sendCommand` for arbitrary commands.

Add an example that demonstrates this, something like this:

[code]

[2022-10-28 18:26] alphabetkrish opened #2313 "branch master to be changed to main as it is more inclusive"
Please consider changing master branch name to main to be compliant with Inclusive language

[2022-10-29 11:12] almosnow opened #2314 "Raw XREAD command fails with "Invalid argument type""
(Assuming you have a working `client` and a stream named `stream`)

When trying to call `client.XREAD('STREAMS', 'stream', '0')`

the code throws a `TypeError: Invalid argument type` exception.

I think it's a bug, equivalent redis command is `XREAD STREAMS stream 0` and runs without issue through redis-cli.

[2022-10-29 11:47] leibale commented on #2314
[code]
this should work

[2022-10-29 11:53] almosnow commented on #2314
Just tried it out, still fails,

Please note that `XREAD` != `xRead`.

[2022-10-29 11:59] leibale commented on #2314
My bad, this should work (without the STREAMS)
[code]

[2022-10-29 12:01] almosnow commented on #2314
It does work now, thanks!

I thought raw commands had a simple mapping to redis commands like literally [args, arg, arg, arg, ...]

I see that's not the case, is this documented anywhere?

[2022-10-29 13:24] leibale commented on #2314
https://redis.js.org/documentation/client/modules/lib_commands_XREAD.html
BTW, the package has full TS support, so you should get autocomplete in your IDE

[2022-10-29 13:24] #2314 closed

[2022-10-31 11:10] kirrg001 commented on #2283
Doesn't matter if it is dead or not.

[2022-10-31 13:03] chayim commented on #2313
The names master and main have different contexts in different languages, cultures, and groups. While we strive to respect all of the above, the reality is that not everyone can be happy with each decision.  Popular replacements for master (i.e unstable, or even main), are improper for various groups.

For now, we'll stick with what we have. However, the issue isn't closed - we continue to monitor

[2022-10-31 13:03] #2313 closed

[2022-10-31 13:08] leibale commented on #2311
I'm not against adding an example, but I think we should add `.sendCommand` on multi as well (alias for `.addCommand`)

[2022-10-31 13:09] simonprickett commented on #2311
@leibale I'm about to submit a PR for an example which can cover us for the moment and we should add the alias too.

[2022-10-31 21:14] leibale commented on #2161
In RESP3 Redis replies with `%0` (empty hash) and not `_` (null)

[2022-10-31 21:14] #2161 closed

[2022-10-31 21:15] #2159 closed

[2022-11-01 19:45] #2189 closed

[2022-11-01 19:45] #2191 closed

[2022-11-01 19:45] #2216 closed

[2022-11-01 19:45] #2245 closed

[2022-11-01 19:45] #2144 closed

[2022-11-01 19:45] #2145 closed

[2022-11-01 22:40] leibale commented on #2276
I've tried to reproduce the issue with "Azure Cache for Redis", but didn't manage to... if one of you can make a call with me and show me the issue that will be very helpful :)

[2022-11-01 23:22] leibale commented on #2276
Might be a duplicate of #1598, see https://learn.microsoft.com/en-us/azure/azure-cache-for-redis/cache-best-practices-connection#idle-timeout

[2022-11-01 23:34] leibale commented on #1598
https://learn.microsoft.com/en-us/azure/azure-cache-for-redis/cache-best-practices-connection#idle-timeout

[2022-11-02 04:42] francislavoie opened #2318 "Uppercase MULTI function?"
In the `RedisClient` types, there's only a `multi()` function, but no `MULTI()`.

This feels inconsistent with the rest of the commands which do have an uppercase variant.

I prefer to use the uppercase form for readability and clarity (matching Redis docs).

[2022-11-02 12:54] dallascao opened #2319 "Add a connectTimedOut to client.connect()?"
This is a feature request, not a bug report. Sorry for the wrong label.

It would be useful if there is an `connectTimedOut` option to `client.connect()` method.

I used redis to remember some switches and redis is not crucial. But when there is a problem with my redis server, `client.connect()` waits forever.

I would like to be able to do something like this:
[code]

[2022-11-02 19:10] leibale commented on #2319
You can do it with this config (see [client-configuration.md](https://github.com/redis/node-redis/blob/master/docs/client-configuration.md) for more details):
[code]

[2022-11-02 19:15] leibale commented on #2290
@tim-kos wanna try `redis@4.4.0`/`@redis/client@1.3.1` to see if it fixes the issue?

[2022-11-02 22:35] leibale commented on #2310
Maybe the error is that you don't have an `error` listener on the client (which makes the process crash and somehow this error shows up)? try to add `this.client.on('error', err => l.error('Redis Client Error', err));` after you create the client

[2022-11-02 22:42] leibale commented on #2294
Unfortunately this is not supported by Redis JSON, see https://github.com/RedisJSON/RedisJSON/issues/414

[2022-11-02 22:42] #2294 closed

[2022-11-02 22:43] #2291 closed

[2022-11-02 22:50] leibale commented on #2284
In order to connect to a cluster you'll need to use the `createCluster` function

[code]

see https://github.com/redis/node-redis/blob/master/docs/clustering.md for more details

[2022-11-02 22:50] #2284 closed

[2022-11-02 22:56] #2258 closed

[2022-11-02 22:56] leibale commented on #2257
@24x7soumya can I close this issue?

[2022-11-02 22:57] #2178 closed

[2022-11-02 22:57] #2203 closed

[2022-11-03 03:15] 24x7soumya commented on #2257
Yes @leibale .
Thanks.

[2022-11-03 03:15] #2257 closed

[2022-11-03 13:03] nicholaswmin commented on #1767
Extremely annoying that you keep breaking this with every new version.

[2022-11-03 16:51] josh803316 commented on #2276
We are running into this too:
- We have an Elasticache instance in AWS (Engine: 6.2.6, Instance Size: cache.t3.micro)
- We are connecting to it via a Fargate node 18 NestJS service using "cache-manager": "^5.1.1","cache-manager-redis-store": "^3.0.1", and "redis": "^4.3.1"
- For the most part the service runs fine, but every couple of days it crashes with the `Socket closed unexpectedly` error but

[2022-11-03 23:52] Shepless commented on #2266
@leibale any ETA on the fix being released please?

[2022-11-04 15:45] MartinSchere commented on #2032
I cannot confirm that this issue is fixed:
[code]

Randomly disconnects and never logs `RETRYING`.

[2022-11-04 21:33] winchell commented on #1782
This issue was unexpected and seems like a severe high level bug. Spent hours trying to `createCluster` with a k8s redis-cluster using the bitnami Helm charts in GKE.  I see that `nodeAddressMap` is supposed to address the topology definition problem, but what happens when you nuke the pods and k8s assigns new local IPs? It's not a good solution if the client config has to be changed at that point

[2022-11-04 22:03] winchell commented on #1782
I'd posted a different comment but just want to leave it like this. Using bitnami Helm redis-cluster charts in GKE.

With `node-redis`, this does not work. The client hangs. Is something wrong with this format?

[code]

With `ioredis` this _does_ work and keys are distributed as expected:

[code]

[2022-11-06 03:27] F3n67u opened #2320 "multiple concurrent connect if error happened when connect"
I created an Azure redis, it allows access only via SSL. I misconfigure my protocol to `redis://`(connect will trigger error) and found that:
1. "Socket closed unexpectedly" error triggered multiple concurrent connect.
2. there is a TypeError: Cannot read properties of undefined (reading 'destroy')

## How to reproduce
1. Create the following script:
[code]
2. run this script

## Actual behavior

[2022-11-06 07:00] #2231 closed

[2022-11-06 07:10] leibale commented on #2266
@Shepless it's not in `redis@4.4.0`?

[2022-11-06 18:38] Shepless commented on #2266
@leibale I still get the same error on `redis@4.4.0` when using the time series package `@redis/time-series@1.0.3`

ERR TSDB: missing labels for filter argument

[2022-11-06 22:26] Ducharme commented on #2282
Correct, thanks.

[2022-11-07 10:28] duannx commented on #2010
Hello, is there any update on this issue?

[2022-11-07 12:10] philip-nicholls commented on #2010
With all due respect to the developers, the quality of the underlying connection code is poor in this library.  If I had the time, I would fix these things myself, but considering the "redis" namespace that this package now has, I expect better quality from this library as it is the "official" node redis connector now.  There is still an infinite loop and errors are not being caught properly.  I l

[2022-11-07 12:35] leibale commented on #2010
@philip-nicholls I'm sorry you feel this way, the code was rewritten in #2295 (which was released in the last version). If you found a specific issue please share it.

[2022-11-07 16:48] richardsun2021 commented on #2276
@leibale could you please release this bug fix ASAP? we are pending for this feature.

[2022-11-08 08:02] pixtron commented on #2010
@leibale just by looking at #2295 this PR doesn't seem to solve this issue. A call to `disconnect()` should stop the reconnect loop. Maybe a new flag `disconnecting` is needed to address this issue?

[2022-11-08 08:25] leibale commented on #2276
@richardsun2021 in the meantime you can use this code to do (almost) the exact thing:

setInterval(client => {
  client.ping((err) => {
    if (err) console.error('Redis keepalive error', err);
  });
}, 9*1000*60);
// azure is closing the socket after 10m of idle time, pinging every 9m seems like a reasonable choice

[2022-11-08 08:37] #2319 closed

[2022-11-08 16:56] josh803316 commented on #2276
@leibale Yes, I do have an error listener which was how (I presume) I saw the error in the logs, but I've upgraded the instance size and set listeners as follows and haven't seen the crash/issue since the change:

[code]

[2022-11-08 17:34] GiboMac commented on #2310
found it!
misconfiguration for the connection config :|
You can close 😫

[2022-11-09 08:40] leibale commented on #2310
@GiboMac if you can elaborate a little bit more that might help the next person that will get this error... thanks :)

[2022-11-09 15:59] leibale commented on #2320
Can you please try to upgrade to 4.4.0?

Might be a duplicate of #2010

[2022-11-09 16:03] leibale commented on #2010
@pixtron I think that an "ongoing" `#connect` promise should be stored in a private variable and reused in case it's there. I'll take a look tomorrow.

[2022-11-09 20:42] Shepless commented on #2266
@leibale sorry to keep bothering you, is the above related to the same issue? If not, do you want me to open a new issue for it? Thank you, all of your work and effort is appreciated :smiley:

[2022-11-10 08:49] #1598 closed

[2022-11-10 08:49] #2276 closed

[2022-11-10 09:02] leibale commented on #2266
@Shepless sorry about that, should be fixed in `redis@4.5.0`/`@redis/time-series@1.0.4`

[2022-11-10 09:05] TombolaShepless commented on #2266
Thanks @leibale will give it a try this evening!

[2022-11-11 19:35] GledsonAfonso commented on #2205
Any news about this? I have been facing this problem for a while now.

[2022-11-12 13:09] leibale commented on #2032
@flashtheman where is your redis server hosted? what version of node-redis are you using?

[2022-11-12 13:13] leibale commented on #2205
@GledsonAfonso have you set `disableOfflineQueue` to `true`?

[2022-11-13 07:37] ghost opened #2322 "Slow performance compared to Postgres"
**Environment:**
 - **Node.js Version**:
 - v16.14.2
 - **Redis Server Version**:
 - Redis official docker  image
 - **Node Redis Version**:
 - latest (4.5.0)
 - **Platform**:
 - Windows 10

Hello, im getting worse performance when doing Promise.all in redis.get compared to postgres select
Tried to enable pipelining, but understood it already enabled by default. am i missing something? object is p

[2022-11-14 13:58] DDDDDanica commented on #2116
Thank you !!! and this should be the fix and `connect-redis` did not support redis@v4 completely.

https://github.com/tj/connect-redis

[code]

It would be great if this is specified in migration guide ~

[2022-11-14 18:54] leibale commented on #2322
Hi, I just ran this script to compare the performance
[code]
here are the results:
[code]

I'm not too sure if comparing "PING" and "SELECT 'PONG'" is fair...

[2022-11-15 17:41] corywatsonhcl opened #2325 "Automatically escape punctuation for Redisearch?"
This is a combination question and then potential feature idea. Given that indexing by TEXT on fields like email address can cause troublesome issues with tokenization, I find myself having to do a lot of escaping on JSON documents that I want to store and index but that have fields where I would expect punctuation. I know I can use TAG to get around this, but we need to dual-index sometimes and a

[2022-11-15 17:45] cbazureau opened #2326 "Elasticache Redis with cluster mode disabled but failover enabled"
We are facing a `READONLY You can't write against a read only replica` error (followed by a `Socket closed unexpectedly` error) when we want to write on our AWS ElastiCache Redis cluster (Cluster mode off) when multi-AZ and failover are enabled.

**On redis server side :**

![configuration](https://user-images.githubusercontent.com/13906500/201986415-e86437ae-241d-4454-8874-21d211176f5f.png)

**On

[2022-11-16 12:52] GledsonAfonso commented on #2205
Sorry for the late reply, I just manage to test this today. It didn't work, though. Here's the code from my Redis client:

[code]

The way I'm testing this is through Docker Compose. I'm starting the Redis server along with an API that needs to connect to it and then I disconnect the Redis server and watch the logs from the API. When this happens, it fails and the application is successfully close

[2022-11-16 15:24] omkarrepal opened #2327 "Not able to subscribe after publishing message either from cmd or from .publish()"
I'm trying to implement pub/sub mechanism but I'm getting error whenever I publish message either from command line or through node package.

My client creation code looks like

[code]

my redis config
[code]

And my subscription code looks like:
[code]

Following error is thrown once I publish from either command or through .publish()

[code]

**Environment:**
 - **Node.js Version**: v18.3.0
 - *

[2022-11-16 16:44] cbazureau commented on #2326
FYI i've switched to **ioredis** with the same configuration (2 connexions one to write / one to read) and it works

[2022-11-16 19:23] omkarrepal commented on #2052
@mifopen Did you get any solution for this?

I'm facing same issue.

[2022-11-16 20:21] daniandco1 commented on #2322
thanks, the problem occurs for me with big string. toda btw :D

[2022-11-16 20:38] mifopen commented on #2052
Unfortunately, no :(

[2022-11-16 21:02] leibale commented on #2327
@omkarrepal
[code]

This code did not reproduce the error...

[2022-11-16 21:07] leibale commented on #2052
@omkarrepal @mifopen I just tried to reproduce the error using this script

[code]

but it works as expected. have you tried upgrading to the latest node-redis version?

[2022-11-16 21:10] #2322 closed

[2022-11-16 21:32] leibale commented on #2205
@GledsonAfonso wanna give #2328 a shot?

[2022-11-17 01:54] omkarrepal commented on #2327
Hi @leibale ,

Thanks for quick response. :)

I tried following in client creation code.

Now my code looks like
[code]

it prints following from console.log

`null [ 'subscribe', 'monitor', 1 ]`

Then I ran following command from `redis-cli`
`127.0.0.1:6379> PUBLISH monitor test`

and it again thrown following error.

[code]

Am I missing something. I've upgraded to redis@latest (4.5.0)

[2022-11-17 14:51] leibale commented on #2327
Looks like PubSub is not working well with `legacyMode` on, I'll debug it later today

[2022-11-17 16:41] omkarrepal commented on #2327
@leibale  So the workaround would be turning off a legacy mode.

[2022-11-17 16:49] #2262 closed

[2022-11-17 17:25] #2256 closed

[2022-11-19 10:48] Eshya commented on #1782
@leibale I have new problem with connecting from docker. When I run it in the node environment it runs successfully. But the connection fails when I run it in the docker environment . Got disconnected and reconnecting again

[2022-11-19 23:24] GledsonAfonso commented on #2205
Sure! How do I do that?

[2022-11-20 02:00] leibale commented on #2205
@GledsonAfonso if you are testing locally: clone [my fork](https://github.com/leibale/node-redis/tree/fix-2205), checkout to the "fix-2205" branch, run `npm i && npm run build-all` in the repo main folder, and change your package.json to install from the local folder (`"redis": "file:..."` instead of `"redis": "4.5.0"` in package.json)

[2022-11-20 10:18] artur-ma opened #2329 "Support connection pooling"

[2022-11-20 10:20] artur-ma opened #2330 "Support connection pooling"
Since Redis 6 supports multi-threading model for network I/O, can this feature now be added in node-redis?

https://redis.com/blog/diving-into-redis-6/

[2022-11-20 12:53] bologer opened #2331 "Unable to perform clean-up during NodeJs "Signal event""
I have CLI script which uses node-redis package. The idea now is to implement clean-up routine in case of Signal event in NodeJS, for example `SIGINT`.

I've configure client and use it as following:

[code]

I tried to minimize working example and set key directly via redis-cli and remove it via `SIGINT` (from CLI command), however it does not seem to do the job as I can still see the key in Redi

[2022-11-21 15:28] GledsonAfonso commented on #2205
It still hangs.

[2022-11-21 16:04] leibale commented on #2205
@GledsonAfonso wanna debug it together?

[2022-11-22 14:35] GledsonAfonso commented on #2205
Sure! What time you will be available and through which channel?

[2022-11-22 16:45] ngocson952006 opened #2332 "Error: Cannot send commands in PubSub mode when using redis server with password"
Using the Pub/Sub feature described at https://redis.js.org/#node-redis-usage-pubsub works fine for me when using a Redis server without a password set.

But when changing connect to a Redis server using a password for authentication, I got the error `Cannot send commands in PubSub mode` (Despite that the connection was successful). Details below

[code]

I'm not sure if this is duplicated with ht

[2022-11-22 18:02] leibale commented on #2205
@GledsonAfonso I'll be in [this zoom call](https://redis.zoom.us/j/98667993330?pwd=bk4zMExnN3MxY2pJZnpJMTB4dW1SQT09) for the next few hours, hope you'll have time to join :)

[2022-11-22 18:54] GledsonAfonso commented on #2205
Okay! Thanks!

[2022-11-22 19:43] leibale commented on #2332
@ngocson952006 Hi, can you please provide a code example that reproduces the issue? because this code didn't:

[code]

[2022-11-22 19:47] leibale commented on #2331
this worked for me (on linux)
[code]

[2022-11-22 21:28] GledsonAfonso commented on #2205
Thanks for your help, @leibale!

Just in case someone else needs this, what solved my problem was basically some changes to the client code, as below:

[code]

Some pointers of what changed:

- Setting `disableOfflineQueue: true`, as suggested by @leibale before
- Adding implementation for the error event (`_client.on()` part)
- Removing the `await` when connecting to the server on `_client.connec

[2022-11-22 23:28] leibale commented on #2205
@GledsonAfonso thanks for summarizing it :)

just one note, I would suggest using the default `reconnectStrategy` instead of passing a custom one ([`retries => Math.min(retries * 50, 500)`](`https://github.com/redis/node-redis/blob/master/docs/client-configuration.md`))

[2022-11-23 00:57] ngocson952006 commented on #2332
Thanks, @leibale for your response. Honestly, I can not share the code because it's from my work project. But I can explain follow I that I encountered the error.

My project uses Node-Redis to read, and write Redis data and also uses Pub/Sub for notification handling.
First, I create a client for reading and writing data.

[code]

We use the URL to connect to Redis-Server and save this to the env

[2022-11-23 03:28] xizhe-qiu commented on #2011
https://github.com/facebook/create-react-app/issues/9468#issuecomment-694191642 seems to have solved mine

[2022-11-23 05:57] GledsonAfonso commented on #2205
Thanks for the heads up. Will do!

[2022-11-23 11:19] dannyk03 commented on #2011
node v14 does not work with the latest version of node-redis. Please use node v12 or v16.

[2022-11-23 23:55] bmiller59 commented on #2332
@ngocson952006 This seems relevant: https://docs.redis.com/latest/rs/references/client_references/client_nodejs/

[2022-11-24 00:14] bmiller59 commented on #2332
@ngocson952006 I had the same issue and i realized that I was not awaiting on the redis client connection before calling the subscribe() function. Make sure to await the connection first and I believe the issue will be resolved.

[2022-11-24 02:48] rajiff commented on #1661
Any one can please answer this question

[2022-11-24 13:16] #2332 closed

[2022-11-24 17:02] depak379mandal commented on #1656
Got the may Be,

According to me this is issue because of race condition of async tasks. So to overcome that we can just go with **_await_** or we can connect to socket or server after
[code]

May be this solves issues then I am glad.

[2022-11-24 17:59] kabapy commented on #1656
Unfortunately i couldn't resolve this issue
I ended up using "ioredis" package instead!!

[2022-11-24 19:01] #2205 closed

[2022-11-24 19:01] #2318 closed

[2022-11-24 19:03] #2010 closed

[2022-11-24 19:15] leibale commented on #2205
@GledsonAfonso `redis@4.5.1`/`@redis/client@1.4.2` is on npm :)

[2022-11-25 11:51] rafak opened #2333 "`QUIT()`/`quit()` not working as documented (returning undefined vs 'OK')"
[`.QUIT()`/`.quit()` documentation](https://github.com/redis/node-redis#quitquit) states that the value returned by the command is `'OK' ` which is probably assumed to be coming directly from redis as stated in [Redis QUIT docs](https://redis.io/commands/quit/)

when running the following code, quit returns `undefined`, not `'OK'`
it is either a bug in the code or a bug in the docs.

[code]

**Env

[2022-11-26 09:44] hypo-thesis opened #2334 "SORTBY causes the query to not be sent as javascript query."
I have a query as such

[code]

Which gives me valid javascript object in return with  `res.status(200).json(query)`

yet introducing `SORTBY: { BY: "date", DIRECTION: "DESC" },` to the options will cause the output to be sent like this :

[code]

How can I get a valid javascript object while using `sortby`?

**Environment:**
 - **Node.js Version**:  19.0.1
 - **Node Redis Version**: 4.5.1
 - **Pl

[2022-11-28 14:59] hypo-thesis commented on #2334
So it would appear that this requires a RETURN and if there is no RETURN the date structure comes back as the one above.

Adding  `RETURN : ['email' , 'name' , 'date' , 'status']` to the query solved the issue.

[2022-11-28 14:59] #2334 closed

[2022-11-28 15:49] Piccirello commented on #2113
Shortly after posting the above, I figured out my issue. The migration guide mentions that the v4 interface is still accessible using `client.v4`, while I was only using `client`. Switching to `client.v4` fixed the issue (example below). I'm not sure that the typing of the client is correct when using legacy mode, as it still supplies the v4 interfaces.

[code]